Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

Filter director instances to normal and rotation
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed incorrect roles apimodel
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Roles.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
  src/Fusion.Summary.Functions/Models/WeeklyTaskOwnerReportMessage.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Don't create or send reports for projects with no admins/director
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Use ODATA filter to retrieve active projects
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Init WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Resources.Functions.Common/Extensions/ObjectExtensions.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/Models/WeeklyTaskOwnerReportMessage.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

update build steps to new cr
  pipelines/api-pipeline.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-pr-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/nuget.config
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated deployment steps
  pipelines/api-pipeline.yml
Due: none

changed service connection to inline instead of variable as var is not supported
  pipelines/api-pipeline.yml
Due: none

Minor adjustments
  src/Fusion.Resources.Functions.Common/ApiClients/IRolesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated dns
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-pr-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fixed manifest name
  pipelines/api-pipeline.yml
Due: none

updated pr deployment to be isolated by name
  pipelines/api-pipeline.yml
  pipelines/api-pr-pipeline.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added poc step for container app deploy
  pipelines/api-pipeline.yml
  src/backend/api/Fusion.Resources.Api/Deployment/webapp.template.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added checkout step for depl file
  pipelines/api-pipeline.yml
Due: none

removed docker credentials in move to managed ident
  src/backend/api/Fusion.Resources.Api/Deployment/deploy-webapp.ps1
  src/backend/api/Fusion.Resources.Api/Deployment/webapp.template.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed missing parameter
  src/backend/api/Fusion.Resources.Api/Deployment/deploy-webapp.ps1
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Finalized container app deployment for res api
  src/backend/api/Fusion.Resources.Api/Deployment/deploy-webapp.ps1
  src/backend/api/Fusion.Resources.Api/Deployment/webapp.template.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

changed to wildcard in test env
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

aligned dns
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

working
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Task owner report logic
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IPeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/PeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientExtensions.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Remove old migrations
  src/backend/api/Fusion.Resources.Database/Migrations/20231221141201_Remove Contract entities.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20231221141201_Remove Contract entities.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated pr pipeline
  pipelines/api-pipeline.yml
  pipelines/api-pr-pipeline.yml
Due: none

Fixed incorrect tag
  pipelines/api-pr-pipeline.yml
Due: none

updated cache step
  pipelines/api-pr-pipeline.yml
Due: none

Commit to test caching
  pipelines/api-pr-pipeline.yml
Due: none

added cache-from arg
  pipelines/api-pr-pipeline.yml
Due: none

changed to two steps for docker build
  pipelines/api-pr-pipeline.yml
Due: none

Added debug step to list images on agent
  pipelines/api-pr-pipeline.yml
Due: none

Removed caching as it did not work
  pipelines/api-pr-pipeline.yml
Due: none

Cleanup, remove set cache
  pipelines/api-pr-pipeline.yml
Due: none

changed to wildcard cert
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated summary api deployment
  pipelines/summary-api-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
  pipelines/templates/deploy-container-app.yml
  pipelines/templates/deploy-summary-container-app.yml
  src/Fusion.Summary.Api/Deployment/deploy-webapp.ps1
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-test-env.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/Fusion.Summary.Api/Deployment/webapp.template.json
Due: pipelines/summary-api-pr-pipeline.yml

fixed dockerfile
  pipelines/summary-api-pr-pipeline.yml
Due: none

Fixed deployment manifest name
  pipelines/summary-api-pr-pipeline.yml
Due: none

Updated dns
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Aligned dns
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/summary-api-pr-pipeline.yml

Fixed incorrect ingress
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/summary-api-pr-pipeline.yml

Fixed incorrect manifest name
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-service.yml
Due: pipelines/summary-api-pr-pipeline.yml

Added test and updated logic
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml
