Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

build: update fusion-cli
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

add filter by proposed person to request endpoints
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

build: update cli
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

build: update fusion-cli (#378)
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

Specifying kind on DateTime properties to be Utc
  src/backend/api/Fusion.Resources.Database/Entities/DbContractorRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

add test for bad request when unit not set
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: none

Require unit for responsibility matrix (#373)
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/Requests/UpdateResponsibilityMatrixRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

resolve comment from CR
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetTasksForRequests.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

Enable expanding tasks/conversations on single requests items (#371)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetTasksForRequests.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestTaskTests.cs
Due: pipelines/api-pr-pipeline.yml

rename request tasks -> actions
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestAction.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddActionRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchActionRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/AddRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetActionsForRequests.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestActions.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/QueryRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/UpdateRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestTaskTests.cs
Due: pipelines/api-pr-pipeline.yml

Frontend - Fix date convertion
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/ResourcesDatePicker.tsx
  src/frontend/src/index.tsx
  src/frontend/src/models/CreatePersonnelRequest.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/utils.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditableTable/components/TableDatePicker.tsx
Due: none

add IsRequired and SentBy to Request Actions
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210824134236_Add_IsRequired_SentBy_ToRequestActions.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210824134236_Add_IsRequired_SentBy_ToRequestActions.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/AddRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/QueryRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/UpdateRequestAction.cs
Due: pipelines/api-pr-pipeline.yml

fix sql script
  src/backend/api/Fusion.Resources.Database/Migrations/20210824134236_Add_IsRequired_SentBy_ToRequestActions.cs
Due: pipelines/api-pr-pipeline.yml

Make IsRequired and SentBy non-nullable
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210825082303_Make_IsRequired_SentBy_NonNullable.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210825082303_Make_IsRequired_SentBy_NonNullable.cs
Due: pipelines/api-pr-pipeline.yml

use correct object id for app user
  src/backend/api/Fusion.Resources.Database/Migrations/20210824134236_Add_IsRequired_SentBy_ToRequestActions.cs
Due: pipelines/api-pr-pipeline.yml

set sent by when creating action
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/AddRequestAction.cs
Due: pipelines/api-pr-pipeline.yml

include sentby and isrequired in query/api models
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetActionsForRequests.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestActions.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/QueryRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/UpdateRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
Due: pipelines/api-pr-pipeline.yml

rename RequestTasks table
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210826065334_rename_request_tasks_actions.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210826065334_rename_request_tasks_actions.cs
Due: pipelines/api-pr-pipeline.yml

add isRequired to post request
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddActionRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/AddRequestAction.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiRequestAction.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

add isRequired to patch actions request
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchActionRequest.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/AddRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/DeleteRequestTask.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetActionsForRequests.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestActions.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/UpdateRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

fix patch of request actions
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
Due: pipelines/api-pr-pipeline.yml

Remove tracking of department/sectors in db
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentSector.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Data/InternalRequestData.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Use date-fns format fuction
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/utils.ts
Due: none

Version patch
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

Should consider and support removal of azure profiles. External personnel should be marked as deleted, and not available in queries
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827081538_ExternalPersonnelPerson IsDeleted.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827081538_ExternalPersonnelPerson IsDeleted.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/RefreshPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

fix warning
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentSector.cs
Due: pipelines/api-pr-pipeline.yml

drop departments table
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDepartment.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827102637_remove_departments_table.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827102637_remove_departments_table.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/UpdateDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentSector.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
Due: pipelines/api-pr-pipeline.yml

Remove tracking of sectors in resources db (#385)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDepartment.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827102637_remove_departments_table.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827102637_remove_departments_table.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/UpdateDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentSector.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Data/InternalRequestData.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

fix relevant departments when baseposition department is empty string
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

fixes from CR
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantDepartments.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pr-pipeline.yml

remove redundant null check
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelatedDepartments.cs
Due: pipelines/api-pr-pipeline.yml

fix namespacing
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDelegatedResourceOwnerRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDepartmentRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartment.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantDepartments.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/UpdateDepartmentRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

Do not return CEO's department as relevant when baseposition department is empty string (#387)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDelegatedResourceOwnerRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDepartmentRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartment.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantDepartments.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/UpdateDepartmentRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

add endpoint to delete delegated resource owner
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

fix comments from CR
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

Add endpoint to remove delegated resource owner (#388)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

Fronted - Fix date convert (#382)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/ResourcesDatePicker.tsx
  src/frontend/src/index.tsx
  src/frontend/src/models/CreatePersonnelRequest.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/utils.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditableTable/components/TableDatePicker.tsx
Due: none

fix position department
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

Use line org integration from Fusion.Integration.Lib
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentHandlerBase.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
