Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

Enabled summary az functions
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated Fusion.AspNetCore after new fix from core
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Added DebuggerDisplay for ApiResourceOwnerDepartment
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Ensure there are np duplicate azureids when sending report
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Spread messages over total batch time
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Add ability to limit parallelism within function from configuration
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Changed variable name
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Refactored to calculate date of enqueue time instead of delay
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed incorrect logging of complex objects
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Removed Parallel.ForEachAsync for DepartmentResourceOwnerSync
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated az run times
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Don't stop the entire execution if one notification fails
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Default concurrent sending of notifications set to 2
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Testing, trying to fix snyk erros
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

TEst
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Test snyk
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Testing, trying to fix snyk erros
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

TEst snyk
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Trim configuration values and set fallback value to PRD
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Department filter configuration for az function (#687)
  pipelines/templates/deploy-summary-function-pr-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added more exception handling
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Summary cleanup (#689)
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklySummaryReport.cs
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added missing departmentFilter setting to deploy-summary-function-template.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

chore: Added missing departmentFilter setting in deployment pipeline (#695)
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Added deploy-summary-container-app.yml
  pipelines/templates/deploy-summary-container-app.yml
Due: none

chore(Summary): Spread department messages over time + more error handling (#690)
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Update summary-api-pipeline.yml
  pipelines/summary-api-pipeline.yml
Due: none

Added OrgUnitDeleted.ArchiveDelegatedResourceOwnersHandler.cs
  src/backend/api/Fusion.Resources.Api/HostedServices/ExpiredDelegatedRolesHostedService.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDelegatedDepartmentResponsibleHistory.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.ArchiveDelegatedResourceOwnersHandler.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Refactor OrgUnitDeleted Handler into ArchiveDelegatedResourceOwners command
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/ArchiveDelegatedResourceOwners.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.ArchiveDelegatedResourceOwnersHandler.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added comment and fixed typo
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/ArchiveDelegatedResourceOwners.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added test
  src/backend/tests/Fusion.Resources.Domain.Tests/DepartmentTests.cs
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
Due: none

Removed try catch
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/ArchiveDelegatedResourceOwners.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Reverted auto formating
  src/backend/api/Fusion.Resources.Database/Entities/DbDelegatedDepartmentResponsibleHistory.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

TEST
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

tes
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: Fixed incorrect assigned variable
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: none

fix(summary): Fixes code typo where summary test fails on monday (#698)
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: none

Run command sequentially
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/ArchiveDelegatedResourceOwners.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml
