Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

Added tests to preferred contact mail updating
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/PersonnelApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Mocks/PeopleIntegrationMock.cs
  src/backend/tests/Fusion.Testing.Core/Diagnostics/TestLogger.cs
Due: none

fix acl test
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

more test fixes
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

extract interface for IRequestRouter
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Services/IRequestRouter.cs
  src/backend/api/Fusion.Resources.Domain/Services/RequestRouter.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Queries/ResolveResponsibleDepartment.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
Due: pipelines/api-pr-pipeline.yml

Fallback to base position when attempting to assign request (#359)
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Services/IRequestRouter.cs
  src/backend/api/Fusion.Resources.Domain/Services/RequestRouter.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Queries/ResolveResponsibleDepartment.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/UnassignedRequests/DepartmentUnassignedTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
Due: pipelines/api-pr-pipeline.yml

include all employees from department, and exclude other personnel
  src/backend/api/Fusion.Resources.Domain/Models/QueryInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
Due: pipelines/api-pr-pipeline.yml

Added logging when update in people fails
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/UpdateContractPersonnelContactMail.cs
Due: pipelines/api-pr-pipeline.yml

Refactored to separate file
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/EmailDomainValidator.cs
Due: pipelines/api-pr-pipeline.yml

AllocationRequest workflow - Direct workflow adjustments (#358)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/DirectAllocationRequestStarted.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/AllocationDirectWorkflowV1.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Requests/ApiCreateInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

Support preferred contact mail on external personnel (#346)
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiContractPersonnel.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/Requests/CreateContractPersonnelRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/Requests/UpdateContractPersonnelRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/Requests/UpdateContractPreferredMailRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/EmailDomainValidator.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/FusionEvents/ProfileSyncHandler.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Configuration/ApplicationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Application/People/IPeopleIntegration.cs
  src/backend/api/Fusion.Resources.Application/People/PeopleIntegration.cs
  src/backend/api/Fusion.Resources.Application/People/PeopleIntegrationException.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210624093958_Added preferred contact.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210624093958_Added preferred contact.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/SetPeoplePreferredContractMail.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/UpdateContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/UpdateContractPersonnelContactMail.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/NotificationHandlers/ClearPersonNotesHandler.cs
  src/backend/api/Fusion.Resources.Domain/NotificationHandlers/PersonnelUpdatedHandler.cs
  src/backend/api/Fusion.Resources.Domain/NotificationHandlers/ProfileUpdatedHandler.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/ProfileUpdated.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/PersonnelApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Mocks/PeopleIntegrationMock.cs
  src/backend/tests/Fusion.Testing.Core/Diagnostics/TestLogger.cs
Due: pipelines/api-pr-pipeline.yml

fetch direct reports to from search when subdepartments not included
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

fix tests
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

Fixed enviorment
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/api/env.ts
Due: none

Fixed ci url
  src/frontend/src/api/env.ts
Due: none

Date formatting in adaptive cards should now be formatted using notification util. Added request subtype to notification title. Formatted tests
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/AssignedDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

include all personnel if manager is not found
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pr-pipeline.yml

Include correct personnel in timeline/list view (#360)
  src/backend/api/Fusion.Resources.Domain/Models/QueryInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
Due: pipelines/api-pr-pipeline.yml

wip: assign draft requests
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

switched preview package to prod
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pr-pipeline.yml

New period formatting in adaptive cards
  src/backend/api/Fusion.Resources.Api/Extensions/ApiPositionInstanceV2Extensions.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/AssignedDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
Due: pipelines/api-pr-pipeline.yml

Reformat date
  src/backend/api/Fusion.Resources.Api/Extensions/ApiPositionInstanceV2Extensions.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
Due: pipelines/api-pr-pipeline.yml

Fixed typo
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/PersonnelMailsTable/cells/PreferredMail/index.tsx
Due: none

Formatted workload string added
  src/backend/api/Fusion.Resources.Api/Extensions/ApiPositionInstanceV2Extensions.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/AssignedDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
Due: pipelines/api-pr-pipeline.yml

Code review fixes
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/SavePersonnelError/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/ToolbarFilter/index.tsx
Due: none

temp
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/UpdateRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Conversations/AddRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Conversations/UpdateRequestConversationMessage.cs
Due: pipelines/api-pr-pipeline.yml

Add conversations to requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddRequestConversationMessageRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbConversationMessage.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210708103448_add_request_conversations.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210708103448_add_request_conversations.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Conversations/AddRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Conversations/GetRequestConversation.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Conversations/GetRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/EnumMappingExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryConversationMessage.cs
Due: pipelines/api-pr-pipeline.yml

add tests, fix db schema
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddRequestConversationMessageRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/UpdateRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbConversationMessage.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210709123024_add_request_conversation.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210709123024_add_request_conversation.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Conversations/AddRequestConversationMessage.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryConversationMessage.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiRequestMessage.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
Due: pipelines/api-pr-pipeline.yml

add endpoint to reset allocation request workflow
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/ResetWorkflow.cs
Due: pipelines/api-pr-pipeline.yml

add test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

add access control
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

attempt to route direct request when proposed person is set
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelevantDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Services/RequestRouter.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/DirectAllocationRequestStarted.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
Due: pipelines/api-pr-pipeline.yml

reset more info on requests
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/ResetWorkflow.cs
Due: pipelines/api-pr-pipeline.yml

change status code when not found
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

add test
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/DirectAllocationRequestStarted.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Requests/ApiCreateInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

only return 204
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Reset allocation state/workflow for request (#364)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/ResetWorkflow.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

add endpoint for requests related to a position
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Update packages
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Notification - Date formatting in adaptive cards (#362)
  src/backend/api/Fusion.Resources.Api/Extensions/ApiPositionInstanceV2Extensions.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/AssignedDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

Assign dept when person is proposed (#365)
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelevantDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Services/RequestRouter.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/DirectAllocationRequestStarted.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Requests/ApiCreateInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
