Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

feat: Support SAP id in api routes (#637)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Identifiers/OrgUnitIdentifier.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgOrgUnitHandler.cs
  src/backend/api/Fusion.Resources.Api/Resolvers/OrgUnitResolver.cs
  src/backend/api/Fusion.Resources.Api/Resolvers/ProjectResolver.cs
  src/backend/api/Fusion.Resources.Api/Swagger/StartupExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Identifiers/LineOrgId.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibles.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

Added persistent event handler to update request assigned department.
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgEventBody.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgOrgUnitHandler.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgSyncronizationHandler.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitPathUpdated.cs
Due: pipelines/api-pr-pipeline.yml

Fixed incorrect handler implemenation
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitPathUpdated.cs
Due: pipelines/api-pr-pipeline.yml

feat: Update assigned department on request when org unit is renamed (#639)
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgEventBody.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgOrgUnitHandler.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgSyncronizationHandler.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitPathUpdated.cs
Due: pipelines/api-pr-pipeline.yml

Added persistent event handler to update request assigned department.
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitPathUpdated.cs
Due: pipelines/api-pr-pipeline.yml

Clean up request relations when org units are deleted
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgSyncronizationHandler.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/AuditableCommandBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/MediatorExtension.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/SystemEditorScope.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.DeleteDraftChangeRequestsHandler.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.UnassignAllocationRequestsHandler.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

Changed to prefer http context user over system account if both are present.
  src/backend/api/Fusion.Resources.Domain/Behaviours/AuditableCommandBehaviour.cs
Due: pipelines/api-pr-pipeline.yml

Fixed comment
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgSyncronizationHandler.cs
Due: pipelines/api-pr-pipeline.yml

Added cleanup to responsebility matrix
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.CleanupResponsebilityMatrixHandler.cs
Due: pipelines/api-pr-pipeline.yml

Adding missing integrations
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/Integration/Authentication/AuthOptions.cs
  src/Fusion.Summary.Functions/Integration/Authentication/FunctionTokenProvider.cs
  src/Fusion.Summary.Functions/Integration/Authentication/ITokenProvider.cs
  src/Fusion.Summary.Functions/Integration/ServiceDiscovery/ConfigServiceResolver.cs
  src/Fusion.Summary.Functions/Integration/ServiceDiscovery/IServiceDiscovery.cs
  src/Fusion.Summary.Functions/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/Fusion.Summary.Functions/Startup.cs
Due: none

feat: Clean up requests when org unit is deleted (#640)
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgSyncronizationHandler.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/AuditableCommandBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/MediatorExtension.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/SystemEditorScope.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.CleanupResponsebilityMatrixHandler.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.DeleteDraftChangeRequestsHandler.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.UnassignAllocationRequestsHandler.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

Feat: Changed running conditions
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Removed department filter
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Moved variable out to a function property
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Department filter has been removed
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added small comment
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Reading config from config
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added some error handling for external calls
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Feat/summary/change running config (#642)
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

feat: app reg and rg setup
  infrastructure/app-registrations/sp-non-prod.json
  infrastructure/app-registrations/sp-prod.json
  infrastructure/azure-infra-setup.ps1
  infrastructure/config.json
  infrastructure/readme.md
Due: none

Fix: adjusted runtime and batch test
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Remove on startup
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Fix: adjusted runtime and batch test (#643)
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

updated pr pipeline
  pipelines/pr-cleanup-pipeline.yml
Due: none

Updated infra pipeline to support different service connection
  pipelines/environment-pipeline.yml
  pipelines/templates/arm-environments.yml
Due: none

Updated param for template
  pipelines/environment-pipeline.yml
  pipelines/templates/arm-environments.yml
Due: none

Fixed param ref
  pipelines/templates/arm-environments.yml
Due: none

Created Fusion.Resources.Functions.Common for common function logic
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/LineOrg.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Notifications.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ILineOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/INotificationApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IPeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/NotificationApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/PeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Authentication/AuthOptions.cs
  src/Fusion.Resources.Functions.Common/Integration/Authentication/FunctionTokenProvider.cs
  src/Fusion.Resources.Functions.Common/Integration/Authentication/ITokenProvider.cs
  src/Fusion.Resources.Functions.Common/Integration/Errors/ApiError.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/FunctionHttpMessageHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/LineOrgHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/NotificationsHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/OrgHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/PeopleHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/ResourcesHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientExtensions.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientNames.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientsOptions.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/UrlUtility.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ConfigServiceResolver.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/IServiceDiscovery.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/Fusion.Resources.sln
Due: none

Updated namespaces and change project framework version to 6.0
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/LineOrg.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Notifications.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ILineOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/INotificationApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IPeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/NotificationApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/PeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Authentication/AuthOptions.cs
  src/Fusion.Resources.Functions.Common/Integration/Authentication/FunctionTokenProvider.cs
  src/Fusion.Resources.Functions.Common/Integration/Authentication/ITokenProvider.cs
  src/Fusion.Resources.Functions.Common/Integration/Errors/ApiError.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/FunctionHttpMessageHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/LineOrgHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/NotificationsHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/OrgHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/PeopleHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/ResourcesHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientExtensions.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientNames.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientsOptions.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/UrlUtility.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ConfigServiceResolver.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/IServiceDiscovery.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ServiceEndpoint.cs
Due: none

Added startup config and settings template
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/Startup.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: none

Added testing function
  src/Fusion.Summary.Functions/Functions/TestFunctions.cs
Due: none

Added department-resource-owner-sync function logic
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/TestFunctions.cs
Due: none

Added initial SummaryApiClient.cs logic and function logic
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/SummaryHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientNames.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: none

GetResourceOwnersFromFullDepartment takes an ICollection<> instead of List<>
  src/Fusion.Resources.Functions.Common/ApiClients/ILineOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: none

Removed todo, updated summary httpClient name
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
Due: none

Updated function.template.json
  src/Fusion.Summary.Functions/Deployment/function.template.json
Due: none

Added cli project
  infrastructure/pipelines.md
  infrastructure/readme.md
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Fusion.Infra.Cli.Tests.csproj
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/GlobalUsings.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Helpers/ApiDatabaseRequestModel.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Helpers/ApiOperationResponse.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Helpers/DefaultInfraApiMessageHandler.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Helpers/Helper.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Helpers/TestCommandBuilder.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Helpers/TestFileLoader.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/Helpers/TestInfraOperation.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/ProvisionCommandTests.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.sln
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Commands/CommandBase.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Commands/Database/ApiDatabaseRequestModel.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Commands/Database/ApiOperationResponse.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Commands/Database/DatabaseCommand.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Commands/Database/ProvisionDatabaseCommand.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Commands/MainCommand.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Constants.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Fusion.Infra.Cli.csproj
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Program.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Properties/launchSettings.json
  pipelines/environment-pipeline.yml
Due: none

Added support for timeout
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli.Tests/ProvisionCommandTests.cs
  infrastructure/tooling/Fusion.Infra.Cli/Fusion.Infra.Cli/Commands/Database/ProvisionDatabaseCommand.cs
Due: none

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
