Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

feat: allow related access to summary, requests, and personnel
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeDirectDescendantResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeParentResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeSiblingResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: add sibling requirement to unassigned, not just options
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: temporarily allow delegated the same access to related departments
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: comment
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: check all responsible departments for delegate access
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
Due: none

chore: added test
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none

chore: trigger pr (change in authorization insufficient)
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: trigger RESOURCES pr
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: undo change to force pr build
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: evaluation message on failure
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
Due: none

fix: check for null and length when setting evaluation message
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
Due: none

fix: check all responsible departments for delegate access (#785)
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

comment to refresh pr
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

...
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: try allowing parents/siblings/descendants access summary report
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Authorization/ResourcesClaimTypes.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: copy local claims transformation from resources
  src/Fusion.Summary.Api/Authentication/SummaryLocalClaimsTransformation.cs
  src/Fusion.Summary.Api/Authorization/AccessRoles.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat: add sibling departments to requirement
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat: separate sibling to own requirement, add to remaining get endpoints
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeSiblingResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Domain/Utils/DepartmentPath.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: added tests for new accesses
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: renamed SummaryLocalClaimsTransformation -> ResourcesLocalClaimsTransformation
  src/Fusion.Summary.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Updated endpoint comment
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat(resources): Treat resource owner siblings as RelevantOrgUnits (#779)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantOrgUnit.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
  src/backend/api/Fusion.Resources.Domain/ReasonRoles.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: allow parents and siblings access to weekly summary report (#786)
  src/Fusion.Summary.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/Fusion.Summary.Api/Authorization/AccessRoles.cs
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeSiblingResourceOwnerRequirement.cs
  src/Fusion.Summary.Api/Authorization/ResourcesClaimTypes.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Domain/Utils/DepartmentPath.cs
  src/Fusion.Summary.Api/Program.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: trigger pr build
  src/backend/api/Fusion.Resources.Domain/Authorization/ResourcesClaimTypes.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: default include delegated resource owners in authorization
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
Due: none

chore: remove redundant include delegates = true
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: build error
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: update security matrix tests
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

feat: owner in any department check default includes delegates
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
Due: none

fix: ensure departments in test
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: default include delegated resource owners in authorization (#787)
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Handle wildcard role
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Handle wildcard role in summary api
  src/Fusion.Summary.Api/Authentication/ResourcesLocalClaimsTransformation.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix(resources): Handle wildcard* resource owner role (#788)
  src/Fusion.Summary.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Remove outdated CanDelegateAccessToDepartmentHandler and make BeResourceOwnerRequirement be more explicit
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none

fix(resources): Explicit BeResourceOwnerForAnyDepartment check (#789)
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Allow resource owners to assign delegated resource owners in sibling departments
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Update test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none
