Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration

Resource owner acl (#306)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

add endpoint to add delegated department responsible (#310)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDelegatedResourceOwnerRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

add resource owner auth to personell endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

add resource owner auth to personell endpoints (#314)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

consolidate options endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
Due: pipelines/api-pr-pipeline.yml

add auth to department request endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

add test
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

Promoted endpoints to v1 version
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Promoted department endpoints to v1
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

Updated tests to target v1 instead of preview
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SearchDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/UnassignedRequests/DepartmentUnassignedTests.cs
Due: none

Add auth for missing department endpoints (#315)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

Add options endpoints for person notes (#312)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
Due: pipelines/api-pr-pipeline.yml

Added type and sub type to event payload
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/Handlers/InternalRequests/RequestCreatedHandler.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/Handlers/InternalRequests/RequestDeletedHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/DeleteInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestDeleted.cs
  src/backend/integration/Fusion.Resources.Integration.Models/FusionEvents/ResourceAllocationRequestEvent.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Added type and sub type to event payload & line org endpoint url (#318)
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/Handlers/InternalRequests/RequestCreatedHandler.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/Handlers/InternalRequests/RequestDeletedHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/DeleteInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestDeleted.cs
  src/backend/integration/Fusion.Resources.Integration.Models/FusionEvents/ResourceAllocationRequestEvent.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Fixed filter field mapping for all requests
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

filter non-current delegated departments
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibilty.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

fix compiler warnings
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

Fixed filter field mapping for all requests (#319)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

Filter non-current department delegations on profile endpoint (#317)
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibilty.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

Added read access for requests in a project using the project options endpoint in org service
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Handlers/OrgProjectAccessHandler.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Requirements/OrgProjectAccessRequirement.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Added test to verify option endpoint grants access
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ProjectRequestAccessTests.cs
Due: none

Fixed threading issue
  src/backend/tests/Fusion.Testing.Mocks.OrgService/FusionTestProjectBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Resolvers/OrgResolverMock.cs
Due: none

Read access to requests for project update (#320)
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Handlers/OrgProjectAccessHandler.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Requirements/OrgProjectAccessRequirement.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ProjectRequestAccessTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/FusionTestProjectBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Resolvers/OrgResolverMock.cs
Due: pipelines/api-pr-pipeline.yml

extract authorization project
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Authorization/Handlers/OrgPositionAccessHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/OrgProjectAccessHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/ProjectAccessAuthHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/RequestCreatorHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/CurrentUserIsRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/OrgPositionAccessRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/OrgProjectAccessRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/ProjectAccess.cs
  src/backend/Fusion.Resources.Authorization/Requirements/RequestCommentAuthor.cs
  src/backend/Fusion.Resources.Authorization/Requirements/RequestCreatorRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/ScopeAccess.cs
  src/backend/Fusion.Resources.Authorization/Resources/ContractResource.cs
  src/backend/Fusion.Resources.Authorization/roles.json
  src/backend/Fusion.Resources.sln
  src/backend/api/Fusion.Resources.Api/Authorization/Handlers/ContractorInProjectHandler.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Extensions/ContextResolverExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Identifiers/ApiProjectIdentifier.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Mpp/MppController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestsController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Resolvers/ProjectResolver.cs
  src/backend/api/Fusion.Resources.Api/Swagger/StartupExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/ProjectIdentifier.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/ContractRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ModelTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
Due: pipelines/api-pr-pipeline.yml

fix warning
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
Due: pipelines/api-pr-pipeline.yml

rename ApiProjectIdentifier -> PathProjectIdentifier
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Extensions/ContextResolverExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Identifiers/PathProjectIdentifier.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Mpp/MppController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestsController.cs
  src/backend/api/Fusion.Resources.Api/Resolvers/ProjectResolver.cs
  src/backend/api/Fusion.Resources.Api/Swagger/StartupExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/ContractRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
Due: pipelines/api-pr-pipeline.yml

reference abstractions in stead of full Fusion.Integration package
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
Due: none

Extract authorization project (#321)
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Authorization/Handlers/OrgPositionAccessHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/OrgProjectAccessHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/ProjectAccessAuthHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/RequestCreatorHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/CurrentUserIsRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/OrgPositionAccessRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/OrgProjectAccessRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/ProjectAccess.cs
  src/backend/Fusion.Resources.Authorization/Requirements/RequestCommentAuthor.cs
  src/backend/Fusion.Resources.Authorization/Requirements/RequestCreatorRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/ScopeAccess.cs
  src/backend/Fusion.Resources.Authorization/Resources/ContractResource.cs
  src/backend/Fusion.Resources.Authorization/roles.json
  src/backend/Fusion.Resources.sln
  src/backend/api/Fusion.Resources.Api/Authorization/Handlers/ContractorInProjectHandler.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Extensions/ContextResolverExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Identifiers/PathProjectIdentifier.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Mpp/MppController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestsController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Resolvers/ProjectResolver.cs
  src/backend/api/Fusion.Resources.Api/Swagger/StartupExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/ProjectIdentifier.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/ContractRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ModelTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
Due: pipelines/api-pr-pipeline.yml

wip: workflow acl
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/UnauthorizedWorkflowException.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

update fusion integration lib
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

add tests
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

add acl for resource owner requests
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/CanApproveResourceOwnerStepHandler.cs
Due: pipelines/api-pr-pipeline.yml

add more test scenarios
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/CanApproveResourceOwnerStepHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

set states correctly (maybe?)
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/JointVentureAllocationRequestStarted.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Queries/ResolveResponsibleDepartment.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/AllocationJointVentureWorkflowV1.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

wip: jv requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

extract base class for step handlers
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Logic/Requests/CanApproveStepHandlerBase.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/CanApproveResourceOwnerStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/UnauthorizedWorkflowException.cs
Due: pipelines/api-pr-pipeline.yml

fix direct task owner requirement
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Authorization/Handlers/TaskOwnerForPositionAuthHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/OrgPositionAccessRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/TaskOwnerForPositionRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Services/RequestRouter.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/CanApproveStepHandlerBase.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/CanApproveStepHandler.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/CanApproveResourceOwnerStepHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

fix warnings
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Queries/ResolveResponsibleDepartment.cs
Due: pipelines/api-pr-pipeline.yml

Updated general access rules to include GBS and future PDP/TDI organisations.
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Updated general access rules to include GBS and future PDP/TDI organisations. (#323)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml
