Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

rename test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

added null check, rearranged tests
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Update.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Initialize.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/QueueRequestProvisioning.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/QueueRequestProvisioning.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/QueueRequestProvisioning.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/SetState.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Queue/ProvisionInternalRequestPositionMessageV1.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

remove provisioning stuff, to be worked on later
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/QueueRequestProvisioning.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/QueueRequestProvisioning.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/QueueRequestProvisioning.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Queue/ProvisionInternalRequestPositionMessageV1.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

moved create and update into specific request type
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/UpdateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Enums/DbRequestState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Update.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestDirectWorkflowV1.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestJointVentureWorkflowV1.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestNormalWorkflowV1.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/ResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

even more logic tests
  src/backend/tests/Fusion.Resources.Logic.Tests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/ResourceAllocationRequestTests.cs
Due: none

adjustments based on pr-feedback
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Reject.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestDirectWorkflowV1.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestJointVentureWorkflowV1.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestNormalWorkflowV1.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Get department requests endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/FusionTestResourceAllocationBuilder.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Empty initialization step removed.
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Initialize.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Initialize.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Initialize.cs
Due: pipelines/api-pr-pipeline.yml

moving validators into extensions
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/CreateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/UpdateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Validation/CustomValidatorExtensions.cs
Due: pipelines/api-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequestOrgPositionInstance.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Extensions/DictionaryExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Update.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Update.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequest/InternalRequestCreated.cs
Due: pipelines/api-pr-pipeline.yml

moved to extension
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Create.cs
Due: pipelines/api-pr-pipeline.yml

fixed state setting
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestDirectWorkflowV1.cs
Due: pipelines/api-pr-pipeline.yml

enabling test execution in docker build
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pr-pipeline.yml

docker test2
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pr-pipeline.yml

revert test execution
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pr-pipeline.yml

additional validation
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/JointVenture/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Normal/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/InternalRequestDirectWorkflowV1.cs
Due: pipelines/api-pr-pipeline.yml

Provisioning of Internal Requests. (type direct)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Contracts/CreatePosition.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Contracts/UpdatePosition.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/QueueRequestProvisioning.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/SetState.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProvisionRequestQueueTrigger.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Queue/ProvisionPositionMessageV1.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/OrgApiClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Fixed issue causing concurrent integration tests to run successfully
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
Due: none

removed provisioning endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

removed test endpoint
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

reintoduce endpoint and test after merge
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

patch request added
  src/backend/api/Fusion.Resources.Domain/Commands/Contracts/CreatePosition.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Contracts/UpdatePosition.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Provision.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/OrgApiClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

diff between put and patch
  src/backend/api/Fusion.Resources.Domain/Commands/Contracts/UpdatePosition.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
Due: pipelines/api-pr-pipeline.yml

remove arguments not required
  src/backend/api/Fusion.Resources.Domain/Commands/Contracts/UpdatePosition.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Provision.cs
Due: pipelines/api-pr-pipeline.yml

instance patch
  src/backend/api/Fusion.Resources.Domain/Commands/Contracts/UpdatePosition.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Provision.cs
Due: pipelines/api-pr-pipeline.yml

move to updateposition to request folder
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/UpdatePosition.cs
Due: pipelines/api-pr-pipeline.yml

Added comments endpoints for internal requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

adjust routes
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Improvements after CR
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

adjust tests after merge
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

Api - Fixed concurrent integration test run issues (#222)
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
Due: none

Adapt comments to support both external and internal requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestComment.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestComment.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/AddComment.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRequestComment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

revert test adjustment
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

Refactored code for sector and department personnel to shared utility functions.
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelPosition.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelTimelineItem.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryTimelineRange.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/api/Fusion.Resources.Domain/Utils/TimelineUtils.cs
Due: pipelines/api-pr-pipeline.yml

fix tests
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestComment.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/AddComment.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

adjust urls and added comments
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/UpdatePosition.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Direct/Provision.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProvisionRequestQueueTrigger.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
