Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

TEst
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

test
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated Fusion.AspNetCore after new fix from core
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Snyk test
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Snyk test
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Trigger Snyk
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Add _departmentFilter to sender
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added more logging, changed log levels for some existing logs. Allow DepartmentsFilter to be empty
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Copied old notification tests to new summary notification tests
  src/Fusion.Resources.sln
  src/tests/Fusion.Summary.Functions.Tests/Fusion.Summary.Functions.Tests.csproj
  src/tests/Fusion.Summary.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: none

Removed ToArray calls
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added nuget.config to test project
  src/tests/Fusion.Summary.Functions.Tests/Fusion.Summary.Functions.Tests.csproj
  src/tests/Fusion.Summary.Functions.Tests/nuget.config
Due: none

Update new test project
  src/tests/Fusion.Summary.Functions.Tests/Fusion.Summary.Functions.Tests.csproj
  src/tests/Fusion.Summary.Functions.Tests/xunit.runner.json
Due: none

Changed log level
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Disable new functions
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed invalid config
  src/Fusion.Summary.Api/Deployment/webapp.template.json
Due: pipelines/summary-api-pr-pipeline.yml

Fixed name casing issue
  src/Fusion.Summary.Api/Deployment/webapp.template.json
Due: pipelines/summary-api-pr-pipeline.yml

Fixed wrong "where" filter
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated check for checking if there are any recipients for a notification
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(summary): Add more logging and other minor fixes (#701)
  src/Fusion.Resources.sln
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
  src/tests/Fusion.Summary.Functions.Tests/Fusion.Summary.Functions.Tests.csproj
  src/tests/Fusion.Summary.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
  src/tests/Fusion.Summary.Functions.Tests/nuget.config
  src/tests/Fusion.Summary.Functions.Tests/xunit.runner.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Disable functions in prod
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Disable functions in all environments except PR
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Create Summary prod deployment container template (#696)
  pipelines/summary-api-pipeline.yml
  pipelines/templates/deploy-summary-container-app.yml
  src/Fusion.Summary.Api/Deployment/webapp.template.json
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(resources): Archive DelegatedResourceOwners when org unit is deleted (#697)
  src/backend/api/Fusion.Resources.Api/HostedServices/ExpiredDelegatedRolesHostedService.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDelegatedDepartmentResponsibleHistory.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/ArchiveDelegatedResourceOwners.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/System/OrgUnitDeleted.ArchiveDelegatedResourceOwnersHandler.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/DepartmentTests.cs
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added configuration key isSendingNotificationEnabled to be able to disable sending of notification
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added comments
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated wording
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Increased maxTelemetryItemsPerSecond to 40 and added http log filters
  src/Fusion.Summary.Functions/host.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed wrong logging context for SummaryHttpHandler
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/SummaryHttpHandler.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(summary): Add configuration value to disable sending of notification and adjusted logging (#702)
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/SummaryHttpHandler.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/Fusion.Summary.Functions/host.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: Use double instead of int for FTE
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiPersonnelMoreThan100PercentFTE.cs
  src/Fusion.Summary.Api/Database/Migrations/20240916124003_FTE_FromInt_ToDouble.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20240916124003_FTE_FromInt_ToDouble.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklySummaryReport.cs
Due: pipelines/summary-api-pr-pipeline.yml

Updated tests
  src/tests/Fusion.Summary.Api.Tests/Helpers/SummaryReportHelpers.cs
Due: none

fix(summary): Use double instead of int for FTE (#703)
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiPersonnelMoreThan100PercentFTE.cs
  src/Fusion.Summary.Api/Database/Migrations/20240916124003_FTE_FromInt_ToDouble.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20240916124003_FTE_FromInt_ToDouble.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklySummaryReport.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/SummaryReportHelpers.cs
Due: pipelines/summary-api-pr-pipeline.yml

Update packages
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated claimstransformer to add claims based on roles instead of profile and resource owner flag.
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Throw error on unsuccessful summary api call
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Extensions/HttpResponseMessageExtensions.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Disable old summary notification and enable new ones
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/backend/function/Fusion.Resources.Functions/Deployment/disabled-functions.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Removed duplicate ThrowIfUnsuccessfulAsync
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(resources): Packages update (#688)
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(summary): Error handling adjustments (#704)
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Extensions/HttpResponseMessageExtensions.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(summary): Enable new summary az funcs and disable old ones (#705)
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/backend/function/Fusion.Resources.Functions/Deployment/disabled-functions.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml
