Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

Fixed swagger type errors
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
Due: none

Updated swagger to have a page for each api version
  src/Fusion.Summary.Api/Swagger/StartupExtensions.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/AddApiVersionParameter.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/FusionSwaggerConfig.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerApiConfig.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Swagger/StartupExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Added ProducesResponseType
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated auth
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeSiblingResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated auth v2
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeSiblingResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Authorization/ResourcesClaimTypes.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added options endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat(resources): Get all relevant departments v1.1 independent of user access (#775)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Make DelegatedResourceOwnerForDepartment a const
  src/backend/api/Fusion.Resources.Domain/Authorization/ResourcesClaimTypes.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed unnecessary limitedAuth if case
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Treat resource owner siblings as RelevantOrgUnits
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantOrgUnit.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
  src/backend/api/Fusion.Resources.Domain/ReasonRoles.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Ensure date's time component is set to 00:00:00
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/ProposalParametersRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Show correct property name for errors
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix(resources): Ensure date's time component is set to 00:00:00 for proposed changes (#780)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/ProposalParametersRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added try catch when resolving org unit and changed log level
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat(resources): Add access controll to get department endpoint (#777)
  src/Fusion.Summary.Api/Swagger/StartupExtensions.cs
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeSiblingResourceOwnerRequirement.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/AddApiVersionParameter.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/FusionSwaggerConfig.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerApiConfig.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Swagger/StartupExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Authorization/ResourcesClaimTypes.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat: sort and filter weekly summary reports metadata
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReportsMetaData.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: remove initial sorting and select, move totalCount after filters applied
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReportsMetaData.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat(summary): sort and filter weekly summary reports metadata (#781)
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReportsMetaData.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

added temp pipeline for testing
  pipelines/db-provision-pipeline.yml
Due: none

removed self as db owner
  pipelines/db-provision-pipeline.yml
Due: none

Fixed service connection name
  pipelines/api-pr-pipeline.yml
  pipelines/db-provision-pipeline.yml
Due: none

changed file path
  pipelines/db-provision-pipeline.yml
Due: none

added required prop
  pipelines/db-provision-pipeline.yml
Due: none

Fixed param name
  pipelines/db-provision-pipeline.yml
Due: none

Removed copy mode arg
  pipelines/db-provision-pipeline.yml
Due: none

added owner
  pipelines/db-provision-pipeline.yml
Due: none

new db test
  pipelines/db-provision-pipeline.yml
Due: none

Give AM principal access
  pipelines/db-provision-pipeline.yml
Due: none

Added missing roles
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantOrgUnit.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added tests
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: none

feat: auto approve direct requests where resource owner sets location
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: added tests
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: remove unused var changesRequireApproval
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Comment
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantOrgUnit.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Remove accidental commited change
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Refactor name
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

refactor
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelevantOrgUnit.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: auto approve direct requests where resource owner sets location (#782)
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: add parent to related departments endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryRelatedDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: add parent to related departments endpoint (#783)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryRelatedDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml
