Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

Update tests v2
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none

feat(resources): Allow resource owners to assign delegated resource owners in sibling departments (#790)
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: add open requests workload
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutWeeklySummaryReportRequest.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklySummaryReport.cs
  src/Fusion.Summary.Api/appsettings.json
  src/Fusion.Summary.Functions/ReportCreator/ResourceOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: add required member
  src/tests/Fusion.Summary.Api.Tests/Helpers/SummaryReportHelpers.cs
Due: none

feat: db migration of summaryreports table
  src/Fusion.Summary.Api/Database/Migrations/20250730120409_OpenRequestsWorkload_to_db_column.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20250730120409_OpenRequestsWorkload_to_db_column.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat: populate column with N/A
  src/Fusion.Summary.Api/Database/Migrations/20250730120409_OpenRequestsWorkload_to_db_column.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat: add property to model and code formatting
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Summary.Functions/ReportCreator/ResourceOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: revert appsettings.json file
  src/Fusion.Summary.Api/appsettings.json
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: add missing method in worker
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: add open requests workload to notification
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Update WeeklyDepartmentSummarySender.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: add open requests workload (#791)
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutWeeklySummaryReportRequest.cs
  src/Fusion.Summary.Api/Database/Migrations/20250730120409_OpenRequestsWorkload_to_db_column.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20250730120409_OpenRequestsWorkload_to_db_column.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklySummaryReport.cs
  src/Fusion.Summary.Api/appsettings.json
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/ResourceOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/SummaryReportHelpers.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: update filtering logic of open requests and calculation of workload
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/ResourceOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: update number of open requests test
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: none

fix: test if changes to summary api triggers successful pipeline
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat: add migrations that fixes value in ci for wrong openRequestsWorkload value
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Fix(summary): update open requests filtering and total workload (#792)
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/ResourceOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: remove sql migration
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: remove sql migration (#793)
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20250821114004_FixOpenRequestsWorkloadValues.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: update lineorg url to use fra-lineorg
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(functions): update lineorg url to use fra-lineorg (#794)
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix(resources): use allocation time and patch assigned person when subtype is "RemoveResource"
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore(resources): don't publish event to allow manual provisioning
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: added integration test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
Due: none

fix(resources): treat SOxxxxxx as 'SapId'
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/ResolveLineOrgUnit.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/OrgUnitResolverTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix(resources): treat SOxxxxxx as 'SapId' (#797)
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/ResolveLineOrgUnit.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/OrgUnitResolverTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: move user-controleld bypass of sensitive methods
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: define permissions to github action
  .github/workflows/test-api.yml
Due: none

chore: ghas code scanning issues (#798)
  .github/workflows/test-api.yml
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: remove commented out event publishing
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix(resources): remove future allocation (#796)
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: add fra support to auth for additional tasks
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat(resources): add fra support to auth for additional tasks (#799)
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: removed docker registry service con
  pipelines/summary-api-pipeline.yml
Due: none

fix: removed docker regsitry service con for pr pipeline
  pipelines/summary-api-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
Due: none

chore: trigger pr pipeline
  src/Fusion.Summary.Api/ConfigurationExtensions.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: typo
  pipelines/summary-api-pr-pipeline.yml
Due: none

chore: trigger pr pipeline
  src/Fusion.Summary.Api/BaseController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: remove '' on registry name
  pipelines/summary-api-pr-pipeline.yml
  src/Fusion.Summary.Api/BaseController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml
