Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

use public pool
  pipelines/api-pipeline.yml
Due: none

fix whitespace
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
Due: none

remove comments
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
Due: pipelines/api-pr-pipeline.yml

update packages
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

remove incorrect mock of new api version
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
Due: none

Add FullDepartment to profile
  src/backend/api/Fusion.Resources.Database/Entities/DbPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220830122346_Add FullDepartment to profile.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220830122346_Add FullDepartment to profile.cs
  src/backend/api/Fusion.Resources.Domain/NotificationHandlers/ProfileUpdatedHandler.cs
Due: pipelines/api-pr-pipeline.yml

fix test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SecondOpinionTests.cs
Due: none

resolve comments from code review
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

fix comments from CR
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiSecondOpinionCount.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiSecondOpinionResult.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/SecondOpinionNotificationHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/DeleteSecondOpinionResponse.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/QuerySecondOpinionResult.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/UpdateSecondOpinionResponse.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/SecondOpinions/QuerySecondOpinionCount.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestStatus.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiTbnPositionTimeline.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/CreateOrUpdatePersonNote.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/ResetWorkflow.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/DeleteSecondOpinionResponse.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/QuerySecondOpinionResult.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/UpdateSecondOpinion.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRequestWorkflow.cs
  src/backend/api/Fusion.Resources.Domain/Services/PeopleCompanyResolver.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Update.cs
Due: pipelines/api-pr-pipeline.yml

try to disable hosted services and service discovery in tests
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
Due: none

cleanup
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

revert
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
Due: none

revert
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Testing.Core/IServiceCollectionExtensions.cs
Due: none

cleanup build warnings
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Initialize.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/SetState.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/QueueProvisioning.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/tests/Fusion.Testing.Core/IServiceCollectionExtensions.cs
Due: pipelines/api-pr-pipeline.yml

adjust notification for requesting a personnel request
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/SecondOpinionNotificationHandler.cs
Due: pipelines/api-pr-pipeline.yml

retry to disable hosted services and service discovery in tests
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Testing.Core/IServiceCollectionExtensions.cs
Due: none

fix build warnings
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SubscriptionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
  src/backend/api/Fusion.Resources.Api/Swagger/ToStringTypeConverter.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Queries/GetRequestWorkflow.cs
Due: pipelines/api-pr-pipeline.yml

final cleanup
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: none

fix failing test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SecondOpinionTests.cs
Due: none

rename property
  src/backend/api/Fusion.Resources.Database/Entities/DbPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220902074404_Add ResourceAllocationRequest Candidates.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220902074404_Add ResourceAllocationRequest Candidates.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/QueryRequestAction.cs
Due: pipelines/api-pr-pipeline.yml

fix test-model
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Responses/TestApiInternalRequestModel.cs
Due: none

Allow setting candidates for a request (#512)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220902074404_Add ResourceAllocationRequest Candidates.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220902074404_Add ResourceAllocationRequest Candidates.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/QueryRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Responses/TestApiInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SecondOpinionTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/UnassignedRequests/DepartmentUnassignedTests.cs
Due: pipelines/api-pr-pipeline.yml

fix option call for second opinion
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
Due: pipelines/api-pr-pipeline.yml

Removed unused functionality
  src/backend/api/Fusion.Resources.Database/DbQueries/ContractorRequestQueries.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetProjectContracts.cs
Due: pipelines/api-pr-pipeline.yml

Bump nuget packages, align role names
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ShareRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Domain/AccessRoles.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/Authorization/CanApproveStepHandlerBase.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

fix delete statement
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
Due: pipelines/api-pr-pipeline.yml

Enable support for usage of org unit scoped roles in authorization requirements (#509)
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ShareRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/AccessRoles.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/Authorization/CanApproveStepHandlerBase.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/RolesClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Api/OrgUnitController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

Add TR env
  pipelines/api-pipeline.yml
  pipelines/environment-pipeline.yml
  pipelines/function-pipeline.yml
  pipelines/fusion-app-pipeline.yml
  pipelines/secret-rotation-pipeline.yml
Due: none

Extend notification message for second opinion.
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/SecondOpinionNotificationHandler.cs
Due: pipelines/api-pr-pipeline.yml

PIPELINE - TR Environment (#519)
  pipelines/api-pipeline.yml
  pipelines/environment-pipeline.yml
  pipelines/function-pipeline.yml
  pipelines/fusion-app-pipeline.yml
  pipelines/secret-rotation-pipeline.yml
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/SecondOpinionNotificationHandler.cs
Due: pipelines/api-pr-pipeline.yml

Add support for custom app settings. To be used in kubernetes
  src/backend/api/Fusion.Resources.Api/Program.cs
Due: pipelines/api-pr-pipeline.yml

Add support for custom app settings. To be used in kubernetes (#521)
  src/backend/api/Fusion.Resources.Api/Program.cs
Due: pipelines/api-pr-pipeline.yml

New function reassigning requests assigned to an invalid/non-existing department
  src/backend/function/Fusion.Resources.Functions/ApiClients/ILineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IPeopleApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/PeopleApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Functions/InternalRequestsFunctions.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/LineOrgHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientFactoryBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientNames.cs
  src/backend/function/Fusion.Resources.Functions/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

disable by default
  src/backend/function/Fusion.Resources.Functions/Functions/InternalRequestsFunctions.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

add lineorg to deploy-function-template
  pipelines/templates/deploy-function-template.yml
Due: none

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
