Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

fixed swagger doc error
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Something broke, trying to fix swagger
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

* add data-cy for icon buttons: edit, close, help * add test case script for TC 13030 Allocate Contract
  src/frontend/e2e/cypress/POM/AllocateContractPage.ts
  src/frontend/e2e/cypress/POM/ContractDetailGeneralPage.ts
  src/frontend/e2e/cypress/integration/03-allocateContract.spec.ts
  src/frontend/e2e/cypress/integration/General/contractDetail.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/package-lock.json
  src/frontend/package-lock.json
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ContractDetailsPage/index.tsx
Due: none

Fixed duplicate definition of enum which created problems when making swagger docs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/ApiModels/ApiPersonAbsence.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pr-pipeline.yml

Added code back after duplicate fix
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

move AllocateContractPage.ts elements into ContractEditPage.ts
  src/frontend/e2e/cypress/POM/AllocateContractPage.ts
  src/frontend/e2e/cypress/POM/ContractEditPage.ts
  src/frontend/e2e/cypress/integration/03-allocateContract.spec.ts
  src/frontend/package-lock.json
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/useContractPageNavigationStructure.tsx
Due: none

Testing to add has change request on position entity
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelPosition.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

added missing parameter
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Fixed another missing piece
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Added improved handling of odata errors
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Middleware/ExceptionMiddleware.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Added support for filtering based on correlation id
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

New pipeline for rotation
  pipelines/secret-rotation-pipeline.yml
Due: none

Update secret-rotation-pipeline.yml for Azure Pipelines
  pipelines/secret-rotation-pipeline.yml
Due: none

Added initial script for credentials management
  src/backend/infrastructure/generate-secret.ps1
Due: none

Added query param to comments
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Changed the location header for batch create
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Aligned validator with db model restrictions
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/BatchCreateResourceAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

Refactoring
  src/backend/api/Fusion.Resources.Api/Controllers/Person/ApiModels/ApiPersonAbsence.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pr-pipeline.yml

Simplefying logic for expanding actions
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
Due: pipelines/api-pr-pipeline.yml

Removed poc test for testing invalid filter responses
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

Include person in analytics absence
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonAbsence.cs
Due: pipelines/api-pr-pipeline.yml

More refactor inb4 code review
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Timeline/PersonnelTimelineBuilder.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/api/Fusion.Resources.Domain/Utils/TimelineUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
Due: pipelines/api-pr-pipeline.yml

Initial scripts, without actual commands
  pipelines/secret-rotation-pipeline.yml
  src/backend/infrastructure/cleanup-secrets.ps1
  src/backend/infrastructure/generate-secret.ps1
Due: none

Fixed path for cleanup script
  pipelines/secret-rotation-pipeline.yml
Due: none

Fixed path for ci
  pipelines/secret-rotation-pipeline.yml
Due: none

Final pipeline
  pipelines/secret-rotation-pipeline.yml
  src/backend/infrastructure/cleanup-secrets.ps1
  src/backend/infrastructure/generate-secret.ps1
Due: none

Changed to multistage pipeline
  pipelines/secret-rotation-pipeline.yml
Due: none

Fixed duplicate stage name
  pipelines/secret-rotation-pipeline.yml
Due: none

Changed dependency for pr env to run with ci
  pipelines/secret-rotation-pipeline.yml
Due: none

Updated existing pipelines to use correct secret
  pipelines/api-pipeline.yml
  pipelines/api-pr-pipeline.yml
Due: none

Pipeline for rotating client secret (#410)
  pipelines/api-pipeline.yml
  pipelines/api-pr-pipeline.yml
  pipelines/secret-rotation-pipeline.yml
  src/backend/infrastructure/cleanup-secrets.ps1
  src/backend/infrastructure/generate-secret.ps1
Due: none

TC 13041 Edit contract
  src/frontend/.gitignore
  src/frontend/e2e/cypress/POM/ContractDetailGeneralPage.ts
  src/frontend/e2e/cypress/POM/ContractEditPage.ts
  src/frontend/e2e/cypress/fixtures/ContractData.json
  src/frontend/e2e/cypress/integration/02-chooseProject.spec.ts
  src/frontend/e2e/cypress/integration/03-allocateContract.spec.ts
  src/frontend/e2e/cypress/integration/General/contractDetail.spec.ts
  src/frontend/e2e/cypress/integration/General/editContract.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ContractDetailsPage/index.tsx
Due: none

Removed dependency to shared client secret
  pipelines/templates/arm-environments.yml
  src/backend/infrastructure/arm-templates/environment.template.json
  src/backend/infrastructure/deploy-resources.ps1
Due: pipelines/environment-pipeline.yml

Removed dependency to shared client secret (#411)
  pipelines/templates/arm-environments.yml
  src/backend/infrastructure/arm-templates/environment.template.json
  src/backend/infrastructure/deploy-resources.ps1
Due: pipelines/environment-pipeline.yml

Added step to delete connection string from key vault in pr env
  pipelines/environment-pipeline.yml
Due: none

CreatePositions assignedPerson model was using wrong ID field. Was azureUniqueId, changed to azureUniquePersonId. Changes in ExternalPositionSideSheet reflect this change.
  src/frontend/src/models/createPositionRequest.ts
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/components/ExternalPositionSidesheet.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ContractDetailsPage/index.tsx
Due: none

Added force switch
  pipelines/environment-pipeline.yml
Due: none

fix person
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonAbsence.cs
Due: pipelines/api-pr-pipeline.yml

Added delete permission to SP access policy
  src/backend/infrastructure/deploy-resources.ps1
Due: none

force build
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
