Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

Added Fusion.Events.Core to fix error
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: none

Fixed tests
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: none

Fixed Error "Engine type was not configured"
  src/backend/api/Fusion.Resources.Database/Configuration/DatabaseConfigurationExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed old comment
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed deprecated FluentValidation.AspNetCore and added test to check fluent validation of request objects
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/DepartmentTests.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

test
  .github/dependabot.yml
Due: none

chore: Updated dependabot config (#754)
  .github/dependabot.yml
Due: none

update
  .github/dependabot.yml
Due: none

chore: Update dependabot schedule (#760)
  .github/dependabot.yml
Due: none

feat: require location when creating a change request
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: create shared functionality for checking proposals and change requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: removed superfluous null checking
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat(resources): Added option to propose another basePosition for an allocation request (#748)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: set state to "ACTIVE" if null
  src/backend/api/Fusion.Resources.Domain/Commands/BaseHandlers/ResponsibilityMatrixBaseHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Projects/SyncProjectStates.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: require location in validation for other tasks (#751)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/Requests/CreatePersonAbsenceRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/Requests/UpdatePersonAbsenceRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/ApiPositionV2Extensions.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/PositionInstanceBuilder.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: add tests
  src/backend/api/Fusion.Resources.Api/FusionEvents/OrgProjectHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionEventHandlerTests/ProjectSync.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Responses/TestApiProjectReference.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: created a string extension for handling null project state
  src/backend/api/Fusion.Resources.Api/FusionEvents/OrgProjectHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/BaseHandlers/ResponsibilityMatrixBaseHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Projects/SyncProjectStates.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/StringExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore(deps): Update dependencies in Summary api and Resources Api (#752)
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Configuration/HttpMessageHandlers/ApplicationCommonLibMessageHandler.cs
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgClient.cs
  src/backend/api/Fusion.Resources.Database/Authentication/AzureTokenAuthenticationManager.cs
  src/backend/api/Fusion.Resources.Database/Configuration/DatabaseConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/DepartmentTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: allow null state in QueryRef, where it might not be applicable
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: added comment to QueryProjectRef constructor
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed build errors for apis
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/DictionaryExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient/Models/ApiContractReferenceV2.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient/OrgApiClient.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient/OrgClientRequestHeadersScope.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/UpdateOrgPositionInstanceHaveRequest.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed build errors for tests
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Requests/ApiCreateInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Responses/TestApiInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ProjectRequestAccessTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/ResourceOwnerChangeTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/ContextResolverMock.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/DraftsController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/ProjectIdentifier.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/ProjectsController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/ViewModels/Request/Patch/PatchInstanceRequest.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/FusionTestContractBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/FusionTestProjectBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/ApiPositionInstanceExtensions.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/ApiPositionV2Extensions.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/PositionInstanceBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/TestPositionBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgTestData.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Resolvers/OrgResolverMock.cs
Due: none

Fixed tests
  src/backend/Fusion.Resources.Authorization/Handlers/OrgPositionAccessHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/OrgProjectAccessHandler.cs
  src/backend/Fusion.Resources.Authorization/Handlers/TaskOwnerForPositionAuthHandler.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ResetAllocationState.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient/Abstractions/IOrgApiClient.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient/Abstractions/IOrgApiClientFactory.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient/OrgApiClient.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient/OrgApiClientFactory.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/UpdateOrgPositionInstanceHaveRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/ResourceOwnerChangeTests.cs
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated azure functions
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/tests/Fusion.Summary.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Revert earlier fix
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceControllerBase.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

test
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: api should not return null for project state (#761)
  src/backend/api/Fusion.Resources.Api/FusionEvents/OrgProjectHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/BaseHandlers/ResponsibilityMatrixBaseHandler.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Projects/SyncProjectStates.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/StringExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionEventHandlerTests/ProjectSync.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Responses/TestApiProjectReference.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

require auth on endpoints
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix(resources): Default require authentication on endpoints (#770)
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Add logging and increased default parallelism for sender
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Ensure location is set when approving request instead of when patching it
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Check for null
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Use summary comment block
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Also check if location object is of type JsonElement
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Revert "Use summary comment block"
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated more dependencies
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: Add logging and increased default parallelism for weekly department sender (#771)
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml
