Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

pipelines/api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
              parameters:
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

pipelines/summary-api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

Update deployment template
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated deployment settings
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix: Update Azure function deployment settings (#682)
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Update local.settings.template.json and update common function lib
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Remove Microsoft.Extensions.Configuration
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
Due: none

Test fix
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
Due: none

Trigger func
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

chore: Add summary report queue to arm templates (#679)
  infrastructure/arm/environment.template.json
Due: none

Changed defaultMessageTimeToLive to P1D
  infrastructure/arm/environment.template.json
Due: none

Updated format again to 1H
  infrastructure/arm/environment.template.json
Due: none

Updated format again to PT1H
  infrastructure/arm/environment.template.json
Due: none

fix: Fixed invalid format for defaultMessageTimeToLive value (#684)
  infrastructure/arm/environment.template.json
Due: none

Fixed summary func app name
  infrastructure/arm/environment.template.json
Due: none

Updated function deploy templated
  pipelines/summary-function-pipeline.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Fixed spacing
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Removed tab characters
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Trigger resources PR pipeline
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fix missing dbTagPrefix from api-pr-pipeline.yml
  pipelines/api-pr-pipeline.yml
Due: none

chore(summary): Create Summary api deployment pipeline and update summary api PR pipeline (#678)
  pipelines/api-pr-pipeline.yml
  pipelines/pr-cleanup-pipeline.yml
  pipelines/summary-api-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
  pipelines/templates/execute-sql-migration.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-pr-env.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-test-env.yml
  src/Fusion.Summary.Api/Dockerfile
  src/Fusion.Summary.Api/Program.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Wrong build path for summary function
  pipelines/summary-function-pipeline.yml
Due: none

Trigger summary PR function pipeline
  src/Fusion.Summary.Functions/Startup.cs
Due: none

Use FRA Automation Non-Prod SubService for summary-function-pr-pipeline.yml
  pipelines/summary-function-pr-pipeline.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
Due: none

Trigger pipeline
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

chore: Update summary function app pipelines (#677)
  infrastructure/arm/environment.template.json
  pipelines/summary-function-pipeline.yml
  pipelines/summary-function-pr-pipeline.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Startup.cs
Due: none

Trigger
  src/Fusion.Summary.Api/Program.cs
  src/Fusion.Summary.Functions/Startup.cs
  src/backend/api/Fusion.Resources.Api/Program.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Update
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
Due: pipelines/summary-api-pr-pipeline.yml

Added null checks for baseposition and projecttype
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat/filter out product positions from GetDepartmentPersonnel (#671)
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: Summary report email layout (#676)
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Notifications.cs
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/AdaptiveCardBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Filter out product positions from GetPersonnelAllocation
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonnelAllocation.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: Filter out product positions from GetPersonnelAllocation (#686)
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonnelAllocation.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added department filer configuration
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: none

Downgrade to Fusion.AspNetCore 7.0.1 due to problems parsing PatchProperty<ApiPropertiesCollection?> in 8.0.4
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Add missing ApiVersion attribute
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Minor updates
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Update deployment template
  pipelines/templates/deploy-summary-function-pr-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: none

Added MapToApiVersion to fix conflicting versioning in swagger
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added missing ApiVersion attribute
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Cleaned up TODOs and moved to ProblemDetails and updated status codes
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklySummaryReport.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: pipelines/summary-api-pr-pipeline.yml

Run weekly-department-recipients-sync only on monday
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: none

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
