Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

Adjusted the way we get change-log. Added Parallel.ForEachAsync
  src/backend/function/Fusion.Resources.Functions/ApiClients/IOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/OrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Adjust the way we filter ResourceAllocationRequests to find AllocationChangesAwaitingTaskOwnerAction
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Adjusted filtering of change-log so that we only get changes for specific instances.
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

added some formating
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix/Adjust AllocationChangesAwaitingTaskOwnerAction for summary notifications (#616)
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix: Scheduled notifications: Adjusted getting change-log (#615)
  src/backend/function/Fusion.Resources.Functions/ApiClients/IOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/OrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

moved logic to objects
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCards/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/PersonnelContent.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/ResourceOwnerReportData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

cleanup
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/ResourceOwnerReportData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

files moved to resourceowner namespace
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

test project added
  src/backend/function/Fusion.Resources.Functions/ApiClients/IOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

more tests added
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

readme updated
  README.md
Due: none

enums added to request state and request type
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

feat(functions): Unit tests added to notification-functions (#617)
  README.md
  src/backend/function/Fusion.Resources.Functions/ApiClients/IOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCards/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/PersonnelContent.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Fix: Leaders for department should have access to sub department in "relevant-departments"
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
  src/backend/api/Fusion.Resources.Domain/ReasonRoles.cs
Due: pipelines/api-pr-pipeline.yml

Exluding external personnel when creating summary notification + Removed getting of leave from endpoint
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

feat: Remove external personnel from summary notification (#619)
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Adjusted /relevant-department to only give sub department when manager or delegated manager
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Cleanup
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
  src/backend/api/Fusion.Resources.Domain/ReasonRoles.cs
Due: pipelines/api-pr-pipeline.yml

string generation moved to card-builder
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

(fix)function: Average time to handle request update (#620)
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added so that if only department name is set as department for delegated responsible it will also be included when getting relevant-department
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Adjustments to relevant department so that we only get the direct children
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Removed .ToList() after feedback from code review
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Fix: Leaders for department should have access to sub department in "relevant-departments" (#618)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Fix so that when we are admin we will get all departments as relevant-departments
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Fix so that when we are admin we will get all departments as relevant… (#621)
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

fix: implemented httpclient to extend request timeout
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/ResourceOwnerChangeTests.cs
Due: pipelines/api-pr-pipeline.yml

Added IOrgClient
  src/backend/api/Fusion.Resources.Domain/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Services/IApiClient.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/ResourceOwnerChangeTests.cs
Due: pipelines/api-pr-pipeline.yml

Fixed test
  src/backend/api/Fusion.Resources.Domain/Services/OrgClient.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/ResourceOwnerChangeTests.cs
Due: pipelines/api-pr-pipeline.yml

Created a new client based of http factory that supports longer timeout
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Services/IOrgHttpClient.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgHttpClient.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/ResourceOwnerChangeTests.cs
Due: pipelines/api-pr-pipeline.yml

Cleanups
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Services/OrgHttpClient.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

Consultant and Employee should get limited Delegated Resource Owners
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

feature: Consultant and Employee should get limited Delegated Resource Owners (#623)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

Added caching of deleted positionIds when getting requets with expanded (resolving positions)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

Added obs to personnel data set where applicable
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelPosition.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelTimelineItem.cs
Due: pipelines/api-pr-pipeline.yml

Fixed obs not being loaded when parsing source data
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Added retry logic to fetching position after drafting
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
Due: pipelines/api-pr-pipeline.yml

Removed unused using
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

Added API version to request
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
