Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

API/AzFunc - ProfileSync - Should not update azureUniqueId for existing external personnel (#457)
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Version bump
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

feat: added ad status in manage mpp table and filter
  src/frontend/src/models/PositionWithPersonnel.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/index.tsx
Due: none

Frontend - Added upn to personnel side sheet and table (#455)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/models/Personnel.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditablePositionDetails/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditablePositionDetails/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelColumns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/styles.less
Due: none

feat: added upn search in personnel filter
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
Due: none

fix: Added upn nullable check in filter search
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
Due: none

Endpoint to replace contract personnel
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/Requests/ReplaceContractPersonnelRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Should only be able to replace expired accounts
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
Due: pipelines/api-pr-pipeline.yml

Ensure new person, and make sure preferred contact email is copied if exists on existing account
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Telemetry logging
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/Requests/ReplaceContractPersonnelRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
Due: pipelines/api-pr-pipeline.yml

Extra validation
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
Due: pipelines/api-pr-pipeline.yml

fix null ref when subject person not found
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
Due: pipelines/api-pr-pipeline.yml

Frontend - Added upn search in personnel filter (#461)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
Due: none

Org-integration for replacing assigned person
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceProjectPositionInstancesAssignedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/JsonNetExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

deleted state to azureAdIcon
  src/frontend/src/models/Personnel.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/AzureAdStatusIndicator/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditablePositionDetails/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/RequestDetailsSideSheet/CompactPersonDetails.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/PersonnelMailsTable/getColumns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelColumns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
Due: none

Added azureId in personnel search
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
Due: none

Had to switch to contract endpoint for updating draft instances via position
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceProjectPositionInstancesAssignedPerson.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
Due: pipelines/api-pr-pipeline.yml

cleanup draft if failure during patch
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceProjectPositionInstancesAssignedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
Due: pipelines/api-pr-pipeline.yml

Add `ChangeRequestStatus` to person posiiton item
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestStatus.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelPosition.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryRequestStatus.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

hardcode date
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

Audit/logging of contract personnel replacement
  src/backend/api/Fusion.Resources.Database/Entities/DbContractPersonnelReplacement.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220127125233_ContractPersonnelReplacementAuditing.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220127125233_ContractPersonnelReplacementAuditing.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/CreateContractPersonnelReplacementAudit.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
Due: pipelines/api-pr-pipeline.yml

audit log test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
Due: none

Revert "hardcode date"
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

ensure position does not interfere with other tests when run in parallel
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

Add `ChangeRequestStatus` to Person Position Timeline (#454)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestStatus.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelPosition.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryRequestStatus.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

Added comment to PersonIdReplacements property
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
Due: pipelines/api-pr-pipeline.yml

API - ContractPersonnel - Replace person (#462)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/Requests/ReplaceContractPersonnelRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbContractPersonnelReplacement.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220127125233_ContractPersonnelReplacementAuditing.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220127125233_ContractPersonnelReplacementAuditing.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/CreateContractPersonnelReplacementAudit.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceProjectPositionInstancesAssignedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/JsonNetExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ContractPersonnelReplacementTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Options endpoint shoult not return apimodel
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Options endpoint shoult not return apimodel (#463)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

delete actions when request is provisioned
  src/backend/api/Fusion.Resources.Logic/DeleteActionsHandler.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
Due: pipelines/api-pr-pipeline.yml

reject new actions after completion
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

remove comment
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: none

New accounts never got azureUniqueId. Should be set on first attempt
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

Delete actions when request is provisioned (#456)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Logic/DeleteActionsHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
Due: pipelines/api-pr-pipeline.yml

New accounts never got azureUniqueId. Should be set on first attempt (#464)
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

require internal full control
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
Due: pipelines/api-pr-pipeline.yml

allow both Fusion.Resources.FullControl and Fusion.Resources.Internal.FullControl roles access to request routing
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
Due: pipelines/api-pr-pipeline.yml

feat: Handle deleted accounts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/api/ApiClient.ts
  src/frontend/src/api/ResourceCollection.ts
  src/frontend/src/models/ReplacePersonRequest.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelInfoSideSheet/DeletedAccountInfo.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelInfoSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelInfoSideSheet/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelInfoSideSheet/useReplacePersonAccess.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/ReplaceUserSideSheet/ReplaceUserSideSheetContent.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/ReplaceUserSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/ReplaceUserSideSheet/styles.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/ReplaceUserSideSheet/useCheckForUpdatedPerson.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/ReplaceUserSideSheet/useUpdatePerson.ts
Due: none

allow both Fusion.Resources.FullControl and Fusion.Resources.Internal.FullControl roles access to request routing (#465)
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
Due: pipelines/api-pr-pipeline.yml

Added mpp filter
  docs/contract-management.md
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelColumns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/ReplaceUserSideSheet/useUpdatePerson.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/components/RadioFilter/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/styles.less
Due: none

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
