Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

pipelines/api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Cache@2
        displayName: Cache task
        inputs:
          key: docker | "$(Agent.OS)" | cache
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
              parameters:
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

pipelines/summary-api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

pipelines/summary-function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Summary.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

Reverted changes to unrelated file
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

reverted unrelated change
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
Due: none

chore(pipeline): Changed AKS cluster (#715)
  pipelines/api-pipeline.yml
  pipelines/api-pr-pipeline.yml
  pipelines/summary-api-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
  pipelines/templates/deploy-container-app.yml
  pipelines/templates/deploy-summary-container-app.yml
  src/Fusion.Summary.Api/Deployment/deploy-webapp.ps1
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-service.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/Fusion.Summary.Api/Deployment/webapp.template.json
  src/backend/api/Fusion.Resources.Api/Deployment/deploy-webapp.ps1
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/webapp.template.json
  src/nuget.config
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Disable az function
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Trigger summary api pr env
  src/Fusion.Summary.Api/README.md
Due: pipelines/summary-api-pr-pipeline.yml

chore: Purge secret ConnectionStrings--ResourcesDbContext for PR infra deployment
  pipelines/environment-pipeline.yml
Due: none

Update summary api pr env url for summary az function
  pipelines/templates/deploy-summary-function-pr-template.yml
Due: none

feat(summary): AZ function Task owner report sync (#713)
  infrastructure/arm/environment.template.json
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Roles.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IRolesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Extensions/ObjectExtensions.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Errors/ApiError.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/RolesHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientExtensions.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientNames.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/Fusion.Summary.Api/README.md
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/Helpers/QueueTimeHelper.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/Models/WeeklyTaskOwnerReportMessage.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed to correct equinor dns
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix(pipelines): Fixed incorrect equinor dns for aks services (#717)
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Update Fusion Urls
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fix code
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat(summary): Add Task Owner Report endpoints (#711)
  src/Fusion.Resources.sln.DotSettings
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiProject.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutProjectRequest.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutWeeklyTaskOwnerReportRequest.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Controllers/TaskOwnerReportsController.cs
  src/Fusion.Summary.Api/Database/Migrations/20241023141731_Add_TaskOwnerReports_Table.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20241023141731_Add_TaskOwnerReports_Table.cs
  src/Fusion.Summary.Api/Database/Models/DbProject.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Database/SummaryDbContext.cs
  src/Fusion.Summary.Api/Domain/Commands/CreateProject.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Domain/Commands/UpdateProject.cs
  src/Fusion.Summary.Api/Domain/Models/Period.cs
  src/Fusion.Summary.Api/Domain/Models/QueryProject.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Domain/Queries/GetProjects.cs
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklyTaskOwnerReports.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/ProjectHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/WeeklyTaskOwnerReportHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/ProjectTests.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/WeeklyTaskOwnerReportTests.cs
Due: pipelines/summary-api-pr-pipeline.yml

Fix quotes
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Remove duplciate key
  pipelines/templates/deploy-summary-function-pr-template.yml
Due: none

Fix quote
  pipelines/templates/deploy-function-template.yml
Due: none

Fix notification url
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

TEST: Trigger resources pr pipeline
  src/backend/api/Fusion.Resources.Api/Program.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

TEST: Trigger resources pr pipeline
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fix url for notification
  pipelines/templates/deploy-summary-function-pr-template.yml
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Disable resources connection string for pr env instead of soft deleting it
  pipelines/environment-pipeline.yml
Due: none

chore(iac): Disable resources connection string for PR env instead of soft deleting it (#719)
  pipelines/environment-pipeline.yml
Due: none

Updated tests
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: none

Minor cleanup
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

WIP manager test setup
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

Updated claimstransformer to add claims based on roles instead of profile and resource owner flag.
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

refactored
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Changed auth to new requirement
  src/backend/Fusion.Resources.Authorization/Requirements/ResourceOwnerRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.Preview.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ShareRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed security matrix tests
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ProjectRequestAccessTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: none

Updated tests to construct manager correctly
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
Due: none

Fixed tests, refactored how manager for departments is fetched
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/api/Fusion.Resources.Api/Extensions/ClaimsPrincipalExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed tests by fixing mocking setup
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: none

Fixed tests
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none

Fixed & refactored tests
  src/backend/tests/Fusion.Resources.Api.Tests/Data/InternalRequestData.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: none

Changed test department to avoid collision
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: none

Added support for emulate access
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Filter/EmulatedUserSupport.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: Isolate k8s config files to application
  src/Fusion.Summary.Api/Deployment/k8s/deployment-service.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Added options with emulate to personnel
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: Isolated k8s config files (#723)
  src/Fusion.Summary.Api/Deployment/k8s/deployment-service.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
