Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

fix: update container registry
  pipelines/summary-api-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
  src/Fusion.Summary.Api/BaseController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: update migration path in dockerfile
  src/Fusion.Summary.Api/Dockerfile
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Changed resource group lookup to use name
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Changed resource group lookup to use name (#802)
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Modified filter to include additional source filter.
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Modified filter to include additional source filter. (#801)
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: set lineorg, org and resources to point against radix url for tr
  pipelines/templates/deploy-function-template.yml
Due: none

feat(resources): set lineorg, org and resources to point against radix url for tr (#803)
  pipelines/templates/deploy-function-template.yml
Due: none

fix: elseif instead of else if in powershell
  pipelines/templates/deploy-function-template.yml
Due: none

fix(functions): elseif instead of else if in powershell (#804)
  pipelines/templates/deploy-function-template.yml
Due: none

fix: use resource group name directly in pipeline
  pipelines/templates/deploy-function-template.yml
Due: none

fix: add quotes on resource group name
  pipelines/templates/deploy-function-template.yml
Due: none

fix(functions): use resource group name directly in pipeline (#805)
  pipelines/templates/deploy-function-template.yml
Due: none

chore: update org, lineorg and resources urls
  pipelines/templates/deploy-function-template.yml
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore(functions): update org, lineorg and resources urls (#806)
  pipelines/templates/deploy-function-template.yml
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml
