Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

feature: added try/catch to credential key removal to prevent pipeline to fail when key has already been removed (manually). (#590)
  src/backend/infrastructure/cleanup-secrets.ps1
Due: none

Chunking 500 at the time when getting PersonProfile from PeopleAPI
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonProfiles.cs
Due: pipelines/api-pr-pipeline.yml

Fixed variablename
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonProfiles.cs
Due: pipelines/api-pr-pipeline.yml

feat/chunkGettingPersonProfiles (#591)
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonProfiles.cs
Due: pipelines/api-pr-pipeline.yml

added catch for invalid operation exception to controllers where this is throwable.
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
Due: pipelines/api-pr-pipeline.yml

added functions
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix: src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj to reduce vulnerabilities
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
Due: pipelines/api-pr-pipeline.yml

settings file added for notification
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportSettings.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

logging correction
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

removed unnecessary comment
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
Due: pipelines/api-pr-pipeline.yml

handpicked resourceowners added.
  README.md
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/API Models/LineOrgPersons.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

revert chages to utillitiesController
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
Due: pipelines/api-pr-pipeline.yml

fix(api): Unhandled exceptions fix (#592)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
Due: pipelines/api-pr-pipeline.yml

Do not set ProposedPerson to NULL when resetting workflow
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/ResetWorkflow.cs
Due: pipelines/api-pr-pipeline.yml

Increasing the time of delay when retrying to process queued message (Provision)
  src/backend/function/Fusion.Resources.Functions/ServiceBus/QueueMessageProcessor.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

scheduledrepot dto added
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/API Models/LineOrgPersons.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportSettings.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added scheduleTime to retryMessage
  src/backend/function/Fusion.Resources.Functions/ServiceBus/QueueMessageProcessor.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Changed variable and name for when getting Persons from Person API
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonProfiles.cs
Due: pipelines/api-pr-pipeline.yml

Changed variable and name for when getting Persons from Person API (#596)
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonProfiles.cs
Due: pipelines/api-pr-pipeline.yml

exception handling added.
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

adaptive card template added for resourceowners.
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCard Models/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

notifications httpclient added.
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/NotificationsHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientFactoryBuilder.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

notification api integration added.
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/API Models/LineOrgPersonsResponce.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/API Models/NotificationsBody.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

core notification api integration added.
  src/backend/function/Fusion.Resources.Functions/ApiClients/ApiModels/LineOrg.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ApiModels/Notifications.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ILineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/INotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/NotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/API Models/NotificationsBody.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/NotificationsHttpHandler.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

feat: Do not set ProposedPerson = NULL when ResetWorkflow (#594)
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/ResetWorkflow.cs
Due: pipelines/api-pr-pipeline.yml

Update QueueMessageProcessor.cs
  src/backend/function/Fusion.Resources.Functions/ServiceBus/QueueMessageProcessor.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix: Increased time of delay for each retry of queued message (Provision) (#595)
  src/backend/function/Fusion.Resources.Functions/ServiceBus/QueueMessageProcessor.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

documentation updated.
  README.md
Due: none

Added BeTrustedApplication to authorization when getting from GetRequestsForPosition from DepartmentRequestController
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

ContentBuilder + Adjustments to AdaptiveCards template (WIP)
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCard Models/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated pr deployment for function app
  pipelines/function-pr-pipeline.yml
  pipelines/templates/deploy-function-pr-template.yml
Due: none

Fixed function app template after refactor
  pipelines/templates/deploy-function-pr-template.yml
Due: none

Fixed pr api host
  pipelines/templates/deploy-function-pr-template.yml
Due: none

checkout form master and manual instalation of adaptive card 3.1
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
Due: pipelines/api-pr-pipeline.yml

Adjustments to get all thev values for ContentBuilder
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCard Models/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Removed deprecated azure key vault nuget package
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Program.cs
Due: pipelines/api-pr-pipeline.yml

Updated to net7.0
  src/backend/.config/dotnet-tools.json
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Application/ServiceBus/ServiceBusService.cs
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/TestMessageBus.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/TestQueueMessage.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

Updated dockerfile to net7
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
