Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

Added mock to test
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
Due: pipelines/api-pr-pipeline.yml

Added mock for getting position in draft on org service integration mock
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
Due: none

Fixed mock for logic provisioning tests.
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/MockRequest.cs
Due: none

Fixed incorrect org chart id used and added telemetry. Refactored for readability.
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
Due: pipelines/api-pr-pipeline.yml

Removed unsued comment
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

Added null check
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

feat: Added caching of deleted positionIds when getting requets with expand… (#624)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

Added caching of positionIds that are not found when getting requests to avoid to many 404s in Org-api
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentRequestsTimeline.cs
Due: pipelines/api-pr-pipeline.yml

Fix/check positions before sending request (#626)
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/MockRequest.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
Due: pipelines/api-pr-pipeline.yml

feat/Add cache of positionIds not found when getting requests (timeline) (#627)
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentRequestsTimeline.cs
Due: pipelines/api-pr-pipeline.yml

Adjusted the way we calculate changes for a department to use field AllocationState and AllocationUpdated + updated related tests
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Removed comment + adjusted tests
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: none

feat: Adjusted the calculation of the field "Project changes last week affecting next 3 months" for a department to use AllocationState/AllocationUpdated (#628)
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated replaceTokens to version 6
  pipelines/templates/replace-tokens.yml
Due: none

Indent fix
  pipelines/templates/replace-tokens.yml
Due: none

Adjustements
  pipelines/templates/replace-tokens.yml
Due: none

Adjustments
  pipelines/templates/replace-tokens.yml
Due: none

adjustments
  pipelines/templates/replace-tokens.yml
Due: none

Test comment
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Removed comment
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Removed check for only include requests that have state == completed + Added calculation comment
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Simplefied the way of calculating AverageTimeToHandleRequests + Use request last 12 months + use todays date if proposal date is not available
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

feature(resource): updated replaceTokens in yml-file to version 6 (#630)
  pipelines/templates/replace-tokens.yml
Due: none

Missing parenthesis
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix (resource): Adjust AverageTimeToHandleRequests field on summary notification (#631)
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Reverted to old way of finding creation date and approval date
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Comment indentation
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Indent
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix: Reverted to old way of finding creation date and approval date (#632)
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

feat: initial commit for Summary Api
  .gitignore
  pipelines/summary-api-pr-pipeline.yml
  src/.dockerignore
  src/Fusion.Resources.sln
  src/Fusion.Summary.Api/Deployment/deploy-webapp.ps1
  src/Fusion.Summary.Api/Deployment/hosting.template.json
  src/Fusion.Summary.Api/Deployment/k8s/deployment-pr-env.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-test-env.yml
  src/Fusion.Summary.Api/Deployment/webapp.template.json
  src/Fusion.Summary.Api/Dockerfile
  src/Fusion.Summary.Api/Dockerfile.original
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
  src/Fusion.Summary.Api/Properties/launchSettings.json
  src/Fusion.Summary.Api/appsettings.json
  src/Fusion.Summary.Api/nuget.config
Due: none

Feature/summary/establish technical resources (#629)
  .gitignore
  pipelines/summary-api-pr-pipeline.yml
  src/.dockerignore
  src/Fusion.Resources.sln
  src/Fusion.Summary.Api/Deployment/deploy-webapp.ps1
  src/Fusion.Summary.Api/Deployment/hosting.template.json
  src/Fusion.Summary.Api/Deployment/k8s/deployment-pr-env.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-test-env.yml
  src/Fusion.Summary.Api/Deployment/webapp.template.json
  src/Fusion.Summary.Api/Dockerfile
  src/Fusion.Summary.Api/Dockerfile.original
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
  src/Fusion.Summary.Api/Properties/launchSettings.json
  src/Fusion.Summary.Api/appsettings.json
  src/Fusion.Summary.Api/nuget.config
Due: none

Adjusted test-api-yml
  .github/workflows/test-api.yml
Due: none

Added dotnet 8 as dotnet-version in test-api.yml
  .github/workflows/test-api.yml
Due: none

feat: Include obs in personnel position items (#625)
  .github/workflows/test-api.yml
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelPosition.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelTimelineItem.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Bumped from dotnet7 to dotnet8 and related dependencies on resource projects
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-pr-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-test-env.yml
  src/backend/api/Fusion.Resources.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Small adjustment to Dockerfile
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pr-pipeline.yml

Updated dockerfile
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pr-pipeline.yml

Changed assignedDepartment to use org unit instead of the deprecated department endpoints
  src/backend/Fusion.Resources.sln
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/CreateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Api/Extensions/StringExtensions.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240529134053_Added field for org id on request.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240529134053_Added field for org id on request.cs
  src/backend/api/Fusion.Resources.Database/README.md
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/ResolveLineOrgUnit.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Api/OrgUnitController.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Fixed auth tests failing due to change in mock org unit response data.
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: none

Refactored to seperate crud tests, added testes for unassign
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/RequestCRUDTests.cs
Due: none

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
