Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

- addNewPerson.spec.ts: * TC 13060 Add new person * TC 13063 Edit selected person *TC 13062 Delete selected person
  src/frontend/e2e/cypress/POM/ContractDetailGeneralPage.ts
  src/frontend/e2e/cypress/fixtures/PersonData.json
  src/frontend/e2e/cypress/integration/General/delegateAdminAccess.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/addNewPerson.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/delegateAccess.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/index.ts
  src/frontend/src/pages/HelpPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
Due: none

TC 13064 search and filters custom command: collapse/expand both navigation sidesheet on left side and filter sidesheet on right side
  src/frontend/e2e/cypress/integration/ManagePersonnel/addNewPerson.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/searchAndFilters.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/searchAndFilters.ts
Due: none

Fixed issue provisioning persons with no mail
  src/backend/api/Fusion.Resources.Domain/Identifiers/PersonId.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Provision.cs
Due: pipelines/api-pr-pipeline.yml

Fixed issue provisioning persons with no mail (#434)
  src/backend/api/Fusion.Resources.Domain/Identifiers/PersonId.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Provision.cs
Due: pipelines/api-pr-pipeline.yml

re-structure hierarchy
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/addNewPerson.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/importPersonnelExcel.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/searchAndFiltersMP.spec.ts
Due: none

* setup cypress test environment * TC 13029 - choose a project
  src/frontend/.gitignore
  src/frontend/build.Dockerfile
  src/frontend/dev.Dockerfile
  src/frontend/e2e/cypress.json
  src/frontend/e2e/cypress/integration/01-fusion.spec.ts
  src/frontend/e2e/cypress/integration/02-chooseProject.spec.ts
  src/frontend/e2e/cypress/plugins/index.js
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/index.ts
  src/frontend/e2e/package-lock.json
  src/frontend/e2e/package.json
  src/frontend/e2e/tsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractsOverviewPage/Columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractsOverviewPage/components/ContractLinkColumn.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractsOverviewPage/index.tsx
Due: none

TC 23843 - personnel with no mail
  src/frontend/e2e/cypress/integration/02-chooseProject.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/searchAndFiltersMP.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/PreferredContactMail/personnelWithNoMail.spec.ts
  src/frontend/e2e/package-lock.json
  src/frontend/e2e/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/HasEquinorMailCell/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/PersonnelMailsTable/cells/PersonCell/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/PersonnelMailsTable/cells/PreferredMail/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/ToolbarFilter/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/index.tsx
Due: none

* Create POM files for page elements * Update the test case scripts with importing elements from POM files
  src/frontend/e2e/cypress/POM/AddPersonSidesheet.ts
  src/frontend/e2e/cypress/POM/ContractDetailGeneralPage.ts
  src/frontend/e2e/cypress/POM/ContractPersonnelPage.ts
  src/frontend/e2e/cypress/POM/DelegateAccessSideSheet.ts
  src/frontend/e2e/cypress/POM/ExcelImportSidesheet.ts
  src/frontend/e2e/cypress/POM/NavigationDrawer.ts
  src/frontend/e2e/cypress/POM/PreferredContactMailPage.ts
  src/frontend/e2e/cypress/POM/SearchAndFiltersPane.ts
  src/frontend/e2e/cypress/integration/General/contractDetail.spec.ts
  src/frontend/e2e/cypress/integration/General/delegateAdminAccess.spec.ts
  src/frontend/e2e/cypress/integration/General/editContract.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/addNewPerson.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/importPersonnelExcel.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/searchAndFiltersMP.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/PreferredContactMail/personnelWithNoMail.spec.ts
  src/frontend/e2e/cypress/support/contractPerson.ts
  src/frontend/e2e/cypress/support/delegateAccess.ts
  src/frontend/e2e/cypress/support/searchAndFilters.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ContractDetailsPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/SaveContactMails/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/AddPersonnelSideSheet/AddPersonnelForm/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/components/ManagePersonnelToolBar/index.tsx
Due: none

TC 23844 - Show/Hide personnel with missing AD
  src/frontend/e2e/cypress/integration/ManagePersonnel/PreferredContactMail/personWithMissingAD.spec.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/AzureAdStatusIndicator/index.tsx
Due: none

* add POM page files * change custom command to function * add Request.json data * add more users in the PersonData.json file
  src/frontend/e2e/cypress/POM/ActualMppPage.ts
  src/frontend/e2e/cypress/POM/AddPersonSidesheet.ts
  src/frontend/e2e/cypress/POM/ContractEditPage.ts
  src/frontend/e2e/cypress/POM/CreateRequestSidesheet.ts
  src/frontend/e2e/cypress/POM/DelegateAccessSideSheet.ts
  src/frontend/e2e/cypress/POM/ExcelImportSidesheet.ts
  src/frontend/e2e/cypress/POM/HelpPage.ts
  src/frontend/e2e/cypress/fixtures/PersonData.json
  src/frontend/e2e/cypress/fixtures/Request.json
  src/frontend/e2e/cypress/integration/General/delegateAdminAccess.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/addContractPerson.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/importPersonnelExcel.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/contractPerson.ts
  src/frontend/e2e/cypress/support/delegateAccess.ts
  src/frontend/e2e/cypress/support/importFile.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/src/components/SortableTable.tsx
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/columns.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditableTable/Taskbar.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditableTable/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/index.tsx
Due: none

Added mail as a part of the searchable string in filter pane for alle ManageMPP pages.
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/CompletedRequestsPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ProvisioningRequestsPage/getFilterSections.ts
Due: none

version bump
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

update openHelpPage.spec.ts update addContractPerson.spec.ts create pom for ActiveRequestPage.ts and sidesheets
  src/frontend/e2e/cypress/POM/ActiveRequestPage.ts
  src/frontend/e2e/cypress/POM/PositionDetailsSidesheet.ts
  src/frontend/e2e/cypress/POM/RequestDetailsSidesheet.ts
  src/frontend/e2e/cypress/fixtures/Request.json
  src/frontend/e2e/cypress/integration/General/editContract.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/addContractPerson.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/contractPerson.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/columns.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/PositionDetailsSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/RejectRequestSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/RequestDetailsSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/AddPersonnelSideSheet/AddPersonnelForm/components/AddPersonnelFormDisciplinesDropDown.tsx
Due: none

define an TestPerson object use TestPerson object as input for the addContractPerson command, instead of 4 string parameters.
  src/frontend/e2e/cypress/fixtures/PersonData.json
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/addContractPerson.spec.ts
  src/frontend/e2e/cypress/support/contractPerson.ts
  src/frontend/e2e/cypress/support/importFile.ts
  src/frontend/e2e/cypress/support/index.d.ts
Due: none

- custom command: get an element randomly in the element array - TC 13087 positionDetails.spec.ts - TC 13091 requestDetails.spec.ts
  src/frontend/e2e/cypress/POM/PositionDetailsSidesheet.ts
  src/frontend/e2e/cypress/POM/RequestDetailsSidesheet.ts
  src/frontend/e2e/cypress/fixtures/Request.json
  src/frontend/e2e/cypress/integration/ManageMPP/ActiveRequests/requestDetails.spec.ts
  src/frontend/e2e/cypress/integration/ManageMPP/ActualMPP/positionDetails.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/contractPerson.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/PositionDetailsSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/RequestDetailsSideSheet/index.tsx
Due: none

add request-status-filter into searchAndFilters.ts TC-13085 Actual MPP - search and filters TC-24128 Active Requests - search and filters
  src/frontend/e2e/cypress/POM/ContractPersonnelPage.ts
  src/frontend/e2e/cypress/POM/NavigationDrawer.ts
  src/frontend/e2e/cypress/POM/SearchAndFiltersPane.ts
  src/frontend/e2e/cypress/integration/ManageMPP/ActiveRequests/searchAndFiltersAR.spec.ts
  src/frontend/e2e/cypress/integration/ManageMPP/ActualMPP/searchAndFiltersAMPP.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/addContractPerson.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/ContractPersonnel/searchAndFiltersCP.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/searchAndFilters.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/GenericFilter.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/CompletedRequestsPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ProvisioningRequestsPage/getFilterSections.ts
Due: none

Updated authorization rules for responsibility matrix so resource owners can access items relevant for their department
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

Added access test for getting item
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: none

Allow resource owners access to responsebility matrix for their department (#437)
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

TC 24130 Completed Request - search and filters in requestDetails.spec.ts and positionDetails.spec.ts, add cy.wait before click the row in the table, due to the rending issue.
  src/frontend/e2e/cypress/integration/ManageMPP/ActiveRequests/requestDetails.spec.ts
  src/frontend/e2e/cypress/integration/ManageMPP/ActualMPP/positionDetails.spec.ts
  src/frontend/e2e/cypress/integration/ManageMPP/CompletedRequests/searchAndFiltersCR.spec.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/CompletedRequestsPage/columns.tsx
Due: none

Adjust profile sync to consider expired profiles and not only successfully ensured profiles
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Add check for updates in azure unique id
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/function-pr-pipeline.yml

external accounts should have a invitation status
  src/backend/api/Fusion.Resources.Domain/Extensions/FusionPersonProfileExtensions.cs
Due: pipelines/api-pr-pipeline.yml

rename
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/function-pr-pipeline.yml

Feature/manage mmp search email in table (#436)
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/CompletedRequestsPage/getFilterSections.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ProvisioningRequestsPage/getFilterSections.ts
Due: none

use private docker vmss pool
  pipelines/api-pipeline.yml
  pipelines/api-pr-pipeline.yml
  pipelines/environment-pipeline.yml
  pipelines/function-pipeline.yml
  pipelines/function-pr-pipeline.yml
  pipelines/fusion-app-pipeline.yml
  pipelines/pr-cleanup-pipeline.yml
  src/frontend/azure-pipelines.yml
Due: none

create a request
  src/frontend/e2e/cypress.json
  src/frontend/e2e/cypress/POM/ActiveRequestPage.ts
  src/frontend/e2e/cypress/POM/ActualMppPage.ts
  src/frontend/e2e/cypress/POM/CreateRequestSidesheet.ts
  src/frontend/e2e/cypress/POM/RequestWorkFlow.ts
  src/frontend/e2e/cypress/fixtures/RequestBody.json
  src/frontend/e2e/cypress/integration/ManageMPP/ActiveRequests/createMPPRequest.spec.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/index.ts
  src/frontend/e2e/cypress/support/requests.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/RequestWorkflow/WorkflowStep.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/index.tsx
Due: none

version bump (#441)
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: check for ocerdue valid to date
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/styles.less
Due: none

Version bump
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: check for overdue valid to date (#442)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/styles.less
Due: none

Profile Sync function - External personnel improvements (#438)
  src/backend/api/Fusion.Resources.Domain/Extensions/FusionPersonProfileExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

adjust exception handling and processing of all external users
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Consider account available when azure uniqueId exists and invitation status missing
  src/backend/api/Fusion.Resources.Domain/Extensions/FusionPersonProfileExtensions.cs
Due: pipelines/api-pr-pipeline.yml

revert rename
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

hasChanges based on dbentity modifications
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

Update contract-management.md
  docs/contract-management.md
Due: none

telemetry trace of updates
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
