Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

pipelines/api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Cache@2
        displayName: Cache task
        inputs:
          key: docker | "$(Agent.OS)" | cache
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
              parameters:
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

pipelines/summary-api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
          containerRegistry: fusion-aks-cr
  ...

pipelines/summary-api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

fix: Return 200 instead of incorrect 202
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat(fusion-integration): Update Fusion Core API Urls (#718)
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: Remove extra ' " '
  pipelines/templates/deploy-summary-function-template.yml
Due: none

fix(summary): Remove extra ' " ' (#726)
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Removed summary notification from resources
  src/backend/function/Fusion.Resources.Functions/Deployment/disabled-functions.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/AdaptiveCardBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

chore: Added mail endpoint configuration
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: Added empty row to fix formating issues when there was no data
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: Added missing mail section in function.template.json
  src/Fusion.Summary.Functions/Deployment/function.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat(summary): Az function task owner report sender (#722)
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Contexts.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Mails.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ContextApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IContextApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IMailApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/MailApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/ContextHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/MailHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientNames.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/local.settings.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Allow disabling of only WeeklyTaskOwnerReportSender
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: Added suggested org unit requests should be assigned to
  src/backend/api/Fusion.Resources.Api/Controllers/Person/ApiModels/ApiPersonAllocationRequestStatus.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: Direct requests assigned to incorrect org unit (#729)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/ApiModels/ApiPersonAllocationRequestStatus.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: Minor text change in report
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Added filter query param to link
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated ingressclassname
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Reverted change
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Updated ingress cluster name
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat(k8s): Update ingress class name for pre-prod-cluster (#730)
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Removed unused config
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated parallel usage
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added parallelism to sync
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added parallelism to sync (#731)
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated ingress class name
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore(k8s): Updated ingress class name in prod (#732)
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat: Allow disabling of only WeeklyTaskOwnerReportSender (#728)
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: Incorrect url
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Updated calculation logic for report
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Refactoring + updated TBNPositionsStartingWithinThreeMonths calculation
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Redid calculation
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Redid calculation
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Move go to url to above list but bellow title and subtitle
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Order entries by date
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Allow specifying who will receive report
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Show max 10 items for each category in report
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated secret names
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: IsSupportPosition check on base position name not the position name
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Go to access control management url now has filter url query
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Removed summary notification from resources (#727)
  src/backend/function/Fusion.Resources.Functions/Deployment/disabled-functions.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/AdaptiveCardBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ResourceOwnerReportDataCreator.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/Mock/NotificationReportApiResponseMock.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/Notifications/ScheduledReportNotificationBuilderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Fix schemaId during swagger gen
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
Due: none

Minor change
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
Due: none

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
