Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration

Do not send notification when in draft (#419)
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestDeletedHandler.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestDeleted.cs
Due: pipelines/api-pr-pipeline.yml

Removed sku property as it is not required when deploying to elastic pool
  src/backend/infrastructure/arm-templates/database.template.json
Due: pipelines/environment-pipeline.yml

Infra - Fixed db arm template (#420)
  src/backend/infrastructure/arm-templates/database.template.json
Due: pipelines/environment-pipeline.yml

Get resource allocation request item now uses profile resolver to set… (#408)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Add additional comments to RequestInitialized and ProposedPerson notifications
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
Due: pipelines/api-pr-pipeline.yml

trim additional note in notification to prevent text overflow
  src/backend/api/Fusion.Resources.Api/Extensions/StringExtensions.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/AssignedDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

Switched from FromRoute attribute to FromQuery due to Odata query options not applying
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
Due: pipelines/api-pr-pipeline.yml

version bump
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

External Personnel - Not possible to add external contract responsible (#412)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/models/createPositionRequest.ts
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/components/ExternalPositionSidesheet.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ContractDetailsPage/index.tsx
Due: none

Notifications - Additional comments (#421)
  src/backend/api/Fusion.Resources.Api/Extensions/StringExtensions.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/AssignedDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

add custom commands: search and filter
  src/frontend/e2e/cypress/POM/ContractDetailGeneralPage.ts
  src/frontend/e2e/cypress/integration/General/contractDetail.spec.ts
  src/frontend/e2e/cypress/integration/General/editContract.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/cypress/support/delegateAccess.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/index.ts
  src/frontend/e2e/cypress/support/searchAndFilters.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/components/BasePositionPicker.tsx
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/components/CompanyPicker.tsx
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/components/ContractNumberPicker.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditablePositionDetails/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditableTable/components/TableBasePositionPicker.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditableTable/components/TablePersonnelPicker.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/useContractPageNavigationStructure.tsx
Due: none

Promote preview endpoints to 1.0
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SearchDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/UnassignedRequests/DepartmentUnassignedTests.cs
Due: pipelines/api-pr-pipeline.yml

Promote preview endpoints to 1.0
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: none

fix tests
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Requests/ApiCreateInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/UnassignedRequests/DepartmentUnassignedTests.cs
Due: none

adjust notification test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: none

Switched from FromRoute attribute to FromQuery due to Odata query options not applying (#422)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
Due: pipelines/api-pr-pipeline.yml

API - Promote endpoints to v1 (#423)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Requests/ApiCreateInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SearchDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/UnassignedRequests/DepartmentUnassignedTests.cs
Due: pipelines/api-pr-pipeline.yml

* create custom command for discipline filter, ad status filter * add id to azure status * add id to icon buttons in the tool bar
  src/frontend/e2e/cypress/integration/ManagePersonnel/searchAndFilters.spec.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/searchAndFilters.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/AzureAdStatusIndicator/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelColumns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/components/ManagePersonnelToolBar/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/getFilterSections.ts
Due: none

Added prod aks deployment step
  pipelines/api-pipeline.yml
Due: none

Added prod aks deployment step (#424)
  pipelines/api-pipeline.yml
Due: none

remove duplicate model
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pr-pipeline.yml

Personnel creation request missing azureId (#425)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/models/CreatePersonnelRequest.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/utils.ts
Due: none

* add PersonData.json and addNewPerson.spec.ts for TC 13060 * add id to elements in the add personnel sidesheet
  src/frontend/e2e/cypress/fixtures/PersonData.json
  src/frontend/e2e/cypress/integration/ManagePersonnel/addNewPerson.spec.ts
  src/frontend/e2e/cypress/integration/ManagePersonnel/searchAndFilters.spec.ts
  src/frontend/e2e/cypress/support/searchAndFilters.ts
  src/frontend/src/components/RequestProgressSidesheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/AddPersonnelSideSheet/AddPersonnelForm/components/AddPersonnelFormRow.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/AddPersonnelSideSheet/AddPersonnelForm/components/AddPersonnelFormTextInput.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/AddPersonnelSideSheet/PersonnelRequest.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/AddPersonnelSideSheet/index.tsx
Due: none

Enabled sql command text tracing
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Enabled sql command text tracing (#427)
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Added new admin role for external personnel endpoints.
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Mpp/MppController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Projects/ProjectsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
Due: pipelines/api-pr-pipeline.yml

Missing directive made build fail.
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

Add certificatethumbprint option in tokenprovider setup
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

remove duplicate model (#426)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pr-pipeline.yml

Updated to preview version
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Added new admin role for external personnel endpoints. (#428)
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Mpp/MppController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Projects/ProjectsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
Due: pipelines/api-pr-pipeline.yml

Timeline improvements (#398)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/ApiModels/ApiPersonAbsence.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryBasePosition.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryInternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelPosition.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelTimelineItem.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonnelAllocation.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/api/Fusion.Resources.Domain/Timeline/PersonnelTimelineBuilder.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/api/Fusion.Resources.Domain/Utils/TimelineUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Fixed timeline issue where employementstatuses with end date null not being included
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonnelAllocation.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

Fixed filtering av employment statuses where applies to date could be null
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonnelAllocation.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

Fixed filtering av employment statuses where applies to date could be null (#432)
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonnelAllocation.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

Refactor with fusion-components v2.4.31
  src/frontend/e2e/cypress.json
  src/frontend/e2e/cypress/POM/ContractDetailGeneralPage.ts
  src/frontend/e2e/cypress/POM/ContractEditPage.ts
  src/frontend/e2e/cypress/POM/DelegateAccessSideSheet.ts
  src/frontend/e2e/cypress/fixtures/PersonData.json
  src/frontend/e2e/cypress/integration/General/delegateAdminAccess.spec.ts
  src/frontend/e2e/cypress/integration/General/editContract.spec.ts
  src/frontend/e2e/cypress/integration/General/openHelpPage.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/delegateAccess.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/index.ts
  src/frontend/e2e/package-lock.json
  src/frontend/e2e/package.json
  src/frontend/e2e/tsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/GenericFilter.tsx
  src/frontend/src/components/RequestProgressSidesheet/index.tsx
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/components/ContractWizardSkeleton.tsx
  src/frontend/src/pages/ProjectPage/components/EditContractWizard/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/components/CertifyToPopover/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/components/ToolbarButton/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/ContractAdminTable/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/DelegateAccessSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/components/RequestProgressSidesheet.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditRequestSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ContractDetailsPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/AddPersonnelSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelColumns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelInfoSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/components/ExcelImportSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractsOverviewPage/index.tsx
Due: none

Aggregated workload on a timeline segment should not include pending requests' workload.
  src/backend/api/Fusion.Resources.Domain/Timeline/PersonnelTimelineBuilder.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

Added comment description for hardcoded string value to be more clear
  src/backend/api/Fusion.Resources.Domain/Timeline/PersonnelTimelineBuilder.cs
Due: pipelines/api-pr-pipeline.yml

Aggregated workload on a timeline segment should not include pending … (#433)
  src/backend/api/Fusion.Resources.Domain/Timeline/PersonnelTimelineBuilder.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml
