Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

Updated events lib
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pr-pipeline.yml

Updated service-connection
  pipelines/pr-cleanup-pipeline.yml
Due: none

Revert "Updated service-connection"
  pipelines/pr-cleanup-pipeline.yml
Due: none

fix(aks): Update service-connection (#574)
  pipelines/pr-cleanup-pipeline.yml
Due: none

Fixed template to add web app config for portal url in production
  src/backend/api/Fusion.Resources.Api/Deployment/webapp.template.json
Due: pipelines/api-pr-pipeline.yml

Fixed template to add web app config for portal url in production (#573)
  src/backend/api/Fusion.Resources.Api/Deployment/webapp.template.json
Due: pipelines/api-pr-pipeline.yml

Removed base positions without department, as random picks for positions cause intermittent access denied error, as department can't be resolved
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Data/BasePositions.csv
Due: none

Updated nuget packages for internal projects
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Forced client lib to override version
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pr-pipeline.yml

Updated breaking changes in fluent validation
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddSecondOpinionRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/BatchCreateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/CreateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/CreateResourceOwnerAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchSecondOpinionRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/EmailDomainValidator.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/Sharing/RevokeShareRequest.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Validation/CustomValidatorExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Fixed assertion in event tests to remove false negativs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/NotificationClientMockExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

Refactored commented code
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
Due: pipelines/api-pr-pipeline.yml

Updated test nuget libs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
Due: none

Updated nuget versions
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
Due: none

Added logging to test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: none

Fixed lack in event notification transaction
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceControllerBase.cs
  src/backend/api/Fusion.Resources.Api/Transaction/IUnifiedTransaction.cs
  src/backend/api/Fusion.Resources.Api/Transaction/IUnifiedTransactionScope.cs
  src/backend/api/Fusion.Resources.Api/Transaction/UnifiedTransaction.cs
  src/backend/api/Fusion.Resources.Api/Transaction/UnifiedTransactionScope.cs
Due: pipelines/api-pr-pipeline.yml

#added Clear Ache Option for LineOrgunit
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/InternalDepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

added LineOrgOrgUnitChangedEvent to Startup
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

removed subscriptiions string
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Changed lineorgCOntsants
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

#Cleanup of code Changed to AdminContorller
  src/backend/api/Fusion.Resources.Api/Controllers/Admin.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgOrgUnitHandler.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Fixed build error due to merge issue
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Added LineOrgUnitChangedEvent and possiblity to cleare cache if needed (#576)
  src/backend/api/Fusion.Resources.Api/Controllers/Admin.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/LineOrgOrgUnitHandler.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

feat(api): Ensure data is committed to database before public events are dispatched (#572)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceControllerBase.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
Due: pipelines/api-pr-pipeline.yml

Added explaination to kept commented code
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Updated test to be less prone to failure
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
Due: none

Updated how notifications are asserted
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/NotificationClientMockExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: none

#Aligned the /resources/personnel endpoint so that both apiversions uses the same code- - Deleted V2 Endpoint Code -
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

added [ApiVersion("1.0")] so that it shows in swagger
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

set [ApiVersion("1.0")]
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

set [ApiVersion("120")]
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Mapping was wrong, did not show in swagger
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

#added back V2 Function because hwen trying to map both to same function it dissapeared from the swagger documentation
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Added property identification on notifications
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/AssignedDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestDeletedHandler.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/RequestInitializedHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/NotificationClientMockExtensions.cs
Due: pipelines/api-pr-pipeline.yml

Re added V2 endpoint Funciton. to not use hwole day to fix this problem AS there is some wired problem that hides funcitons when multuple api verisons used on same function.
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
