Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api

secret roration pipeline init
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/check-for-expiration.yml
  pipelines/templates/secret-rotation/generate-secret.yml
Due: none

Use windows agnet and removed UseAppHost from dockerfile
  pipelines/summary-api-pipeline.yml
  src/Fusion.Summary.Api/Dockerfile
Due: pipelines/summary-api-pr-pipeline.yml

fixed template
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/generate-secret.yml
Due: none

fixed template
  pipelines/templates/secret-rotation/generate-secret.yml
Due: none

Use ubuntu agent
  pipelines/summary-api-pipeline.yml
Due: none

added secret generation
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/check-for-expiration.yml
  pipelines/templates/secret-rotation/generate-secret.yml
Due: none

List ArtifactStagingDirectory
  pipelines/summary-api-pipeline.yml
Due: none

added secret update step
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/generate-secret.yml
Due: none

added secret update step
  pipelines/templates/secret-rotation/update-key-vault.yml
Due: none

added secret update step
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/update-key-vault.yml
Due: none

feat: Auto approve direct allocations that have no proposed changes (#659)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/ProposedPersonAutoAcceptedHandler.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240808060749_Add_InitialProposedPerson.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240808060749_Add_InitialProposedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestNotifications.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/AllocationDirectWorkflowV1.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/Base/WorkflowDefinition.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/Base/WorkflowStepFlow.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Responses/TestApiInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

added secret update step
  pipelines/secret-rotation-pipeline.yml
Due: none

added wrapper template
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/ensure-secret.yml
Due: none

Revert db health check because PR-env missing PR database
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Added CertificateThumbprint
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Testing
  pipelines/summary-api-pipeline.yml
Due: none

Testing resources
  pipelines/api-pipeline.yml
Due: none

testing
  pipelines/summary-api-pipeline.yml
  src/Fusion.Summary.Api/Dockerfile
Due: pipelines/summary-api-pr-pipeline.yml

COPY --from=publish /migrations .
  src/Fusion.Summary.Api/Dockerfile
Due: pipelines/summary-api-pr-pipeline.yml

ef tools test
  src/Fusion.Summary.Api/Dockerfile
Due: pipelines/summary-api-pr-pipeline.yml

Use windows agent
  pipelines/summary-api-pipeline.yml
Due: none

Revert "Use windows agent"
  pipelines/summary-api-pipeline.yml
Due: none

Azurepwsh@5
  pipelines/summary-api-pipeline.yml
Due: none

Azurepwsh@5 for templates
  pipelines/templates/get-appinsights-key.yml
  pipelines/templates/get-keyvault-url.yml
Due: none

Azurepwsh@5 for templates
  pipelines/templates/execute-sql-migration.yml
Due: none

Updated sql db target tag
  pipelines/api-pipeline.yml
  pipelines/summary-api-pipeline.yml
  pipelines/templates/execute-sql-migration.yml
Due: none

TMP removed sql migration
  pipelines/summary-api-pipeline.yml
Due: none

added cleanup
  infrastructure/arm/database.template.json
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/check-for-expiration.yml
  pipelines/templates/secret-rotation/cleanup-expired-secrets.yml
  pipelines/templates/secret-rotation/ensure-secret.yml
Due: none

fixed template
  pipelines/templates/secret-rotation/cleanup-expired-secrets.yml
Due: none

fixed incorrect variable use
  pipelines/templates/secret-rotation/check-for-expiration.yml
  pipelines/templates/secret-rotation/ensure-secret.yml
  pipelines/templates/secret-rotation/generate-secret.yml
  pipelines/templates/secret-rotation/update-key-vault.yml
Due: none

fixed incorrect variable use
  pipelines/templates/secret-rotation/generate-secret.yml
Due: none
