Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json

adjusted template
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Helpers/DefaultInfraApiMessageHandler.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Helpers/TestCommandBuilder.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Helpers/TestFileLoader.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/Commands/Database/ProvisionDatabaseCommand.cs
  pipelines/templates/arm-environments.yml
Due: none

adjusted template
  pipelines/templates/arm-environments.yml
Due: none

Updated tests
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Fusion.Infra.Cli.Tests.csproj
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Helpers/ServicePrincipalAppReg.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Helpers/TestCommandBuilder.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Mocks/DefaultInfraApiMessageHandler.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Mocks/GraphApiMessageHandler.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Mocks/TestAccountResolver.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Mocks/TestFileLoader.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/Mocks/TestTokenProvider.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli.Tests/ProvisionCommandTests.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/AccountResolver.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/Commands/Database/ProvisionDatabaseCommand.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/Fusion.Infra.Cli.csproj
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/IAccountResolver.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/ITokenProvider.cs
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/Utils.cs
  pipelines/templates/arm-environments.yml
Due: none

Support for output
  infrastructure/tooling/fusion-infra-cli/Fusion.Infra.Cli/Commands/Database/ProvisionDatabaseCommand.cs
Due: none

changed db to test with existing
  src/backend/infrastructure/fusion-db-config.json
Due: pipelines/environment-pipeline.yml

Updated Packages and added Odata OperationFilter to swagger
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
Due: none

chore: Pulled out swagger setup code from Resources so that it can be used for summary as well
  src/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/Fusion.Resources.Infrastructure/Swagger/AddApiVersionParameter.cs
  src/Fusion.Resources.Infrastructure/Swagger/EnumSchemaFilter.cs
  src/Fusion.Resources.Infrastructure/Swagger/FusionSwaggerConfig.cs
  src/Fusion.Resources.Infrastructure/Swagger/PatchPropertySchemaFilter.cs
  src/Fusion.Resources.Infrastructure/Swagger/SwaggerApiConfig.cs
  src/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
  src/Fusion.Resources.Infrastructure/Swagger/ToStringTypeConverter.cs
  src/Fusion.Resources.Infrastructure/nuget.config
  src/Fusion.Resources.sln
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
  src/Fusion.Summary.Api/Swagger/StartupExtensions.cs
  src/Fusion.Summary.Api/appsettings.json
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Swagger/StartupExtensions.cs
Due: pipelines/api-pr-pipeline.yml

Added Auth to swagger endpoints
  src/Fusion.Resources.Infrastructure/Middleware/SwaggerAuthMiddleware.cs
  src/Fusion.Resources.Infrastructure/Swagger/SwaggerAuthDefaults.cs
  src/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
  src/Fusion.Summary.Api/appsettings.json
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
Due: pipelines/api-pr-pipeline.yml

Added TraceMiddleware and ExceptionMiddleware
  src/Fusion.Summary.Api/Middleware/ApiProblem.cs
  src/Fusion.Summary.Api/Middleware/ExceptionMiddleware.cs
  src/Fusion.Summary.Api/Middleware/TraceMiddleware.cs
  src/Fusion.Summary.Api/Program.cs
Due: none

Added UseDeveloperExceptionPage for dev and updated health check to match resources
  src/Fusion.Summary.Api/Program.cs
Due: none

Moved common library project
  src/Fusion.Resources.sln
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/Fusion.Resources.Infrastructure/Middleware/SwaggerAuthMiddleware.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/AddApiVersionParameter.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/EnumSchemaFilter.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/FusionSwaggerConfig.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/PatchPropertySchemaFilter.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerApiConfig.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerAuthDefaults.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
  src/backend/Fusion.Resources.Infrastructure/Swagger/ToStringTypeConverter.cs
  src/backend/Fusion.Resources.Infrastructure/nuget.config
Due: none

Updated project references
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pr-pipeline.yml

Created SummaryReport models
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
  src/Fusion.Summary.Api/Database/Models/DbSummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QuerySummaryReport.cs
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
Due: none

Feat: Update with expanded LineOrg API
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated internval
  .github/dependabot.yml
Due: none

feat(github): Update dependabot interval (#650)
  .github/dependabot.yml
Due: none

Cleaned up comments
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated api contract
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiSummaryReport.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutSummaryReportRequest.cs
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
Due: none

Removed department filter
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added some error handling for external calls
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added back in department filter
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Feat: Changed running conditions
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Feat: Change running config for summary function (#646)
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated nuget packages
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

Updated ef core and added Fusion.Integration.Authorization
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
Due: none

Added basic auth, Updated controllers and added initial report logic
  src/Fusion.Summary.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiCollection.cs
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
  src/Fusion.Summary.Api/Domain/Commands/SetSummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QuerySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Queries/Base/QueryCollection.cs
  src/Fusion.Summary.Api/Domain/Queries/GetSummaryReport.cs
Due: none

Hide EndingPosition's id and PersonnelMoreThan100PercentFTE's id. Only use ids for db
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiEndingPosition.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiPersonnelMoreThan100PercentFTE.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiSummaryReport.cs
  src/Fusion.Summary.Api/Domain/Commands/SetSummaryReport.cs
Due: none

Added swagger response to controller
  src/Fusion.Summary.Api/Controllers/SummaryReportsController.cs
Due: none

OrderByDescending
  src/Fusion.Summary.Api/Domain/Queries/GetSummaryReport.cs
Due: none

chore (resource): Bumped from dotnet7 to dotnet8 and related dependencies on resource projects (#634)
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-pr-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-test-env.yml
  src/backend/api/Fusion.Resources.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added tests to IDepartmentService implementation
  src/Fusion.Resources.sln
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
  src/tests/Fusion.Summary.Api.Tests/UnitTest1.cs
Due: none

Feat #53765 Create /department API
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
Due: none

Added commands for creating and updating departments
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Database/DatabaseContext.cs
  src/Fusion.Summary.Api/Database/Models/DbDepartment.cs
  src/Fusion.Summary.Api/Domain/Commands/CreateDepartment.cs
  src/Fusion.Summary.Api/Domain/Commands/UpdateDepartment.cs
  src/Fusion.Summary.Api/Domain/Models/QueryDepartment.cs
  src/Fusion.Summary.Api/Domain/Queries/GetAllDepartments.cs
  src/Fusion.Summary.Api/Models/ApiDepartment.cs
  src/Fusion.Summary.Api/Services/IDepartmentService.cs
  src/tests/Fusion.Summary.Api.Tests/DepartmentServiceTests.cs
Due: none

Partly impl pattern
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Database/DatabaseContext.cs
  src/Fusion.Summary.Api/Database/Entities/DbDepartment.cs
  src/Fusion.Summary.Api/Database/Entities/DepartmentTableEntity.cs
  src/Fusion.Summary.Api/Domain/Models/QueryDepartment.cs
  src/Fusion.Summary.Api/Domain/Queries/GetAllDepartments.cs
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Models/ApiDepartment.cs
  src/Fusion.Summary.Api/Program.cs
  src/Fusion.Summary.Api/Services/IDepartmentService.cs
  src/tests/Fusion.Summary.Api.Tests/DepartmentServiceTests.cs
Due: none

Renamed file
  src/tests/Fusion.Summary.Api.Tests/DepartmentServiceTests.cs
Due: none

Created endpoints, added db migration
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Database/DatabaseContext.cs
  src/Fusion.Summary.Api/Database/Entities/DepartmentTableEntity.cs
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Migrations/20240607111457_Initial.Designer.cs
  src/Fusion.Summary.Api/Migrations/20240607111457_Initial.cs
  src/Fusion.Summary.Api/Migrations/DatabaseContextModelSnapshot.cs
  src/Fusion.Summary.Api/Program.cs
  src/Fusion.Summary.Api/README.md
  src/Fusion.Summary.Api/Services/IDepartmentService.cs
  src/Fusion.Summary.Api/appsettings.json
Due: none

Made vars of config
  src/Fusion.Summary.Api/Program.cs
Due: none

Added command for getting single department
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Domain/Queries/GetAllDepartments.cs
  src/Fusion.Summary.Api/Domain/Queries/GetDepartment.cs
Due: none

Added versioning for controller and endpoints
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
Due: none
