Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

Removed unused logic
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonsAbsenceForAnalyticsStream.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestsForAnalyticsStream.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: second attempt at fixing the test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

Added new endpoints for Analytics (#745)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/PagedStreamResult.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonsAbsenceForAnalyticsStream.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestsForAnalyticsStream.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: only validate if user has responsibilities
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: Fetch org unit personnel based on sap id instead of manager id
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added check to remove expired flag
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed old code
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Refactor unused code
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated sector personnel fetch
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed sector personnel endpoint.
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: Ensure position belongs to project in GetPositionDepartments()
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix(resources): Ensure position belongs to project (#741)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: Fetch org unit personnel based on sap id (#747)
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSectorPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Set minimumTlsVersion to 1.2
  infrastructure/arm/environment.template.json
Due: none

chore(infra): Set minimumTlsVersion to 1.2 for service buses (#749)
  infrastructure/arm/environment.template.json
Due: none

Added propose basePositionId
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added test
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
Due: none

Manually specify allowed proposed values
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Use entire bp object
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: only return existing departments when fetching responsibilities for profile. (#746)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated method name
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Allow resource owner to delete requests in child departments
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: require location in validation for other tasks
  src/backend/api/Fusion.Resources.Api/Controllers/Person/Requests/CreatePersonAbsenceRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/Requests/UpdatePersonAbsenceRequest.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Only allow deleting invalid allocation request
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added test
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

Also allow DelegatedResourceOwner to delete invalid requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Also allow deleting for ResourceOwnerChange requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat(resources): Allow resource owners to delete invalid requests in assgined and child departments (#750)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated Summary api and common infra dependencies
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Updated test projects
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: none

Added Fusion.Events.Core to fix error
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: none

Fixed Error "Engine type was not configured"
  src/backend/api/Fusion.Resources.Database/Configuration/DatabaseConfigurationExtensions.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated resources api dependencies
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Configuration/HttpMessageHandlers/ApplicationCommonLibMessageHandler.cs
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgClient.cs
  src/backend/api/Fusion.Resources.Database/Authentication/AzureTokenAuthenticationManager.cs
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed tests
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: none

fix: comment for ResolveDelegatedResponsibilities
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

feat: require location when proposing changes to a request
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/ApiPositionV2Extensions.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/PositionInstanceBuilder.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: comment for ResolveDelegatedResponsibilities (#753)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml
