Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration

Hide TBN positions when above department in line org (#498)
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/GetTbnPositionTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
Due: pipelines/api-pr-pipeline.yml

add second opinion number
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiSecondOpinion.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbSecondOpinionPrompt.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220616125014_add_secondopinion.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220616125014_add_secondopinion.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
  src/backend/api/Fusion.Resources.Domain/Models/SecondOpinions/QuerySecondOpinion.cs
Due: pipelines/api-pr-pipeline.yml

return bad request when requesting second opinion on closed request
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SecondOpinionTests.cs
Due: pipelines/api-pr-pipeline.yml

refactor to JObjectProxy
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/JsonNetExtensions.cs
  src/backend/api/Fusion.Resources.Domain/JObjectProxy.cs
  src/backend/api/Fusion.Resources.Logic/Extensions/JsonNetExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/UpdateOrgPositionInstanceHaveRequest.cs
Due: pipelines/api-pr-pipeline.yml

fix cloning of JObjects
  src/backend/api/Fusion.Resources.Domain/JObjectProxy.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/ResourceOwner/ProvisionResourceOwnerRequest.cs
Due: pipelines/api-pr-pipeline.yml

fix tests
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

update test dependencies
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

dotnet 5 -> dotnet 6
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

update microsoft packages
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/CheckUserAccessCommandTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

update adaptive cards + swashbuckle
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
Due: pipelines/api-pr-pipeline.yml

update fusion libraries
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/ContextResolverMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Api/DepartmentController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

use dotnet 6 in pipelines
  .github/workflows/test-api.yml
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pr-pipeline.yml

fix jwt lib version conflict
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
Due: pipelines/api-pr-pipeline.yml

reenable nullable
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
Due: pipelines/api-pr-pipeline.yml

Return full second opinion type from personal responses endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/GetSecondOpinions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SecondOpinionTests.cs
Due: pipelines/api-pr-pipeline.yml

fix warnings
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SecondOpinionTests.cs
Due: none

replace preview packages with final release
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

resolve comments
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiSecondOpinion.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddSecondOpinionRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/SecondOpinionNotificationHandler.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbSecondOpinionPrompt.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/AddSecondOpinion.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/GetSecondOpinions.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/SecondOpinionRequested.cs
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/UpdateSecondOpinion.cs
Due: pipelines/api-pr-pipeline.yml

update functions runtime in template
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

update integration models to net6 as well
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

more required props for azure functions v4
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

set netframeworkversion in correct place
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Update to .net 6.0 + packages (#500)
  .github/workflows/test-api.yml
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/CheckUserAccessCommandTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/ContextResolverMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Api/DepartmentController.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix service bus bindings
  src/backend/function/Fusion.Resources.Functions/Functions/ProvisionRequestQueueTrigger.cs
  src/backend/function/Fusion.Resources.Functions/ServiceBus/QueueMessageProcessor.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix nullability warning
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Revert "Update to .net 6.0 + packages (#500)"
  .github/workflows/test-api.yml
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/CheckUserAccessCommandTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/ContextResolverMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Api/DepartmentController.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Revert "Update to .net 6.0 + packages (#500)" (#504)
  .github/workflows/test-api.yml
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/CheckUserAccessCommandTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/ContextResolverMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Api/DepartmentController.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

TBN positions should not return positions with basepositions containing name SUPPORT for PRD projects
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/GetTbnPositionTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Data/BasePositions.csv
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/ApiPositionV2Extensions.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/TestPositionBuilder.cs
Due: pipelines/api-pr-pipeline.yml

change datatype
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
Due: pipelines/api-pr-pipeline.yml

revert change
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
Due: pipelines/api-pr-pipeline.yml

adjust doc-text
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
Due: pipelines/api-pr-pipeline.yml

As L4 leader i don't want requests on support titles (#505)
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/GetTbnPositionTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Data/BasePositions.csv
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/ApiPositionV2Extensions.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Helpers/TestPositionBuilder.cs
Due: pipelines/api-pr-pipeline.yml

Test added
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgServiceMock.cs
Due: none

API - Exception when trying to remove request where position in ORG is already deleted (#507)
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/UpdateOrgPositionInstanceHaveRequest.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Fix service bus connection in azure function (#503)
  .github/workflows/test-api.yml
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Functions/ProvisionRequestQueueTrigger.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/ServiceBus/QueueMessageProcessor.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/DelegatedRoleHandlerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/CheckUserAccessCommandTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/ContextResolverMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Api/DepartmentController.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

fix notification for second opinion
  src/backend/api/Fusion.Resources.Domain/Commands/SecondOpinions/AddSecondOpinion.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/NotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

refactor to DbTestFixture
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/NotificationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
Due: none
