Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

#Refactored Code #Improve the use of Cache and Handling of Claims
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

#edited applyParentmanager #minor refactoring of variables
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Removed unessesary uses
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Endpoint listing delegated department responsibles
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDepartmentResourceOwners.cs
Due: pipelines/api-pr-pipeline.yml

Added IsRoleActive() instead of IsActive, as that should be more correcnt and handle ROles where validTo has Expired
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibles.cs
Due: pipelines/api-pr-pipeline.yml

endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

remove unwanted rest-endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

Check for conflict
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
Due: pipelines/api-pr-pipeline.yml

Add assignedBy
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibles.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

prettyprint
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
Due: pipelines/api-pr-pipeline.yml

rename props
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibles.cs
Due: pipelines/api-pr-pipeline.yml

rename props
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentResponsible.cs
Due: pipelines/api-pr-pipeline.yml

rename props
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibles.cs
Due: pipelines/api-pr-pipeline.yml

input validation
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDelegatedResourceOwnerRequest.cs
Due: pipelines/api-pr-pipeline.yml

validation rule applied
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDelegatedResourceOwnerRequest.cs
Due: pipelines/api-pr-pipeline.yml

fix failing tests after adding validation
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

suppress build warning
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pr-pipeline.yml

#reverted to IsActive as the IsRoleActive() appears to be wrongcly configured
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

New endpoint listing delegated department responsibles (#552)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/AddDelegatedResourceOwnerRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibles.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

#Fixed namin violations and removed unused code
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

Fixed all messages, naminc violations etc
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pr-pipeline.yml

nuget bump stage 1
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionEventHandlerTests/ProjectSync.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Assertion/TestClientHttpResponseAssertions.cs
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

nuget bump stage 2
  src/backend/api/Fusion.Resources.Domain/Behaviours/AuditableCommandBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/RequestValidationBehavior.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/TelemetryBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

New options endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

refactor CheckAllowHeader to extension, and create tests for option endpoint /departments/{departmentId}/delegated-resource-owners
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/TestClientHttpResponseExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none

Options endpoint to be used requesting /departments/{departmentId}/delegated-resource-owners (#553)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/TestClientHttpResponseExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pr-pipeline.yml

Adjust and align authorization rules for endpoints releated delegated resource owners
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

Adjust and align authorization rules for endpoints releated delegated resource owners (#554)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

Add extra properties to model providing dates and reason for delegation
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartment.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiPersonDelegatedResponsibility.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiProposedPerson.cs
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestNotification/NotifyResourceOwnerHandler.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProposedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentHandlerBase.cs
Due: pipelines/api-pr-pipeline.yml

cleanup
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiDepartment.cs
Due: pipelines/api-pr-pipeline.yml

fixed test after nuget upgrade
  src/backend/tests/Fusion.Resources.Api.Tests/FusionEventHandlerTests/ProjectSync.cs
Due: none

remove unused references
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Behaviours/RequestValidationBehavior.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
Due: pipelines/api-pr-pipeline.yml

re-add FluentValidation.AspNetCore
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

fix warning
  src/backend/api/Fusion.Resources.Api/FusionEvents/OrgProjectHandler.cs
Due: pipelines/api-pr-pipeline.yml

fix timing issue
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
Due: none

cleanup project file
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pr-pipeline.yml

add pool to pipeline file deploying functions
  pipelines/function-pipeline.yml
  pipelines/function-pr-pipeline.yml
Due: none

CHORE - Bump Nuget packages (#556)
  pipelines/function-pipeline.yml
  pipelines/function-pr-pipeline.yml
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/FusionEvents/OrgProjectHandler.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Behaviours/AuditableCommandBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/RequestValidationBehavior.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/TelemetryBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionEventHandlerTests/ProjectSync.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Assertion/TestClientHttpResponseAssertions.cs
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
