Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

AbsencePercentage, reset migration and added to models.
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/ApiModels/ApiPersonAbsence.cs
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/Requests/CreatePersonAbsenceRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/Requests/UpdatePersonAbsenceRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbPersonAbsence.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203100944_PersonAbsence.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203100944_PersonAbsence.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
  src/backend/api/Fusion.Resources.Domain/Commands/EmploymentStatus/CreatePersonAbsence.cs
  src/backend/api/Fusion.Resources.Domain/Commands/EmploymentStatus/UpdatePersonAbsence.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonAbsence.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pr-pipeline.yml

Make sure absencePercentage displays 100 in ApiModel if null in backend
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/ApiModels/ApiPersonAbsence.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pr-pipeline.yml

last bump of dependencies. Unable to bump FluentValidation.AspNetCore to v9.x due to other reference issues
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pr-pipeline.yml

Supporting nullables
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ApiModels/ApiResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/Requests/CreateResponsibilityMatrixRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/Requests/UpdateResponsibilityMatrixRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210129091449_ResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203130538_ResponsibilityMatrix.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203130538_ResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResponsibilityMatrix.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

fix migration reset
  src/backend/api/Fusion.Resources.Database/Migrations/20210203130538_ResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203133222_ResponsibilityMatrix.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203133222_ResponsibilityMatrix.cs
Due: pipelines/api-pr-pipeline.yml

Adjust function pipeline to trigger on pull request
  pipelines/function-pipeline.yml
Due: none

trigger build
  src/backend/api/Fusion.Resources.Api/Program.cs
Due: pipelines/api-pr-pipeline.yml

trigger build
  src/backend/api/Fusion.Resources.Api/Program.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/api-pr-pipeline.yml

revert, should fire another build
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: none

Last revert. Pipeline should be ready
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: none

nullable absencepercentage in apimodel
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/ApiModels/ApiPersonAbsence.cs
Due: pipelines/api-pr-pipeline.yml

new file for function pr pipeline, revert the main
  pipelines/function-pipeline.yml
  pipelines/function-pr-pipeline.yml
Due: none

ResourceAllocation - Initial DB & GET/POST/DELETE Endpoints (#190)
  src/backend/api/Fusion.Resources.Api/Authorization/Requirements/ProjectAccess.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/ApiModels/ApiPositionInstance.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/ApiModels/ApiPropertiesCollection.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/ApiModels/ApiProposedPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/Requests/ApiAllocationRequestType.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/Requests/CreateProjectAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/ResourceAllocationController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210129155110_ResourceAllocationRequest entity.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210129155110_ResourceAllocationRequest entity.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProposedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProvisioningStatus.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequestOrgPositionInstance.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetProjectResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetProjectResourceAllocationRequests.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Delete.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Update.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/FusionTestResourceAllocationBuilder.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ResourceAllocationTestData.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResourceAllocationTests.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/ResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

ResourceAllocation - Employment Status (#198)
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/ApiModels/ApiPersonAbsence.cs
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/Requests/CreatePersonAbsenceRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/PersonAbsence/Requests/UpdatePersonAbsenceRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbPersonAbsence.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203100944_PersonAbsence.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203100944_PersonAbsence.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/EmploymentStatus/CreatePersonAbsence.cs
  src/backend/api/Fusion.Resources.Domain/Commands/EmploymentStatus/DeletePersonAbsence.cs
  src/backend/api/Fusion.Resources.Domain/Commands/EmploymentStatus/UpdatePersonAbsence.cs
  src/backend/api/Fusion.Resources.Domain/DbQueries/PersonAbsenceQueries.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonAbsence.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonAbsence.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonAbsenceItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pr-pipeline.yml

remove last migration, retry after merge
  src/backend/api/Fusion.Resources.Database/Migrations/20210203133222_ResponsibilityMatrix.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203133222_ResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
Due: pipelines/api-pr-pipeline.yml

ResourceAllocation - Resource owner allocation matrix (#199)
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Requirements/ScopeAccess.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/CommonEntities/ApiLocation.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ApiModels/ApiResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/Requests/UpdateResponsibilityMatrixRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203153641_ResponsibilityMatrix.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210203153641_ResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/DeleteResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryLocation.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResponsibilityMatrices.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResponsibilityMatrixItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

fix build warnings, nulls, and adjust tests
  src/backend/api/Fusion.Resources.Api/Authorization/Handlers/ProjectAccessAuthHandler.cs
  src/backend/api/Fusion.Resources.Api/Configuration/HttpMessageHandlers/ApplicationCommonLibMessageHandler.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/ApiPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceAllocation/ResourceAllocationController.cs
  src/backend/api/Fusion.Resources.Api/Middleware/RequestResponseLoggingMiddleware.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/AuditableCommandBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/RequestValidationBehavior.cs
  src/backend/api/Fusion.Resources.Domain/Behaviours/TelemetryBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPersonnelItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPersonnelRequests.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPosition.cs
  src/backend/api/Fusion.Resources.Domain/Services/ICompanyResolver.cs
  src/backend/api/Fusion.Resources.Domain/Services/PeopleCompanyResolver.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Create.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Update.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ClaimCreatorExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pr-pipeline.yml

Preview version of internal personnel, using the search api.
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/CommonEntities/ApiProjectReference.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
Due: pipelines/api-pr-pipeline.yml

adjust condition
  pipelines/function-pr-pipeline.yml
Due: none

Added absence and potential fix for intersecting dates
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

Fixed utc/local date when applying filter
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
Due: pipelines/api-pr-pipeline.yml

update apiversion to see if tags apply
  src/backend/infrastructure/arm-templates/environment.template.json
Due: pipelines/environment-pipeline.yml

test pipeline trigger
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: none

introducing prNumber
  pipelines/function-pr-pipeline.yml
  pipelines/templates/deploy-function-template.yml
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: none

parameter bug
  pipelines/templates/deploy-function-template.yml
Due: none

revert name
  pipelines/function-pr-pipeline.yml
Due: none

cleanup
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: none

try with specific function for prnumber
  pipelines/templates/deploy-function-template.yml
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: none

try with specific function for prnumber
  pipelines/function-pipeline.yml
  pipelines/function-pr-pipeline.yml
  pipelines/templates/deploy-function-template.yml
Due: none

try with specific function for prnumber
  pipelines/templates/deploy-function-template.yml
Due: none

slight revert
  pipelines/function-pr-pipeline.yml
  pipelines/templates/deploy-function-template.yml
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: none

cleanup settings.env.pr
  pipelines/templates/deploy-function-template.yml
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: none

revert
  pipelines/templates/deploy-function-template.yml
  src/backend/infrastructure/arm-templates/environment.template.json
Due: pipelines/environment-pipeline.yml

revert
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: none

removed blank spaces
  pipelines/templates/deploy-function-template.yml
Due: none

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
