Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

pipelines/api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Cache@2
        displayName: Cache task
        inputs:
          key: docker | "$(Agent.OS)" | cache
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
              parameters:
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

pipelines/summary-api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
          containerRegistry: fusion-aks-cr
  ...

pipelines/summary-api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

fix(common): Duplicate schemaId error during swagger gen (#735)
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
Due: none

chore: Change to sandbox container registry for PR
  pipelines/api-pr-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
  src/backend/api/Fusion.Resources.Api/appsettings.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated secret
  pipelines/summary-api-pr-pipeline.yml
Due: none

Removed change
  src/backend/api/Fusion.Resources.Api/appsettings.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

touched file to trigger build
  src/Fusion.Summary.Api/appsettings.json
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: Change to sandbox container registry for PR (#736)
  pipelines/api-pr-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
  src/Fusion.Summary.Api/appsettings.json
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

fix: set isResourceOwner to true if user has any department responsibility
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix(summary): Weekly Task owner report adjustments (#733)
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: set isResourceOwner to true if user has any department responsib… (#737)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: Log sending of task owner report
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Log project name if sender is disabled
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Enable weekly task owner report as default
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore(summary): Log sending of task owner report (#738)
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

For TBNPositionsStartingWithinThreeMonths filter out instances that have an active request
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added test case
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: none

Updated tests and also include TBN positions with draft request
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

fix: do not include sibling department if user is departmentManager
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Also get orgPositionInstance for GetActiveRequestsForProjectAsync()
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed GetExpiringAdmins test
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: none

Updated expiring admin logic, Valid to must be less than 3 months
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat(summary): Filter out tbn positions with requests (#739)
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated limits
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Increase replicas
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: Use PathProjectIdentifier projectIdentifier and ensure position belongs to project in GetPositionDepartments()
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: Commented out deletion of aks resources
  pipelines/pr-cleanup-pipeline.yml
Due: none

chore: Comment out deletion of aks resources (#744)
  pipelines/pr-cleanup-pipeline.yml
Due: none

fix(k8s): Increase resource limits (#742)
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore(k8s): Updated tls secret names (#734)
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-ingress-test.yml
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-prod.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-ingress-test.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore(k8s): Increase replicas (#743)
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/deployment-service.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added new endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added a sync command for fetching data for requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestsForAnalyticsAsync.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Renamed function
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonsAbsenceForAnalyticsStream.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestsForAnalyticsStream.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated function to non buffering
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: check that departments exist
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added totalcount to response (header)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestsForAnalyticsStream.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added paged meta to header
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/AnalyticsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/PagedAsyncResult.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonsAbsenceForAnalyticsStream.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestsForAnalyticsStream.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: attempt at fixing GetProfile_ShouldBeEmpty_WhenUserHasNoDepartment test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

Minor fixes to clearify execution
  src/backend/api/Fusion.Resources.Domain/Models/PagedStreamResult.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetPersonsAbsenceForAnalyticsStream.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestsForAnalyticsStream.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
