Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

Fixed duplicate options endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed endpoint not working due to combination and required params
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed incorrect options endpoint
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added tll to pr deploy
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Fixed incorrect auth check
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated old auth usage
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
  src/backend/Fusion.Resources.Authorization/Requirements/GlobalRoleRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Authorization/CanApproveStepHandlerBase.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Fixed response when not allowed to emulate user
  src/backend/api/Fusion.Resources.Api/Controllers/Filter/EmulatedUserSupport.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Feat #23812 - Adjust resource owner recipients
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/backend/api/Fusion.Resources.Api/libman.json
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated the new function with department level filtering
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Removed generated file
  src/backend/api/Fusion.Resources.Api/libman.json
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed env variable value
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Feat #23812 - Adjust resource owner recipients (#712)
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed urls for function apps
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

updated settings template for function apps
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

updated default value for function deployment
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

updated defaults for summary deployment
  src/Fusion.Summary.Functions/Deployment/function.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Removed duplicate portal service
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-template.yml
Due: none

Update src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Aligned class/filename
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
Due: none

Removed todo
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added missing files
  CONTRIBUTING.md
  SECURITY.md
Due: none

Added missing files (#724)
  CONTRIBUTING.md
  SECURITY.md
Due: none

Updated PositionAllocationEnding metric
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated comment and test
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added test setup validation for GetPositionAllocationsEndingNextThreeMonthsTest
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: none

feat: Support workday manager structure (#721)
  src/Fusion.Summary.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/Fusion.Resources.Authorization/IAuthorizationRequirementExtensions.cs
  src/backend/Fusion.Resources.Authorization/Requirements/BeResourceOwnerRequirement.cs
  src/backend/Fusion.Resources.Authorization/Requirements/GlobalRoleRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Filter/EmulatedUserSupport.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.Preview.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ConversationsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ShareRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/api/Fusion.Resources.Api/Deployment/k8s/pr-deployment-env.yml
  src/backend/api/Fusion.Resources.Api/Extensions/ClaimsPrincipalExtensions.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/Authorization/CanApproveStepHandlerBase.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Data/InternalRequestData.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ProjectRequestAccessTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonNotesTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestConversationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: Updated tests and PositionAllocation calculation
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Reduced weekly-department-summary-sender-parallelism default to 1
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat(summary): AZ Func weekly task owner report worker (#714)
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IPeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/PeopleApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientExtensions.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportWorker.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/Fusion.Summary.Functions/ReportCreator/WeeklyTaskOwnerReportDataCreator.cs
  src/tests/Fusion.Summary.Functions.Tests/Notifications/WeeklyTaskOwnerReportDataCreator.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Az sender for sending task owner report
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Mails.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IMailApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/MailApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/MailHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientNames.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/local.settings.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Get context id from context api
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Contexts.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ContextApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IContextApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/ContextHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Invalidate links if context id could not be resolved
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Updated mail design
  src/Fusion.Resources.Functions.Common/ApiClients/IMailApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/MailApiClient.cs
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Fixed buttons not working
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Disabled weekly-task-owner-report-sender function
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

feat: Correct email format for classic outlook
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/WeeklyTaskOwnerReportSender.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Removed reliance on isResourceOwner flag and user full department
  src/backend/api/Fusion.Resources.Domain/Models/QueryOrgUnitReason.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Changed profile to resolve after workday change
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Refactored unused code
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: Fixed profile and relevant-department to resolve correctly after workday update (#725)
  src/backend/api/Fusion.Resources.Domain/Models/QueryOrgUnitReason.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml
