Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

pipelines/api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Cache@2
        displayName: Cache task
        inputs:
          key: docker | "$(Agent.OS)" | cache
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
              parameters:
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

pipelines/summary-api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
          containerRegistry: fusion-aks-cr
  ...

pipelines/summary-api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

fix(resources): Allow location to be null when patching a request (#772)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated fusion integration libs and other packages
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added query to fetch all departments
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentSlugs.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Resources api summary report proxy endpoints
  src/backend/api/Fusion.Resources.Api/Configuration/HttpMessageHandlers/SummaryClientMessageHandler.cs
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SummaryReports/ApiModels/ApiSummaryReport.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SummaryReports/SummaryController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/api/Fusion.Resources.Application/Configuration/ApplicationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Application/Summary/HttpClientNames.cs
  src/backend/api/Fusion.Resources.Application/Summary/ISummaryClient.cs
  src/backend/api/Fusion.Resources.Application/Summary/Models/ResourceOwnerWeeklySummaryReport.cs
  src/backend/api/Fusion.Resources.Application/Summary/Models/SummaryApiCollection.cs
  src/backend/api/Fusion.Resources.Application/Summary/SummaryClient.cs
  src/backend/api/Fusion.Resources.Application/Summary/SummaryIntegrationException.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSummaryReport.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SummaryReportsTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Restructured files and use fusion integration client instead
  src/backend/api/Fusion.Resources.Api/Configuration/HttpMessageHandlers/SummaryClientMessageHandler.cs
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SummaryReports/ApiModels/ApiSummaryReport.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SummaryReports/SummaryController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Configuration/ApplicationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Application/HttpClientNames.cs
  src/backend/api/Fusion.Resources.Application/Summary/ISummaryClient.cs
  src/backend/api/Fusion.Resources.Application/Summary/SummaryClient.cs
  src/backend/api/Fusion.Resources.Application/Summary/SummaryIntegrationException.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/ISummaryClient.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/Models/ResourceOwnerWeeklySummaryReportDto.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/Models/SummaryApiCollection.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/SummaryClient.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/SummaryIntegrationException.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSummaryReport.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed unused commonlib client
  src/backend/api/Fusion.Resources.Api/Configuration/EnvInfo.cs
  src/backend/api/Fusion.Resources.Api/Configuration/HttpClientNames.cs
  src/backend/api/Fusion.Resources.Api/Configuration/HttpMessageHandlers/ApplicationCommonLibMessageHandler.cs
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Allow retrieving multiple reports
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/CommonEntities/ApiCollection.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SummaryReports/SummaryController.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/ISummaryClient.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/Models/SummaryApiCollection.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/SummaryClient.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSummaryReports.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added summary endpoints
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerForSapIdHandler.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerForSapIdRequirement.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiReportMetaData.cs
  src/Fusion.Summary.Api/Controllers/Filter/EmulatedUserSupport.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Domain/Models/QueryReportMetaData.cs
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReportsMetaData.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Revert "Resources api summary report proxy endpoints"
  src/backend/api/Fusion.Resources.Api/Configuration/EnvInfo.cs
  src/backend/api/Fusion.Resources.Api/Configuration/HttpClientNames.cs
  src/backend/api/Fusion.Resources.Api/Configuration/HttpMessageHandlers/ApplicationCommonLibMessageHandler.cs
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/CommonEntities/ApiCollection.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SummaryReports/ApiModels/ApiSummaryReport.cs
  src/backend/api/Fusion.Resources.Api/Controllers/SummaryReports/SummaryController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/api/Fusion.Resources.Application/Configuration/ApplicationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Application/HttpClientNames.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/ISummaryClient.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/Models/ResourceOwnerWeeklySummaryReportDto.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/Models/SummaryApiCollection.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/SummaryClient.cs
  src/backend/api/Fusion.Resources.Application/SummaryClient/SummaryIntegrationException.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetSummaryReports.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/SummaryReportsTests.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed redundant checks
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Fixed authorization
  src/Fusion.Summary.Api/Authorization/AccessRoles.cs
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerForSapIdHandler.cs
  src/Fusion.Summary.Api/Authorization/Requirements/BeResourceOwnerForSapIdRequirement.cs
  src/Fusion.Summary.Api/Authorization/Requirements/HaveGlobalRoleRequirement.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Updated function name
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReport.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Added tests
  src/tests/Fusion.Summary.Api.Tests/Fixture/SummaryWebAppFactory.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/DateUtils.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/SummaryReportHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: none

Updated method name
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Updated no latest report message
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Removed redundant null checks
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added new api version of endpoint that returns all departments without filtering on access
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed unused code and comment
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed unused api version from controller
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Removed unused imports
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

feat(summary): Add query endpoints for getting resource owner reports (#773)
  src/Fusion.Summary.Api/Authorization/AccessRoles.cs
  src/Fusion.Summary.Api/Authorization/Extensions/IAuthorizationRequirementExtensions.cs
  src/Fusion.Summary.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/Fusion.Summary.Api/Authorization/Requirements/HaveGlobalRoleRequirement.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiReportMetaData.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/Filter/EmulatedUserSupport.cs
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Domain/Models/QueryReportMetaData.cs
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklySummaryReportsMetaData.cs
  src/Fusion.Summary.Api/Program.cs
  src/tests/Fusion.Summary.Api.Tests/Fixture/SummaryWebAppFactory.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/DateUtils.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/SummaryReportHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/SummaryReportTests.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Updated GetRelevantOrgUnits to default to filtering out org units with no access
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetRelevantOrgUnits.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

Renamed test method for GetRelevantDepartments to improve clarity
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

Require location for adjustment requests in InternalRequestsController
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

Ensure AddDelegatedDepartmentOwner is successful
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

fix(resources): Require location only for adjusment resource owner requests (#776)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

GetDepartmentAccess
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Add authorization to department endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Revert "Add authorization to department endpoints"
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Revert "GetDepartmentAccess"
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Added endpoint GetPersonnelAllocationAccess
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiPersonnelAllocationAccess.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Add synthetic periodEnd property
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QueryReportMetaData.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklySummaryReport.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Updated api model ApiReportMetaData
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiReportMetaData.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Revert "Added endpoint GetPersonnelAllocationAccess"
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/ApiModels/ApiPersonnelAllocationAccess.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Add auth to GetDepartments
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Version endpoint to 1.1
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Resolve conflicting apiDescriptions
  src/backend/Fusion.Resources.Infrastructure/Swagger/SwaggerSetup.cs
Due: none

feat(summary): Add synthetic periodEnd property (#778)
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiReportMetaData.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiWeeklySummaryReport.cs
  src/Fusion.Summary.Api/Domain/Models/QueryReportMetaData.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklySummaryReport.cs
Due: pipelines/summary-api-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
