Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration

nullable enable
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

align services and clients
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

cleanup
  src/backend/function/Fusion.Resources.Functions/Functions/InternalRequestsFunctions.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Removed more
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryContract.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDelegatedRole.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryPersonnelRequestReference.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated file
  src/backend/function/Fusion.Resources.Functions/Deployment/disabled-functions.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Removed function
  src/backend/function/Fusion.Resources.Functions/ApiClients/ContextApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IContextApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/INotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/NotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Deployment/disabled-functions.json
  src/backend/function/Fusion.Resources.Functions/Functions/Notification.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ISentNotificationsTableClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/IUrlResolver.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/MarkdownDocument.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/MdToken.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/PositionV2Extensions.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/RequestNotificationSender.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/SentNotification.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/SentNotificationsTableClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/UrlResolver.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProvisionRequestQueueTrigger.cs
  src/backend/function/Fusion.Resources.Functions/TableStorage/CloudTableExtensions.cs
  src/backend/function/Fusion.Resources.Functions/TableStorage/TableStorageClient.cs
  src/backend/function/Fusion.Resources.Functions/Telemetry/TelemetryClientExtensions.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
  src/backend/tests/Fusion.Resources.Functions.Tests/IsolatedNotificationSender.cs
  src/backend/tests/Fusion.Resources.Functions.Tests/RequestNotificationSenderTests.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Cleanup
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/ContextHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/NotificationsHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/OrgHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/PeopleHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientFactoryBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Clean up arm
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Mark as oboslete
  src/backend/api/Fusion.Resources.Api/Controllers/Mpp/MppController.cs
Due: pipelines/api-pr-pipeline.yml

Remove documentation
  README.md
  docs/contract-management.md
  docs/images/contracts-general-process.svg
  docs/images/contracts-request-flow.svg
  docs/role-delegation.md
Due: none

Code review
  src/backend/Fusion.Resources.Authorization/Handlers/ProjectAccessAuthHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/ProjectAccess.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
Due: pipelines/api-pr-pipeline.yml

Re-introduce people and resources api clients
  src/backend/api/Fusion.Resources.Domain/Commands/MPP/DeleteContractPosition.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/PeopleHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientFactoryBuilder.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Checking request before patching for access
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Functions/InternalRequestsFunctions.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/OrgHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientFactoryBuilder.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Cleanup contract-code
  src/backend/Fusion.Resources.Authorization/Resources/ContractResource.cs
  src/backend/api/Fusion.Resources.Api/Controllers/CommandDispatcherExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ReplaceProjectPositionInstancesAssignedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/SetPeoplePreferredContractMail.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Identifiers/OrgContractId.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/CompanyRepUpdated.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/ContractRepUpdated.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/ContractRoleDelegated.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/DelegatedContractRoleRecertified.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/ExternalCompanyRepUpdated.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/ExternalContractRepUpdated.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/PersonnelAddedToContract.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/Request/RequestApprovedByCompany.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/Request/RequestApprovedByContractor.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/Request/RequestCreated.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/Request/RequestDeclinedByCompany.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/Request/RequestDeclinedByContractor.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/PersonnelApiHelpers.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/NotificationTests.cs
  src/backend/tests/Fusion.Resources.Test.Core/ApiContractBuilder.cs
  src/backend/tests/Fusion.Resources.Test.Core/DbTestFixture.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/PositionsController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Controllers/ProjectsController.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/FusionTestProjectBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Resolvers/OrgResolverMock.cs
Due: pipelines/api-pr-pipeline.yml

code review fixes
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/InternalRequestsFunctions.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

cleanup project file
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

cleanup project file
  src/backend/function/Fusion.Resources.Functions/Functions/InternalRequestsFunctions.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

added missing comma
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Ensure all endpoints are included in settings
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Ensure all endpoints are included in settings (#526)
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Try to remove cached profile whenever a profile updated event is received.
  src/backend/api/Fusion.Resources.Domain/NotificationHandlers/ProfileUpdatedHandler.cs
Due: pipelines/api-pr-pipeline.yml

Try to remove cached profile whenever a profile updated event is received. (#527)
  src/backend/api/Fusion.Resources.Domain/NotificationHandlers/ProfileUpdatedHandler.cs
Due: pipelines/api-pr-pipeline.yml

Bump fusion nuget packages
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Consider CertThumbprint during startup
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pr-pipeline.yml

Bump fusion nuget packages (#528)
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Cleanupd code based on DevOps userstory#30484
  src/backend/api/Fusion.Resources.Api/Authentication/DelegatedResourceOwnerClaimsTransformer.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentHandlerBase.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibilty.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/RolesClientMock.cs
Due: pipelines/api-pr-pipeline.yml

Made changes based on Pullrequest #530 Comments
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentHandlerBase.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
Due: pipelines/api-pr-pipeline.yml

#updated based on feedback. # also updated Tests to reflect the chagnes
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentHandlerBase.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/RolesClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

#cleanup
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
Due: pipelines/api-pr-pipeline.yml

#Updated LineOrgExtension -- ToQueryDepartment -- ResolveDepartmentChildrenAsync
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
Due: pipelines/api-pr-pipeline.yml

added missing comma (#525)
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Replace delegated department responsibility with scoped role (#530)
  src/backend/api/Fusion.Resources.Api/Authentication/DelegatedResourceOwnerClaimsTransformer.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/AddDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/DeleteDelegatedResourceOwner.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartmentResponsible.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentHandlerBase.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetDelegatedDepartmentResponsibilty.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceOwnerProfile.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/RolesClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

#Crated dotnet ef migration for DelegatedDepartmentResposibility context that was deleted
  src/backend/api/Fusion.Resources.Database/Migrations/20221006104956_DeleteDelegatedDepartmentResponsibility.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20221006104956_DeleteDelegatedDepartmentResponsibility.cs
Due: pipelines/api-pr-pipeline.yml

#first draft of code, not sure if it does what are needed
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiProposedPerson.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProposedPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

#Crated dotnet ef migration for DelegatedDepartmentResposibility context that was deleted (#531)
  src/backend/api/Fusion.Resources.Database/Migrations/20221006104956_DeleteDelegatedDepartmentResponsibility.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20221006104956_DeleteDelegatedDepartmentResponsibility.cs
Due: pipelines/api-pr-pipeline.yml

#tried crating unit test for the AddDelegatedResourceOwner
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

#removed som test code, as it was unneccesary -- still not a proper test , not geting desred results
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

#updated GetDelegatedREsposibles-FromRolesServise to count result of dlegated
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: none
