Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json

Updated gha to net7
  .github/workflows/test-api.yml
Due: none

functions project upgraded to dotnet7
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Refactored bad naming of method
  src/backend/api/Fusion.Resources.Application/ServiceBus/ServiceBusService.cs
Due: pipelines/api-pr-pipeline.yml

Added caching of service bus sender.
  src/backend/api/Fusion.Resources.Application/ServiceBus/ServiceBusService.cs
Due: pipelines/api-pr-pipeline.yml

Fixed test error where collection is modified when logging debug
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: none

Working adaptive card. Needs refactoring
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

cron schedule changed
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportSettings.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Adjusting AdaptiveCard to also display all data
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCard Models/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Refactor and small cleanup
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/PersonnelContent.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

cleanup
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCard/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportSettings.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

unused messagecompleter removed
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

chore: Update to net7.0 (#598)
  .github/workflows/test-api.yml
  src/backend/.config/dotnet-tools.json
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Program.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Application/ServiceBus/ServiceBusService.cs
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/TestMessageBus.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/TestQueueMessage.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml

que name chagned
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

removed unwanted changes
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/SecondOpinionController.cs
Due: pipelines/api-pr-pipeline.yml

removed unwanted changes
  src/backend/api/Fusion.Resources.Api/Controllers/Utilities/UtilitiesController.cs
Due: pipelines/api-pr-pipeline.yml

package cleanup
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

handpicked resourceowner-department added
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

(Feature): Scheduled weekly report (#599)
  README.md
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ApiModels/LineOrg.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ApiModels/Notifications.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ILineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/INotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/NotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Configuration/IServiceCollectionExtensions.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCard/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/PersonnelContent.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Integration/Http/Handlers/NotificationsHttpHandler.cs
  src/backend/function/Fusion.Resources.Functions/Integration/Http/HttpClientFactoryBuilder.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

linq aggregate bug form full deparntment
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

(fix)functions: Lineorg client bug (#600)
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

notification queue added to config
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

deploy template updated
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
Due: none

indend correction
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
Due: none

(fix)functions: Notification queue added to config (#601)
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

timeout added to api-clients
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/NotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/PeopleApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

(fix)Functions: API client timeout (#602)
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/NotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/PeopleApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

merge from master
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

test project updated
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
Due: none

Updated ApiCollection to include pagination with next and previous page
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/CommonEntities/ApiCollection.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/DepartmentRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

WIP - Added more exception handling when provisioning requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Provision.cs
Due: pipelines/api-pr-pipeline.yml

throwing PorvisioningError exception instead of general exception.
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Provision.cs
Due: pipelines/api-pr-pipeline.yml

(fix)Api: Added exception handling for provisioning requests (#604)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Provision.cs
Due: pipelines/api-pr-pipeline.yml

Added where clause to only select resources dbs
  pipelines/pr-cleanup-pipeline.yml
Due: none

Remove controllers and models
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/RequestReferences/CompanyReference.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Contracts/ContractsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Extensions/ContextResolverExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Mpp/MppController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiAccountStatus.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiPersonnelDiscipline.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/Requests/PersonnelDisciplineEntity.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/EmailDomainValidator.cs
Due: pipelines/api-pr-pipeline.yml

fix(pr-cleanup): Only delete resources databases (#605)
  pipelines/pr-cleanup-pipeline.yml
Due: none

all departments within PRD added to weekly report
  src/backend/function/Fusion.Resources.Functions/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added a AdaptiveCardsBuilder and changed the way we generate adaptivecards
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCards/AdaptiveCardBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCards/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Adjustments to getting data for ReportNotification for ResourceOwner
  src/backend/function/Fusion.Resources.Functions/ApiClients/IResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCards/AdaptiveCardBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/Models/AdaptiveCards/ResourceOwnerAdaptiveCardData.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added BeTrustedApplication on GetPersonAbsence to be able to access from functions
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
Due: pipelines/api-pr-pipeline.yml
