Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

pipelines/api-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
              parameters:
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

pipelines/summary-api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      steps:
      - task: Docker@2
        displayName: Login to fusioncr
        inputs:
          command: login
  ...

Validation check
  src/Fusion.Summary.Api/Controllers/Requests/PutDepartmentRequest.cs
Due: pipelines/summary-api-pr-pipeline.yml

Added summary function app to environment.template.json
  infrastructure/arm/environment.template.json
Due: none

Added summary function pipeline and updated pr pipeline
  pipelines/summary-function-pipeline.yml
  pipelines/summary-function-pr-pipeline.yml
Due: none

feat: department-summary-weekly-worker (#668)
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Extensions/DateTimeExtensions.cs
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/ReportCreator/ResourceOwnerReportDataCreator.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: none

Changed json file
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Disabled automatic pr database connection string usage
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Updated summary PR pipeline to deploy PR DB
  pipelines/pr-cleanup-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
  src/Fusion.Summary.Api/Deployment/k8s/deployment-pr-env.yml
Due: pipelines/summary-api-pr-pipeline.yml

Removed debug variable
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Run migration for PR db
  pipelines/summary-api-pr-pipeline.yml
Due: none

chore(summary): Add key vault and fusion sql token support (#666)
  src/Fusion.Summary.Api/ConfigurationExtensions.cs
  src/Fusion.Summary.Api/Database/SqlTokenProvider.cs
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Changed PR env to fra-pr.fusion-resources-app-pr
  pipelines/summary-api-pr-pipeline.yml
Due: none

Made properties nullable to fix warnings
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Notifications.cs
Due: none

Added dbTagPrefix to execute-sql-migration pr
  pipelines/summary-api-pr-pipeline.yml
Due: none

Trigger PR pipeline
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

AzurePowerShell@5
  pipelines/summary-api-pr-pipeline.yml
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Add migration.sql script to ArtifactStagingDirectory
  pipelines/summary-api-pr-pipeline.yml
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Print databaseConnectionString
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Use enablePullRequestEnv
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

More testing
  src/Fusion.Summary.Api/Deployment/k8s/deployment-pr-env.yml
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Fixed typo
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Add PULL_REQUEST_ID env
  src/Fusion.Summary.Api/Deployment/k8s/deployment-pr-env.yml
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Removed testing variables
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Added queue to environment.template.json
  infrastructure/arm/environment.template.json
Due: none

duplicateDetectionHistoryTimeWindow => 1D
  infrastructure/arm/environment.template.json
Due: none

Also use the modified card design for the currently used report worker
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/AdaptiveCardBuilder.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated function packages and .net version
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Removed duplicate package references
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated Summary api
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
Due: pipelines/summary-api-pr-pipeline.yml

Updated packages for resources
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated tests
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
Due: none

Added api versions to mocked profile service controllers
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
Due: none

Changed variable name
  pipelines/templates/secret-rotation/ensure-secret.yml
Due: none

Updated to correct pipeline variable
  pipelines/secret-rotation-pipeline.yml
Due: none

Fix: Changed pipeline variable name (#681)
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/secret-rotation/ensure-secret.yml
Due: none

Rewrote invalid profiles check
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
Due: pipelines/summary-api-pr-pipeline.yml

chore(Summary): Filter departments to PRD and also send report to delegated responsibles (#675)
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiDepartment.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutDepartmentRequest.cs
  src/Fusion.Summary.Api/Database/Migrations/20240821133720_Initial.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20240821133720_Initial.cs
  src/Fusion.Summary.Api/Database/Migrations/SummaryDbContextModelSnapshot.cs
  src/Fusion.Summary.Api/Database/Models/DbDepartment.cs
  src/Fusion.Summary.Api/Domain/Commands/CreateDepartment.cs
  src/Fusion.Summary.Api/Domain/Commands/UpdateDepartment.cs
  src/Fusion.Summary.Api/Domain/Models/QueryDepartment.cs
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
  src/tests/Fusion.Summary.Api.Tests/HandlerTests/DepartmentTests.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/DepartmentHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/DepartmentTests.cs
Due: pipelines/summary-api-pr-pipeline.yml

chore: Update azure functions to .net8 (#680)
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added Microsoft.Extensions.Configuration.Abstractions
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
Due: none

Trigger pipeline
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added Microsoft.Extensions.Configuration.Abstractions to startup projects
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
