Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api

chore: Refactor IAC (#644)
  infrastructure/app-registrations/sp-non-prod.json
  infrastructure/app-registrations/sp-prod.json
  infrastructure/arm/database.template.json
  infrastructure/arm/environment.template.json
  infrastructure/azure-infra-setup.ps1
  infrastructure/config.json
  infrastructure/pipelines.md
  infrastructure/readme.md
  infrastructure/scripts/deploy-database.ps1
  infrastructure/scripts/deploy-resources.ps1
  infrastructure/scripts/ensure-resourcegroup.ps1
  infrastructure/scripts/grant-adapp-sql-access.ps1
  infrastructure/scripts/set-default-keyvault-permissions.ps1
  pipelines/api-pipeline.yml
  pipelines/api-pr-pipeline.yml
  pipelines/environment-pipeline.yml
  pipelines/function-pipeline.yml
  pipelines/function-pr-pipeline.yml
  pipelines/pr-cleanup-pipeline.yml
  pipelines/secret-rotation-pipeline.yml
  pipelines/templates/arm-environments.yml
  pipelines/templates/deploy-container-app.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/execute-sql-migration.yml
  pipelines/templates/get-appinsights-key.yml
  pipelines/templates/get-keyvault-url.yml
  pipelines/templates/grant-database-app-access.yml
  pipelines/templates/secret-rotation/check-for-expiration.yml
  pipelines/templates/secret-rotation/cleanup-expired-secrets.yml
  pipelines/templates/secret-rotation/ensure-secret.yml
  pipelines/templates/secret-rotation/generate-secret.yml
  pipelines/templates/secret-rotation/update-key-vault.yml
  src/backend/infrastructure/arm-templates/database.template.json
  src/backend/infrastructure/cleanup-secrets.ps1
  src/backend/infrastructure/deploy-resources.ps1
  src/backend/infrastructure/fusion-db-config.json
  src/backend/infrastructure/generate-secret.ps1
Due: pipelines/environment-pipeline.yml

Update Program.cs
  src/backend/api/Fusion.Resources.Api/Program.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Update install-fusion-ps.yml
  pipelines/templates/install-fusion-ps.yml
Due: none

Changed to basic powershell task
  pipelines/templates/install-fusion-ps.yml
Due: none

chore(pipelines): Fix resource api pr pipeline (#670)
  pipelines/templates/install-fusion-ps.yml
Due: none

Filter out product positions for GetDepartmentPersonnel
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated az psh task to v5 for fed credentials
  pipelines/templates/deploy-container-app.yml
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
Due: none

chore(pipeline): Fix function pipeline (#672)
  pipelines/templates/deploy-container-app.yml
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
Due: none

Update Startup.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Revert "Add real db health check"
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Updated summary api pipeline to match updated structure
  pipelines/summary-api-pipeline.yml
Due: none

Created GetPreviousWeeksMondayDate() as a helper extenstion to set Period date for reports
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Extensions/DateTimeExtensions.cs
  src/Fusion.Summary.Functions/Functions/WeeklyReportWorker.cs
  src/Fusion.Summary.Functions/ReportCreator/ResourceOwnerReportDataCreator.cs
Due: none

removed whitespace
  src/Fusion.Summary.Functions/Functions/WeeklyReportWorker.cs
Due: none

Fixed wrong summary table names and recreated migrations (#665)
  src/Fusion.Summary.Api/Database/Migrations/20240807132047_Initial.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20240807132047_Initial.cs
  src/Fusion.Summary.Api/Database/Migrations/SummaryDbContextModelSnapshot.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklySummaryReport.cs
Due: pipelines/summary-api-pr-pipeline.yml

Feat: Summary sync puts department on bus
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added queues config changes to deploymentscripts
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Reading queuename from configuration
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: none

Cleaned up queue creation
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.generated.sln
Due: none

Added function to send message on the bus
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Add AppKey to Notifications request
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Notifications.cs
  src/Fusion.Summary.Functions/Functions/WeeklyReportSender.cs
Due: none

Differentiate between LocalSystemAccount and SystemAccount. Use SystemAccount for workflow step auto approval
  src/backend/api/Fusion.Resources.Domain/Behaviours/AuditableCommandBehaviour.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

Updated tests
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/Models/ApiFusionApplicationProfile.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: none

Updated adaptive card
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/WeeklyReportSender.cs
Due: none

Added appkey and changed card version to 1.2
  src/Fusion.Summary.Functions/CardBuilder/AdaptiveCardBuilder.cs
  src/Fusion.Summary.Functions/Functions/WeeklyReportSender.cs
Due: none

Filter to PRD departments and also send to delegated responsible
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyReportSender.cs
Due: none

Feat: Summary sync puts department on bus (#664)
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.generated.sln
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Fixed wrong data calculation
  src/Fusion.Resources.Functions.Common/Extensions/DateTimeExtensions.cs
Due: none

Updated service buss configuration and function to match new changes
  src/Fusion.Summary.Functions/Functions/WeeklyReportWorker.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
Due: none

Removed unused class
  src/Fusion.Summary.Functions/Functions/WeeklyReportWorker.cs
Due: none

Added queue to environment.template.json
  infrastructure/arm/environment.template.json
Due: none

Changed hardcoded Dev environment
  src/Fusion.Summary.Api/Program.cs
Due: pipelines/summary-api-pr-pipeline.yml

Changed what is logged for key vault
  src/Fusion.Summary.Api/ConfigurationExtensions.cs
Due: pipelines/summary-api-pr-pipeline.yml

Logging typo fix
  src/Fusion.Summary.Api/ConfigurationExtensions.cs
Due: pipelines/summary-api-pr-pipeline.yml

Update queue config name
  src/Fusion.Summary.Functions/Functions/WeeklyReportWorker.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: none

Renamed functions
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: none

Updated weekly-department-recipients-sync to include resource owners and delegated resource owners
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummarySender.cs
Due: none

Change naming to WeeklyDepartmentSummaryWorker.cs
  src/Fusion.Summary.Functions/Deployment/disabled-functions.json
  src/Fusion.Summary.Functions/Functions/WeeklyDepartmentSummaryWorker.cs
Due: none

Department model now has list of resource owners and delegated owners.
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiDepartment.cs
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutDepartmentRequest.cs
  src/Fusion.Summary.Api/Database/Migrations/20240821133720_Initial.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20240821133720_Initial.cs
  src/Fusion.Summary.Api/Database/Migrations/SummaryDbContextModelSnapshot.cs
  src/Fusion.Summary.Api/Database/Models/DbDepartment.cs
  src/Fusion.Summary.Api/Domain/Commands/CreateDepartment.cs
  src/Fusion.Summary.Api/Domain/Commands/UpdateDepartment.cs
  src/Fusion.Summary.Api/Domain/Models/QueryDepartment.cs
  src/tests/Fusion.Summary.Api.Tests/HandlerTests/DepartmentTests.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/DepartmentHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/DepartmentTests.cs
Due: pipelines/summary-api-pr-pipeline.yml
