Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
              parameters:
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

Set Complete instead of skip for auto accept
  src/backend/api/Fusion.Resources.Logic/Workflows/AllocationDirectWorkflowV1.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/Base/WorkflowStepFlow.cs
Due: pipelines/api-pr-pipeline.yml

Change cron job
  pipelines/secret-rotation-pipeline.yml
Due: none

fix: branch name in cronjob (#663)
  pipelines/secret-rotation-pipeline.yml
Due: none

Added filter
  src/backend/api/Fusion.Resources.Api/Controllers/AdminController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Projects/SyncProjectStates.cs
Due: pipelines/api-pr-pipeline.yml

Added logging and refactored to a function
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Cleaned up comments
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated reference
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Implemented call to fetch delegated for department
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Renamed property
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Feat: Update with expanded LineOrg API
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Implemented call to fetch delegates
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added incrementation of the batch counter
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added personnel check
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Fixed startup
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Removed run on startup
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Changed department filter
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Updated text
  src/backend/api/Fusion.Resources.Logic/Workflows/AllocationDirectWorkflowV1.cs
Due: pipelines/api-pr-pipeline.yml

update image name
  pipelines/summary-api-pr-pipeline.yml
Due: none

renamed wrong pipeline
  pipelines/summary-api-pipeline.yml
  pipelines/summary-api-pr-pipeline.yml
Due: none

update image repo
  pipelines/summary-api-pipeline.yml
Due: none

Feat: Summary sync puts department on bus
  pipelines/templates/deploy-function-pr-template.yml
  pipelines/templates/deploy-function-template.yml
  pipelines/templates/deploy-summary-function-pr-template.yml
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Reading queuename from configuration
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
Due: none

Fixed minor but with recipients
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

REmoved run at startup
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Feat: Update with expanded LineOrg API (#649)
  src/Fusion.Resources.Functions.Common/ApiClients/IResourcesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/LineOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ResourcesApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/DTOs/ScheduledNotificationQueueDto.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportContentBuilderFunction.cs
  src/backend/function/Fusion.Resources.Functions/Functions/Notifications/ResourceOwner/WeeklyReport/ScheduledReportTimerTriggerFunction.cs
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

target to publish
  pipelines/summary-api-pipeline.yml
Due: none

target to final
  pipelines/summary-api-pipeline.yml
Due: none

Also populate state property for QueryProjectRef
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/CommonEntities/ApiProjectReference.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryTbnPosition.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Added cancellationToken
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pr-pipeline.yml

revert target to publish
  pipelines/summary-api-pipeline.yml
Due: none

Fixed formating
  src/backend/api/Fusion.Resources.Domain/Models/QueryTbnPosition.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Reverted automatic formatting changes
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestNotifications.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Approve.cs
  src/backend/api/Fusion.Resources.Logic/Workflows/AllocationDirectWorkflowV1.cs
Due: pipelines/api-pr-pipeline.yml

Fixed wrong summary table names and recreated migrations
  src/Fusion.Summary.Api/Database/Migrations/20240807132047_Initial.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20240807132047_Initial.cs
  src/Fusion.Summary.Api/Database/Migrations/SummaryDbContextModelSnapshot.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklySummaryReport.cs
Due: none

Added key vault and fusion sql services
  src/Fusion.Summary.Api/ConfigurationExtensions.cs
  src/Fusion.Summary.Api/Database/SqlTokenProvider.cs
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Api/Program.cs
Due: none

Removed unused folder
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
Due: none

feat(resources): Add and track state to projects (#656)
  src/backend/api/Fusion.Resources.Api/Controllers/AdminController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ApiModels/CommonEntities/ApiProjectReference.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/FusionEvents/OrgProjectHandler.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbProject.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240730120534_Add_state_field_to_project.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240730120534_Add_state_field_to_project.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Projects/SyncProjectStates.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryProject.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryTbnPosition.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Revert migrations before master merge
  src/backend/api/Fusion.Resources.Database/Migrations/20240805111627_Add_InitialProposedPerson.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240805111627_Add_InitialProposedPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
Due: pipelines/api-pr-pipeline.yml

Recreated Migrations
  src/backend/api/Fusion.Resources.Database/Migrations/20240808060749_Add_InitialProposedPerson.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20240808060749_Add_InitialProposedPerson.cs
Due: pipelines/api-pr-pipeline.yml

Revert "revert target to publish"
  pipelines/summary-api-pipeline.yml
Due: none

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
