Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployCI
    displayName: CI
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: ci
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

pipelines/fusion-app-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Resources
    jobs:
    - job: Build
      displayName: Build resources bundle
      variables:
        image: fusion-app-resources:$(Build.BuildNumber)
        container: app-resources-$(Build.BuildNumber)
      steps:
  ...

fix test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
Due: none

API - Delegated resource owners should not have access to delegate role as resourceowner they have been delegated (#563)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonControllerTests.cs
  src/backend/tests/Fusion.Testing.Core/Assertion/TestClientHttpResponseAssertions.cs
Due: pipelines/api-pr-pipeline.yml

Introduce CanDelegateAccessToDepartment requirement and adjust endpoints
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/CanDelegateAccessToDepartmentRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

move claim string into constant
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Domain/Authorization/ResourcesClaimTypes.cs
Due: pipelines/api-pr-pipeline.yml

typo fixed
  src/backend/Fusion.Resources.Authorization/Requirements/CanDelegateAccessToDepartmentRequirement.cs
Due: none

async typo
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
Due: pipelines/api-pr-pipeline.yml

adjust messages
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/CanDelegateAccessToDepartmentRequirement.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none

replacing async with Task.CompletedTask
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
Due: none

Resource owners should be expandable, and not retrieved when not requested. Is already expandable in single item query
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

rename property
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

rename and adjust test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

Resource Allocation Requests endpoints poor performance (#565)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Delegate Responsibility - Can delegate to own and descendant departments as resource owner (#564)
  src/backend/Fusion.Resources.Authorization/Handlers/CanDelegateAccessToDepartmentHandler.cs
  src/backend/Fusion.Resources.Authorization/Requirements/CanDelegateAccessToDepartmentRequirement.cs
  src/backend/api/Fusion.Resources.Api/Authentication/ResourcesLocalClaimsTransformation.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/AuthorizationConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Authorization/Extensions/RequirementsBuilderExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Authorization/ResourcesClaimTypes.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Updated to new Fusion Core Services urls
  pipelines/templates/deploy-function-template.yml
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

#rwrorked test, as it condfliced with other tests
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: none

Updated Fusion APIs urls (#568)
  pipelines/templates/deploy-function-template.yml
  src/backend/api/Fusion.Resources.Api/Configuration/IServiceCollectionExtensions.cs
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsControllerTests.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml

Added dependabot
  .github/dependabot.yml
Due: none

Added dependabot (#569)
  .github/dependabot.yml
Due: none

# Added ProposedPErsonTag
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#Added ProposedPersonTags to InterlanRequest
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230424123621_added ProposedPersonTags.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230424123621_added ProposedPersonTags.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

- Chagned Colum name to Property - Shouldn ow also handle "Put" proeprly and add or replace porperties and not just replace the whole proeprty bag
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230425072517_added PropertiesBag.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230425072517_added PropertiesBag.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

#searlising of exsistingProp did not work properly when element was "empty"
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#reverted
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#cahgned to roperties
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#added new method of desearlising
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#Remove property if empty
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#cleanup
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

- more cleanup
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#updated remvoe check
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

# fixed null value error
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#null valuehandling JsonConvert Deserialising
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#fixed Speeling mistake
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#revertet to Properties
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

#reworked the json desearlizer, as it did not work when property was empty
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
Due: pipelines/api-pr-pipeline.yml

Feature ProposedPersonTags (#570)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230424123621_added ProposedPersonTags.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230424123621_added ProposedPersonTags.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230425072517_added PropertiesBag.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20230425072517_added PropertiesBag.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/UpdateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
Due: pipelines/api-pr-pipeline.yml

Added new query to resolve persons that belong to a specific department
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/ResolveLineOrgUnit.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Added new query to resolve persons that belong to a specific department (#571)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/ResolveLineOrgUnit.cs
  src/backend/api/Fusion.Resources.Domain/Utils/PeopleSearchUtils.cs
Due: pipelines/api-pr-pipeline.yml

Use transaction for events so data is commited before external events are dispatched.
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceControllerBase.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResponsibilityMatrix/ResponsibilityMatrixController.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Api/Transaction/IUnifiedTransaction.cs
  src/backend/api/Fusion.Resources.Api/Transaction/IUnifiedTransactionScope.cs
  src/backend/api/Fusion.Resources.Api/Transaction/UnifiedTransaction.cs
  src/backend/api/Fusion.Resources.Api/Transaction/UnifiedTransactionScope.cs
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
Due: pipelines/api-pr-pipeline.yml

Updated breaking changes in fluent validation
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddSecondOpinionRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/BatchCreateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/CreateResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/CreateResourceOwnerAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchInternalRequestRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchSecondOpinionRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/CustomValidatorExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Validation/EmailDomainValidator.cs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/Sharing/RevokeShareRequest.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Validation/CustomValidatorExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Fixed assertion in event tests to remove false negativs
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/NotificationClientMockExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
