Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

fix related department
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
Due: pipelines/api-pr-pipeline.yml

fix department test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: none

Include department for position related endpoint (#390)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml

remove lineorg folder
  src/backend/api/Fusion.Resources.Application/LineOrg/Cache/DepartmentCache.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/ILineOrgResolver.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgCacheRefresher.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgResolver.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgServiceExtensions.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/Models/LineOrgDepartment.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/Models/PaginatedResponse.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/Models/ProfileWithDepartment.cs
Due: pipelines/api-pr-pipeline.yml

Fetching absence should be allowed when current user is requesting own absence
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pr-pipeline.yml

Fetching absence by id should be allowed when current user is requesting own absence
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pr-pipeline.yml

update tests
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

update and consolidate packages
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Options tests for absence
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: none

refactor relevant request paths
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentUnassignedRequests.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetTBNPositions.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentUtils.cs
Due: pipelines/api-pr-pipeline.yml

Add IsRequired and SentBy to request actions (#383)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiRequestAction.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/AddActionRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/Requests/PatchActionRequest.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210824134236_Add_IsRequired_SentBy_ToRequestActions.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210824134236_Add_IsRequired_SentBy_ToRequestActions.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210825082303_Make_IsRequired_SentBy_NonNullable.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210825082303_Make_IsRequired_SentBy_NonNullable.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210826065334_rename_request_tasks_actions.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210826065334_rename_request_tasks_actions.cs
  src/backend/api/Fusion.Resources.Database/ResourcesDbContext.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/AddRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/DeleteRequestTask.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetActionsForRequests.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestActions.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/QueryRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/UpdateRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiRequestAction.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

fix warnings
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
Due: pipelines/api-pr-pipeline.yml

Only use responsibility matrix on relevant requests
  src/backend/api/Fusion.Resources.Domain/Services/RequestRouter.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/RequestAssignment.cs
Due: pipelines/api-pr-pipeline.yml

Improve naming
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
Due: pipelines/api-pr-pipeline.yml

Feature/use lineorg intg lib (#389)
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/Startup.cs
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Application/LineOrg/Cache/DepartmentCache.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/ILineOrgResolver.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgCacheRefresher.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgResolver.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/LineOrgServiceExtensions.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/Models/LineOrgDepartment.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/Models/PaginatedResponse.cs
  src/backend/api/Fusion.Resources.Application/LineOrg/Models/ProfileWithDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Departments/GetRelatedDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/CreateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Commands/ResponsibilityMatrix/UpdateResponsibilityMatrix.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/LineOrgExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Models/QueryDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartment.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentHandlerBase.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartments.cs
  src/backend/api/Fusion.Resources.Domain/Utils/DepartmentPath.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourceApiFixture.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ResponsibilityMatrixTests.cs
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/LineOrgServiceMock.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

Person Absence - Current user should be allowed to get own absence (#391)
  src/backend/api/Fusion.Resources.Api/Controllers/Person/PersonAbsenceController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/PersonAbsenceTests.cs
Due: pipelines/api-pr-pipeline.yml

revert queryfilter and first statement in profilesync
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

fix test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
Due: none

fix test. refreshing user should return ok
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
Due: none

External Personnel - Should consider and mark removed azure profiles as deleted in external personnel (#386)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/PersonnelController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827081538_ExternalPersonnelPerson IsDeleted.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20210827081538_ExternalPersonnelPerson IsDeleted.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/RefreshPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

prevent starting requests with unresolved required actions
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

rename Tasks -> Actions in QueryResourceAllocationRequest
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

prevent approving requests with unresolved required tasks
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

more renames tasks -> actions
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

even more renames task -> action
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/DeleteRequestAction.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

prevent starting requests with unresolved required actions (#393)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbRequestAction.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/DeleteRequestAction.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

Add filters for request actions
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestActions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

hide positions
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

positions outside timeline should never be fetched
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pr-pipeline.yml

de morgan's law ftw
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
Due: pipelines/api-pr-pipeline.yml

assert successful response
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

assert successful response
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

Hide past allocations in timeline (#377)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Revert "Hide past allocations in timeline (#377)"
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Revert "Hide past allocations in timeline (#377)" (#395)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/InternalPersonnelController.cs
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnelPerson.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

rename filter proposedPerson -> proposedPerson.azureUniqueId
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Add filter for proposed person to request endpoints (#379)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Add filters for request actions (#394)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/RequestActionsController.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Tasks/GetRequestActions.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestActionTests.cs
Due: pipelines/api-pr-pipeline.yml

update & consolidate fusion libraries
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/FusionMocks/EventNotificationClientMock.cs
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Api/PersonsController.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

use routing to find relevant position
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
  src/backend/api/Fusion.Resources.Domain/Services/IRequestRouter.cs
  src/backend/api/Fusion.Resources.Domain/Services/RequestRouter.cs
Due: pipelines/api-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
