Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration

revert formatting
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: none

bump and consolidate package versions (#288)
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Resources.Test.Core/Fusion.Resources.Test.Core.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

add acces control to comment endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
Due: pipelines/api-pr-pipeline.yml

disallow comment expansion on request
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

add header to response, not request :man_facepalming:
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

always include Allow header
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/ListExtensions.cs
Due: pipelines/api-pr-pipeline.yml

add task owner test
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
Due: none

Flag changes in org with request number (#293)
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Api/appsettings.json
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/ResetAllocationState.cs
  src/backend/api/Fusion.Resources.Domain/Extensions/IOrgApiClientExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ContractorPersonnelRequest/Provision.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Provision.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Api/Startup.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/OrgServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

more workflow acl tests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

log in other tests as welL
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: none

Add ACL for request comments (#284)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/ApiModels/ApiResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/ListExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryResourceAllocationRequest.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
Due: pipelines/api-pr-pipeline.yml

fix: rename app
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: rename app (#294)
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: typo in app name
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

Fix/rename app (#296)
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: name change
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/index.tsx
Due: none

Fix/rename app (#297)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/index.tsx
Due: none

tests for change requests
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

hide notes when completed
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
Due: pipelines/api-pr-pipeline.yml

delete notes when provisioning
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Allocation/ProvisionAllocationRequest.cs
  src/backend/tests/Fusion.Resources.Logic.Tests/Provisioning/AllocationTests.cs
Due: pipelines/api-pr-pipeline.yml

add enum converter
  src/backend/integration/Fusion.Resources.Integration.Models/Events/ResourceAllocationRequestSubscriptionEvent.cs
Due: pipelines/function-pr-pipeline.yml

deny post/put/delete when request is completed
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Fix notification for task owner
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestsNotificationHandler.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiInternalRequestModel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiTaskOwner.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

fix compiler warnings
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: none

Newtonsoft vs System.Text.Json. Testing models using Newtonsoft
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/ResourceAllocationRequestChangedEvent.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Events/ResourceAllocationRequestEvent.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Events/ResourceAllocationRequestEventType.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Events/ResourceAllocationRequestSubscriptionEvent.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

allow request creator to start resource owner change req
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
Due: pipelines/api-pr-pipeline.yml

Changed to notification from commands instead of controller
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/Handlers/InternalRequests/RequestCreatedHandler.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/Handlers/InternalRequests/RequestDeletedHandler.cs
  src/backend/api/Fusion.Resources.Api/FusionEvents/ResourceAllocationRequestChangedEvent.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/CreateInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Requests/InternalRequests/DeleteInternalRequest.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestCreated.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestDeleted.cs
  src/backend/api/Fusion.Resources.Domain/Notifications/InternalRequests/InternalRequestUpdated.cs
  src/backend/integration/Fusion.Resources.Integration.Models/Fusion.Resources.Integration.Models.csproj
  src/backend/integration/Fusion.Resources.Integration.Models/FusionEvents/EventType.cs
  src/backend/integration/Fusion.Resources.Integration.Models/FusionEvents/ResourceAllocationRequestEvent.cs
  src/backend/integration/Fusion.Resources.Integration.Models/FusionEvents/ResourceAllocationRequestSubscriptionEvent.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationRequestTests.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

handle workflow auth later
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

return bad request when assigned person not in department
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

resolve comments
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/ApiHelpers.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

update request creator permissions on PATCH
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/AuthorizationTests/SecurityMatrixTests.cs
Due: pipelines/api-pr-pipeline.yml

ExpandTaskOwner
  src/backend/api/Fusion.Resources.Api/Notifications/InternalRequestsNotificationHandler.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequestItem.cs
Due: pipelines/api-pr-pipeline.yml

Added validation to check that change request is enabled for project before creating change requests on allocations.
  src/backend/api/Fusion.Resources.Api/Controllers/ApiErrors.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceControllerBase.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/FusionTestProjectBuilder.cs
Due: pipelines/api-pr-pipeline.yml

return bad req when position instance not assigned to person in department
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Added option endpoint to check if request can be create on position instance
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

Updated option endpoint to return 200 also when request cannot be created.
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Testing.Core/Assertion/TestClientHttpResponseAssertions.cs
Due: pipelines/api-pr-pipeline.yml

fix compiler warnings
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

prevent adding comments to completed reqs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/RequestComments.cs
Due: pipelines/api-pr-pipeline.yml

Disable change requests for personnel in projects not in pilot (#301)
  src/backend/api/Fusion.Resources.Api/Controllers/ApiErrors.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Api/Controllers/ResourceControllerBase.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/ResourceOwnerRequestTests.cs
  src/backend/tests/Fusion.Testing.Core/Assertion/TestClientHttpResponseAssertions.cs
  src/backend/tests/Fusion.Testing.Mocks.OrgService/FusionTestProjectBuilder.cs
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/PeopleServiceMock.cs
Due: pipelines/api-pr-pipeline.yml

fix department requests when not tracked in db
  src/backend/api/Fusion.Resources.Domain/Queries/GetDepartments.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentsController.cs
Due: pipelines/api-pr-pipeline.yml
