Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pr-pipeline.yml

pipelines/api-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - stage: BuildDockerImage
    displayName: Build docker image
    jobs:
    - job: BuildImage
      pool: Private Docker
      steps:
      - task: Docker@1
        displayName: Build an image
        inputs:
          azureSubscriptionEndpoint: $(subscriptionService)
  ...

pipelines/environment-pipeline.yml:
  stages:
  - stage: DeployCI
    displayName: CI Azure Infra
    pool: Private Docker
    jobs:
    - deployment: DeployInfra
      environment: fusion-ci
      variables:
        environmentName: ci
      strategy:
        runOnce:
          deploy:
            steps:
            - template: templates/arm-environments.yml
  ...

pipelines/function-pr-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  stages:
  - template: templates/build-function.yml
    parameters:
      project: Fusion.Resources.Functions
  - stage: DeployPR
    displayName: PR
    dependsOn: BuildFunction
    condition: succeeded()
    variables:
      environment: pr
  ...

Update contract-management.md
  docs/contract-management.md
Due: none

Updated docs to fix image placeholder (#444)
  docs/contract-management.md
Due: none

AzFunc - ProfileSync (#443)
  src/backend/api/Fusion.Resources.Domain/Extensions/FusionPersonProfileExtensions.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

bump to net5 and dotnet-isolated
  src/backend/function/Fusion.Resources.Functions/ApiClients/NotificationApiClient.cs
  src/backend/function/Fusion.Resources.Functions/Deployment/function.template.json
  src/backend/function/Fusion.Resources.Functions/Functions/Notification.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
  src/backend/function/Fusion.Resources.Functions/Functions/ProvisionRequestQueueTrigger.cs
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/Program.cs
  src/backend/function/Fusion.Resources.Functions/Startup.cs
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pr-pipeline.yml

fix: table scroll fix and overdu icon
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ProvisioningRequestsPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/styles.less
Due: none

Version patch
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: table scroll fix and overdue icon (#446)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActiveRequestsPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/columns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ActualMppPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelMailsPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ProvisioningRequestsPage/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/styles.less
Due: none

TC 13086 Create a new request. TC 13089 Edit selected request. TC 13090 Delete selected request.
  src/frontend/e2e/cypress/integration/ManageMPP/ActiveRequests/createMPPRequest.spec.ts
  src/frontend/e2e/cypress/support/commands.ts
  src/frontend/e2e/cypress/support/requests.ts
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

Should now not include completed requests in pending requests when getting timeline data
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

Change default value of WithExcludeCompleted to true extensions when fetching Resource allocation requests
  src/backend/api/Fusion.Resources.Domain/Queries/Departments/GetDepartmentPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
Due: pipelines/api-pr-pipeline.yml

Completed requests included in timeline pending requests (#447)
  src/backend/api/Fusion.Resources.Domain/Queries/GetResourceAllocationRequests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/DepartmentRequestsTests.cs
Due: pipelines/api-pr-pipeline.yml

Should not notify task owner when initializing enterprise workflow
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Initialize.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

Use constant instead of magic string.
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Initialize.cs
Due: pipelines/api-pr-pipeline.yml

API - Don't send notification to task owner for enterprise positions (#448)
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/Initialize.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalResourceAllocationNotificationTests.cs
Due: pipelines/api-pr-pipeline.yml

Applied missing await statement in option endpoints
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Applied missing await statement in option endpoints (#449)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
Due: pipelines/api-pr-pipeline.yml

Implement delayed service bus message sender, and use when enqueueing provistioning request
  src/backend/api/Fusion.Resources.Application/ServiceBus/IQueueSender.cs
  src/backend/api/Fusion.Resources.Application/ServiceBus/ServiceBusService.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/QueueProvisioning.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Added UPN property to external personnel and related models
  src/backend/api/Fusion.Resources.Api/Configuration/DatabaseConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiContractPersonnel.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220112143008_ExternalPersonnel UPN property added.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220112143008_ExternalPersonnel UPN property added.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/CreateContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/PersonnelCommandTests.cs
Due: pipelines/api-pr-pipeline.yml

Implement delayed service bus message sender, and use when enqueueing provistioning request (#450)
  src/backend/api/Fusion.Resources.Application/ServiceBus/IQueueSender.cs
  src/backend/api/Fusion.Resources.Application/ServiceBus/ServiceBusService.cs
  src/backend/api/Fusion.Resources.Logic/Requests/Commands/ResourceAllocationRequest/QueueProvisioning.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Fixture/ResourcesApiWebAppFactory.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/DirectRequestTests.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/InternalRequests/NormalRequestTests.cs
Due: pipelines/api-pr-pipeline.yml

Ensure nextStep when calling CanApproveStep
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryWorkflow.cs
Due: pipelines/api-pr-pipeline.yml

Ensure nextStep when calling CanApproveStep (#452)
  src/backend/api/Fusion.Resources.Api/Controllers/Requests/InternalRequestsController.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryWorkflow.cs
Due: pipelines/api-pr-pipeline.yml

Expose IsDeleted and Deleted property for external personnel
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiContractPersonnel.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPersonnelRequests.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetExternalPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
Due: pipelines/api-pr-pipeline.yml

reduce UPN size, adjust UPN faker prop
  src/backend/api/Fusion.Resources.Api/Configuration/DatabaseConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220112143008_ExternalPersonnel UPN property added.cs
  src/backend/api/Fusion.Resources.Database/Migrations/ResourcesDbContextModelSnapshot.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/PersonnelCommandTests.cs
Due: pipelines/api-pr-pipeline.yml

API - ExternalPersonnel UPN property added (#451)
  src/backend/api/Fusion.Resources.Api/Configuration/DatabaseConfigurationExtensions.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiContractPersonnel.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220112143008_ExternalPersonnel UPN property added.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220112143008_ExternalPersonnel UPN property added.cs
  src/backend/api/Fusion.Resources.Domain/Commands/Personnel/CreateContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Services/IProfileServices.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/tests/Fusion.Resources.Domain.Tests/PersonnelCommandTests.cs
Due: pipelines/api-pr-pipeline.yml

Add DELETED property to external personnel table
  src/backend/api/Fusion.Resources.Database/Migrations/20220114134754_ExternalPersonnel DELETED property added.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220114134754_ExternalPersonnel DELETED property added.cs
Due: pipelines/api-pr-pipeline.yml

Add test querying deleted users for contract personnel endpoint
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
Due: none

cleanup
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiExternalPersonnelPerson.cs
Due: pipelines/api-pr-pipeline.yml

API - ExternalPersonnel handle/expose properties indicating users deleted in azure (#453)
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiContractPersonnel.cs
  src/backend/api/Fusion.Resources.Api/Controllers/Personnel/ApiModels/ApiExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Entities/DbExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220114134754_ExternalPersonnel DELETED property added.Designer.cs
  src/backend/api/Fusion.Resources.Database/Migrations/20220114134754_ExternalPersonnel DELETED property added.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Models/QueryExternalPersonnelPerson.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetContractPersonnelRequests.cs
  src/backend/api/Fusion.Resources.Domain/Queries/GetExternalPersonnel.cs
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/tests/Fusion.Resources.Api.Tests/Helpers/Models/Rsponses/TestApiPersonnel.cs
  src/backend/tests/Fusion.Resources.Api.Tests/IntegrationTests/ExternalPersonnel/ExternalPersonnelTests.cs
Due: pipelines/api-pr-pipeline.yml

* feed a request by api * clear a request by api * TC 25345 - reject a request by a contractor
  src/frontend/e2e/cypress/POM/CompletedRequestPage.ts
  src/frontend/e2e/cypress/POM/RejectRequestSidesheet.ts
  src/frontend/e2e/cypress/fixtures/RequestBody.json
  src/frontend/e2e/cypress/integration/ManageMPP/ActiveRequests/createMPPRequest.spec.ts
  src/frontend/e2e/cypress/integration/ManageMPP/RequestWorkflow/contractorRejectRequest.spec.ts
  src/frontend/e2e/cypress/support/index.d.ts
  src/frontend/e2e/cypress/support/requests.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/RejectRequestSideSheet/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/CompletedRequestsPage/index.tsx
Due: none

Added upn to personnel side sheet and table
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/models/Personnel.ts
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditablePositionDetails/index.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/components/EditablePositionDetails/styles.less
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/PersonnelColumns.tsx
  src/frontend/src/pages/ProjectPage/pages/ContractPage/pages/ManagePersonnelPage/styles.less
Due: none

Adjust profile sync. Should now resolve and check by using azureUniqueId if found, and should not update external personnel if azureUniqueId changes
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Domain/Services/ProfileServices.cs
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pr-pipeline.yml, pipelines/function-pr-pipeline.yml

revert test project nuget upgrade
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: none

revert test project nuget upgrade
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
Due: none

another revert
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/api/Fusion.Resources.Logic/Fusion.Resources.Logic.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
Due: pipelines/api-pr-pipeline.yml

another revert
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
Due: pipelines/api-pr-pipeline.yml

another revert
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
Due: none

another revert
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/function-pr-pipeline.yml

simplify model
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/function-pr-pipeline.yml

disable runonstartup
  src/backend/function/Fusion.Resources.Functions/Functions/ProfileSync.cs
Due: pipelines/function-pr-pipeline.yml

Path conditions:
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure/arm-templates
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
