Repository equinor/fusion-app-resources: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/environment-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/fusion-app-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Path conditions:
  pipelines/api-pipeline.yml: any of: src/backend/api
  pipelines/api-pr-pipeline.yml: any of: src/backend/api
  pipelines/environment-pipeline.yml: any of: src/backend/infrastructure
  pipelines/function-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/function-pr-pipeline.yml: any of: src/backend/function, src/backend/integration
  pipelines/fusion-app-pipeline.yml: any of: src/frontend/package.json
  pipelines/summary-api-pr-pipeline.yml: any of: src/Fusion.Summary.Api
  pipelines/summary-function-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common
  pipelines/summary-function-pr-pipeline.yml: any of: src/Fusion.Summary.Functions, src/Fusion.Resources.Functions.Common

fix: delete delegated resource owner
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

fix: delete delegated resource owner (#706)
  src/backend/api/Fusion.Resources.Api/Controllers/Departments/DepartmentsController.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

expose x-trace-id in response headers
  src/Fusion.Summary.Api/Program.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: Moved nuget.config and Directory.Build.props
  src/Directory.Build.props
  src/Fusion.Resources.sln
  src/Fusion.Summary.Api/nuget.config
  src/Fusion.Summary.Functions/nuget.config
  src/backend/Directory.Build.props
  src/backend/Fusion.Resources.Infrastructure/nuget.config
  src/backend/nuget.config
  src/nuget.config
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
  src/tests/Fusion.Summary.Api.Tests/nuget.config
Due: pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Remove nuget.config from docker copy
  src/Fusion.Summary.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: Updated docker files
  src/Fusion.Summary.Api/Dockerfile
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: Updated docker files
  src/Fusion.Summary.Api/Dockerfile
Due: pipelines/summary-api-pr-pipeline.yml

chore: Updated docker files
  src/backend/api/Fusion.Resources.Api/Dockerfile
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml

chore: expose x-trace-id in response headers (#708)
  src/Fusion.Summary.Api/Program.cs
  src/backend/api/Fusion.Resources.Api/Startup.cs
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml

chore: Updated packages
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
  src/tests/Fusion.Summary.Functions.Tests/Fusion.Summary.Functions.Tests.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated org packages
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated functions local.settings.template.json
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
Due: pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Add PR template
  .github/pull_request_template.md
Due: none

chore: Updated packages (#709)
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Summary.Api/Fusion.Summary.Api.csproj
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
  src/Fusion.Summary.Functions/local.settings.template.json
  src/backend/Fusion.Resources.Authorization/Fusion.Resources.Authorization.csproj
  src/backend/Fusion.Resources.Infrastructure/Fusion.Resources.Infrastructure.csproj
  src/backend/api/Fusion.Resources.Api/Fusion.Resources.Api.csproj
  src/backend/api/Fusion.Resources.Application/Fusion.Resources.Application.csproj
  src/backend/api/Fusion.Resources.Database/Fusion.Resources.Database.csproj
  src/backend/api/Fusion.Resources.Domain/Fusion.Resources.Domain.csproj
  src/backend/function/Fusion.Resources.Functions/Fusion.Resources.Functions.csproj
  src/backend/function/Fusion.Resources.Functions/local.settings.template.json
  src/backend/tests/Fusion.Resources.Api.Tests/Fusion.Resources.Api.Tests.csproj
  src/backend/tests/Fusion.Resources.Domain.Tests/Fusion.Resources.Domain.Tests.csproj
  src/backend/tests/Fusion.Resources.Functions.Tests/Fusion.Resources.Functions.Tests.csproj
  src/backend/tests/Fusion.Resources.Logic.Tests/Fusion.Resources.Logic.Tests.csproj
  src/backend/tests/Fusion.Testing.Authentication/Fusion.Testing.Authentication.csproj
  src/backend/tests/Fusion.Testing.Core/Fusion.Testing.Core.csproj
  src/backend/tests/Fusion.Testing.Mocks.ContextService/Fusion.Testing.Mocks.ContextService.csproj
  src/backend/tests/Fusion.Testing.Mocks.LineOrgService/Fusion.Testing.Mocks.LineOrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.OrgService/Fusion.Testing.Mocks.OrgService.csproj
  src/backend/tests/Fusion.Testing.Mocks.ProfileService/Fusion.Testing.Mocks.ProfileService.csproj
  src/tests/Fusion.Summary.Api.Tests/Fusion.Summary.Api.Tests.csproj
  src/tests/Fusion.Summary.Functions.Tests/Fusion.Summary.Functions.Tests.csproj
Due: pipelines/api-pipeline.yml, pipelines/api-pr-pipeline.yml, pipelines/function-pipeline.yml, pipelines/function-pr-pipeline.yml, pipelines/summary-api-pr-pipeline.yml, pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Init db tables
  src/Fusion.Summary.Api/Database/Models/DbProject.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklyTaskOwnerReport.cs
Due: pipelines/summary-api-pr-pipeline.yml

feat: TaskOwnerReport code without KPIs and tests
  src/Fusion.Summary.Api/BaseController.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiProject.cs
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutProjectRequest.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutWeeklyTaskOwnerReportRequest.cs
  src/Fusion.Summary.Api/Controllers/TaskOwnerSummaryController.cs
  src/Fusion.Summary.Api/Database/Models/DbProject.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Database/SummaryDbContext.cs
  src/Fusion.Summary.Api/Domain/Commands/CreateProject.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Domain/Commands/UpdateProject.cs
  src/Fusion.Summary.Api/Domain/Models/Period.cs
  src/Fusion.Summary.Api/Domain/Models/PeriodType.cs
  src/Fusion.Summary.Api/Domain/Models/QueryProject.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Domain/Queries/GetProjects.cs
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklyTaskOwnerReports.cs
Due: pipelines/summary-api-pr-pipeline.yml

chore: Use project Id for taskowner endpoints
  src/Fusion.Summary.Api/Controllers/TaskOwnerSummaryController.cs
Due: pipelines/summary-api-pr-pipeline.yml

Cleanup
  src/Fusion.Resources.sln.DotSettings
  src/Fusion.Summary.Api/Controllers/ResourceOwnerReportsController.cs
  src/Fusion.Summary.Api/Controllers/TaskOwnerReportsController.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Domain/Models/Period.cs
  src/Fusion.Summary.Api/Domain/Models/PeriodType.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklyTaskOwnerReport.cs
Due: pipelines/summary-api-pr-pipeline.yml

Removed personIdentifiers validation
  src/Fusion.Summary.Api/Controllers/DepartmentsController.cs
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
Due: pipelines/summary-api-pr-pipeline.yml

Added report data
  src/Fusion.Summary.Api/Controllers/ApiModels/ApiWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Controllers/Requests/PutWeeklyTaskOwnerReportRequest.cs
  src/Fusion.Summary.Api/Database/Models/DbProject.cs
  src/Fusion.Summary.Api/Database/Models/DbWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklyTaskOwnerReport.cs
  src/Fusion.Summary.Api/Domain/Models/QueryWeeklyTaskOwnerReport.cs
Due: pipelines/summary-api-pr-pipeline.yml

Added migrations
  src/Fusion.Summary.Api/Database/Migrations/20241023141731_Add_TaskOwnerReports_Table.Designer.cs
  src/Fusion.Summary.Api/Database/Migrations/20241023141731_Add_TaskOwnerReports_Table.cs
Due: pipelines/summary-api-pr-pipeline.yml

init
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Roles.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IRolesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/Configuration/IServiceCollectionExtensions.cs
  src/Fusion.Resources.Functions.Common/Extensions/ObjectExtensions.cs
  src/Fusion.Resources.Functions.Common/Fusion.Resources.Functions.Common.csproj
  src/Fusion.Resources.Functions.Common/Integration/Http/Handlers/RolesHttpHandler.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientFactoryBuilder.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientNames.cs
  src/Fusion.Resources.Functions.Common/Integration/ServiceDiscovery/ServiceEndpoint.cs
  src/Fusion.Summary.Functions/Functions/DepartmentResourceOwnerSync.cs
  src/Fusion.Summary.Functions/Functions/Helpers/QueueTimeHelper.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
  src/Fusion.Summary.Functions/Fusion.Summary.Functions.csproj
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Refactored endpoints
  src/Fusion.Summary.Api/Controllers/TaskOwnerReportsController.cs
  src/Fusion.Summary.Api/Domain/Queries/GetWeeklyTaskOwnerReports.cs
Due: pipelines/summary-api-pr-pipeline.yml

Add to queue
  src/Fusion.Resources.Functions.Common/Integration/Errors/ApiError.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
  src/Fusion.Summary.Functions/local.settings.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

chore: Add PR template (#710)
  .github/pull_request_template.md
Due: none

Simplify PUT operation for project and weekly task owner report
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
  src/Fusion.Summary.Api/Controllers/TaskOwnerReportsController.cs
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklyTaskOwnerReport.cs
Due: pipelines/summary-api-pr-pipeline.yml

Added tests
  src/tests/Fusion.Summary.Api.Tests/Helpers/ProjectHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/Helpers/WeeklyTaskOwnerReportHelpers.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/ProjectTests.cs
  src/tests/Fusion.Summary.Api.Tests/IntegrationTests/WeeklyTaskOwnerReportTests.cs
Due: none

Added comment
  src/Fusion.Summary.Api/Domain/Queries/GetProjects.cs
Due: pipelines/summary-api-pr-pipeline.yml

Use apimodel for returned project in PUT
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
  src/Fusion.Summary.Api/Controllers/TaskOwnerReportsController.cs
Due: pipelines/summary-api-pr-pipeline.yml

Updated error message
  src/Fusion.Summary.Api/BaseController.cs
Due: pipelines/summary-api-pr-pipeline.yml

Cleanup
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated PUT project
  src/Fusion.Summary.Api/Controllers/ProjectsController.cs
  src/Fusion.Summary.Api/Domain/Commands/CreateProject.cs
Due: pipelines/summary-api-pr-pipeline.yml

Updated PUT logic
  src/Fusion.Resources.Functions.Common/ApiClients/ISummaryApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/SummaryApiClient.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Update IAC
  infrastructure/arm/environment.template.json
  pipelines/templates/deploy-summary-function-pr-template.yml
  pipelines/templates/deploy-summary-function-template.yml
  src/Fusion.Summary.Functions/Deployment/function.template.json
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Removed old comment
  src/Fusion.Summary.Api/Domain/Commands/PutWeeklyTaskOwnerReport.cs
Due: pipelines/summary-api-pr-pipeline.yml

Send custom queue message with project admins
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
  src/Fusion.Summary.Functions/Models/WeeklyTaskOwnerReportMessage.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Adjustments
  src/Fusion.Resources.Functions.Common/ApiClients/IRolesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
  src/Fusion.Summary.Functions/Models/WeeklyTaskOwnerReportMessage.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Added cancellation support
  src/Fusion.Resources.Functions.Common/ApiClients/ApiModels/Roles.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IOrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/IRolesApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/OrgApiClient.cs
  src/Fusion.Resources.Functions.Common/ApiClients/RolesApiClient.cs
  src/Fusion.Resources.Functions.Common/Integration/Http/HttpClientExtensions.cs
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml

Updated logging
  src/Fusion.Summary.Functions/Functions/TaskOwnerReports/ProjectTaskOwnerSync.cs
Due: pipelines/summary-function-pipeline.yml, pipelines/summary-function-pr-pipeline.yml
